<!DOCTYPE html>
<html>
   <meta http-equiv="content-type" content="text/html;charset=utf-8" />
   <head>
      <link rel="stylesheet" href="../style.css">
      <meta charSet="utf-8" />
      <title>Move by AnyVan | Components | Alerts</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png" />
      <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png" />
   </head>
   <body>
      <div id="__next">
         <div>
            <div class="ub-w_100vw ub-dspl_flex ub-flx-drct_column ub-min-h_100vh ub-box-szg_border-box">
               <nav class="nav-main-system">
                  <div class="logo-box-main"><img class="ub-w_100px ub-h_24px ub-crsr_pointer ub-box-szg_border-box" src="../image/AnyVan-move.svg" /></div>
                  <div class="primary-nav-system"><a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box"
                     href="../index.html" rel="noopener">Home</a><a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box"
                     href="../foundations.html" rel="noopener">Foundations</a><a class="css-b61p4k    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_3366FF ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box"
                     href="../components.html" rel="noopener">Components</a><a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box"
                     href="../patterns.html" rel="noopener">Patterns</a><a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box"
                     href="../resources.html" rel="noopener">Resources</a></div>
               </nav>
               <div class="ub-flx_1 ub-h_100prcnt ub-box-szg_border-box">
                  <div class="ub-w_100prcnt ub-dspl_grid ub-grd-tmp-col_1c86bs ub-box-szg_border-box">
                     <div class="sidebar-nav">
                        <h2>Components</h2>
                        <div role="tablist" class="ub-box-szg_border-box">
                           <a aria-current="page" tabindex="0" href="../components/alerts.html" rel="noopener">Alerts</a>
                           <a tabindex="0" href="app-bars.html" rel="noopener">App bars</a>
                           <a tabindex="0" href="autocomplete.html" rel="noopener">Autocomplete</a>
                           <a tabindex="0" href="avatars.html" rel="noopener">Avatars</a>
                           <a tabindex="0" href="badges.html" rel="noopener">Badges</a>
                           <a tabindex="0" href="banners.html" rel="noopener">Banners</a>
                           <a tabindex="0" href="breadcrumbs.html" rel="noopener">Breadcrumbs</a>
                           <a tabindex="0" href="buttons.html" rel="noopener">Buttons</a>
                           <a tabindex="0" href="cards.html" rel="noopener">Cards</a>
                           <a tabindex="0" href="checkboxes.html" rel="noopener">Checkboxes</a>
                           <a tabindex="0" href="chips.html" rel="noopener">Chips</a>
                           <a tabindex="0" href="counters.html" rel="noopener">Counters</a>
                           <a tabindex="0" href="dialogues.html" rel="noopener">Dialogues</a>
                           <a tabindex="0" href="drawers.html" rel="noopener">Drawers</a>
                           <a tabindex="0" href="fab.html" rel="noopener">FAB</a>
                           <a tabindex="0" href="loaders.html" rel="noopener">Loaders</a>
                           <a tabindex="0" href="lozenges.html" rel="noopener">Lozenges</a>
                           <a tabindex="0" href="menus.html" rel="noopener">Menus</a>
                           <a tabindex="0" href="overlay.html" rel="noopener">Overlay</a>
                           <a tabindex="0" href="pills.html" rel="noopener">Pills</a>
                           <a tabindex="0" href="radio-buttons.html" rel="noopener">Radio buttons</a>
                           <a tabindex="0" href="search.html" rel="noopener">Search</a>
                           <a tabindex="0" href="side-sheets.html" rel="noopener">Side sheets</a>
                           <a tabindex="0" href="status-indicators.html" rel="noopener">Status indicators</a>
                           <a tabindex="0" href="swimlanes.html" rel="noopener">Swimlanes</a>
                           <a tabindex="0" href="switches.html" rel="noopener">Switches</a>
                           <a tabindex="0" href="tables.html" rel="noopener">Tables</a>
                           <a tabindex="0" href="tabs.html" rel="noopener">Tabs</a>
                           <a tabindex="0" href="textarea.html" rel="noopener">Text areas</a>
                           <a tabindex="0" href="text-inputs.html" rel="noopener">Text inputs</a>
                           <a tabindex="0" href="tiles.html" rel="noopener">Tiles</a>
                           <a tabindex="0" href="toggles.html" rel="noopener">Toggles</a>
                           <a tabindex="0" href="tooltips.html" rel="noopener">Tooltips</a>
                           <a tabindex="0" href="wells.html" rel="noopener">Wells</a>
                        </div>
                     </div>
                     <div class="ub-w_100prcnt ub-dspl_flex ub-flx-drct_column ub-just-cnt_flex-start ub-pb_40px ub-pl_40px ub-pr_40px ub-pt_40px ub-max-w_1200px ub-box-szg_border-box">
                        <div class="ub-dspl_flex ub-w_100prcnt ub-just-cnt_space-between ub-flx-drct_column ub-algn-itms_flex-start ub-box-szg_border-box">
                           <div class="ub-dspl_flex ub-w_100prcnt ub-just-cnt_space-between ub-mb_32px ub-box-szg_border-box">
                              <div class="ub-box-szg_border-box">
                                 <div class="lozenge lozenge-s picton">Feedback</div>
                                 <h1>Alerts</h1>
                                 <p>An alert is used to show feedback to the user about an action or state</p>
                              </div>
                           </div>
                        </div>
                        <div>
                           <div class="tabset glo">
                              
                              <input type="radio" name="tabset" id="tab1" aria-controls="overview" checked>
                              <label for="tab1">Overview</label>
                              <input type="radio" name="tabset" id="tab2" aria-controls="usage">
                              <label for="tab2">Usage</label>
                              <input type="radio" name="tabset" id="tab3" aria-controls="design">
                              <label for="tab3">Design</label>
                              <input type="radio" name="tabset" id="tab4" aria-controls="placement">
                              <label for="tab4">Placement</label>
                              <input type="radio" name="tabset" id="tab5" aria-controls="related">
                              <label for="tab5">Related</label>
                              <div class="tab-panels">
                                 <section id="overview" class="tab-panel">
                                    <section>
                                    <h4>Default</h4>
                                    <figure>
                                       <div class="inner alabaster">
                                          <div class="uispacer">
                                             <div class="alert picton">
                                                <h4>This is an informative message</h4>
                                             </div>
                                          </div>
                                       </div>
                                    </figure>
                                    </section>
                                    <section>
                                    <h4>With icon</h4>
                                    <figure>
                                       <div class="inner alabaster">
                                          <div class="uispacer">
                                          <div class="alert carrot">
                                             <div>
                                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 70 70" style="enable-background:new 0 0 70 70;" xml:space="preserve">
<path class="st0" d="M50.4,51.7l-11.8,9c-2.1,1.6-5.1,1.6-7.3,0l-11.8-9c-2.9-2.3-4.7-5.8-4.7-9.5V14c0-3.3,2.7-6,6-6H49
   c3.3,0,6,2.7,6,6v28.3C55.1,46,53.3,49.5,50.4,51.7z"/>
<g>
   <path class="st1" d="M34.9,40.1l0-24"/>
   <path class="st1" d="M25.1,25.9l9.8-9.8l9.8,9.8"/>
</g>
</svg>
                                                <h4>Hmm, that doesn't seem to be a valid postal code</h4>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </figure>
                              </section>
                                    <section>

                                    <h4>With action</h4>
                                    <figure>
                                       <div class="inner alabaster">
                                          <div class="uispacer">
                                          <div class="alert lima">
                                             <h4>You've successfully submitted 442 results</h4>
                                             <a href="" class="btn txt">Undo</a>
                                          </div>
                                       </div>
                                    </div>
                                 </figure>
                              </section>
                                    <section>

                                    <h4>Detailed</h4>
                                    <figure>
                                       <div class="inner alabaster">
                                          <div class="uispacer">
                                          <div class="alert carnation withcopy">
                                             <h4>We weren’t able to complete this action</h4>
                                             <p>There doesn't seem to be a price available for that selected day</p>
                                          </div>
                                       </div>
                                    </div>
                                 </figure>
                              </section>
                                 </section>
                                 <section id="usage" class="tab-panel">
                                    <div class="ex">
                                       <div class="box">
                                          <a class="btn primary btn-m picton" id="openalert">Open success alert</a>
                                       </div>
                                    </div>

                                    <div class="ex">
                                       <div class="box">
                                          <a class="btn primary btn-m picton" id="opendetailedalert">Open detailed alert</a>
                                       </div>
                                    </div>
                                 </section>
                                 <section id="desktop" class="tab-panel">
                                    <section>
                                       <h4>Global</h4>
                                       <table class="compact">
                                          <tr>
                                             <td>border-radius</td><td><div class="lozenge lozenge-s white">Medium</div></td>
                                          </tr>
                                          <tr>
                                             <td>padding</td><td><p>18px</p></td>
                                          </tr>
                                          <tr>
                                             <td>font-size</td><td><p>0.889rem</p></td>
                                          </tr>
                                          <tr>
                                             <td>line-height</td><td><p>1.28</p></td>
                                          </tr>
                                          <tr>
                                             <td>max-width</td><td><p>500px</p></td>
                                          </tr>
                                       </table>
                                    </section>
                                    <section>
                                       <h4>Label</h4>
                                       <table class="compact">
                                          <tr>
                                             <td>font-size</td><td>0.889rem</td>
                                          </tr>
                                          <tr>
                                             <td>font-weight</td><td>bold</td>
                                          </tr>
                                          <tr>
                                             <td>margin-bottom</td><td>3px</td>
                                          </tr>
                                       </table>
                                    </section>
                                    <section>
                                       <h4>Detailed</h4>
                                       <div class="ex ub-dspl_grid">
                                          <div>
                                             <figure>
                                                <div class="inner alabaster">
                                                   <div class="uispacer">
                                                      <div class="alert carnation withcopy">
                                                         <h4>We weren’t able to complete this action</h4>
                                                         <p>There doesn't seem to be a price available for that selected day</p>
                                                      </div>
                                                   </div>
                                                </div>
                                             </figure>
                                          </div>
                                          <div>
                                             <h5>Copy</h5>
                                             <table class="compact">
                                                <tr>
                                                   <td>font-size</td><td>0.79rem</td>
                                                </tr>
                                                <tr>
                                                   <td>font-weight</td><td>400</td>
                                                </tr>
                                             </table>
                                          </div>
                                       </div>
                                    </section>
                                    <section>
                                       <h4>With icon</h4>
                                       <div class="ex ub-dspl_grid">
                                          <div>
                                             <figure>
                                                <div class="inner alabaster">
                                                   <div class="uispacer">
                                                      <div class="alert carrot">
                                                         <div>
                                                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 70 70" style="enable-background:new 0 0 70 70;" xml:space="preserve">
<path class="st0" d="M50.4,51.7l-11.8,9c-2.1,1.6-5.1,1.6-7.3,0l-11.8-9c-2.9-2.3-4.7-5.8-4.7-9.5V14c0-3.3,2.7-6,6-6H49
   c3.3,0,6,2.7,6,6v28.3C55.1,46,53.3,49.5,50.4,51.7z"/>
<g>
   <path class="st1" d="M34.9,40.1l0-24"/>
   <path class="st1" d="M25.1,25.9l9.8-9.8l9.8,9.8"/>
</g>
</svg>
                                                            <h4>Hmm, that doesn't seem to be a valid postal code</h4>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </figure>
                                          </div>
                                          <div>
                                             <h5>Icon</h5>
                                             <table class="compact">
                                                <tr>
                                                   <td>size</td><td><div class="lozenge lozenge-s white">Medium</div></td>
                                                </tr>
                                                <tr>
                                                   <td>margin-right</td><td>9px</td>
                                                </tr>
                                             </table>
                                          </div>
                                       </div>
                                    </section>
                                    <section>
                                       <h4>With action</h4>
                                       <div class="ex ub-dspl_grid">
                                          <div>
                                             <figure>
                                                <div class="inner alabaster">
                                                   <div class="uispacer">
                                                      <div class="alert lima">
                                                         <h4>You've successfully submitted 442 results</h4>
                                                         <a href="" class="btn txt">Undo</a>
                                                      </div>
                                                   </div>
                                                </div>
                                             </figure>
                                          </div>
                                          <div>
                                             <h5>Action</h5>
                                             <table class="compact">
                                                <tr>
                                                   <td>size</td><td><div class="lozenge lozenge-s white">Medium</div></td>
                                                </tr>
                                                <tr>
                                                   <td>margin-right</td><td>9px</td>
                                                </tr>
                                             </table>
                                          </div>
                                       </div>
                                    </section>
                                 </section>
                                 <section id="placement" class="tab-panel">
                                    <p>There are four placement options available for an alert — use <b>top right</b> by default</p>
                                    <div class="placement-grid">
                                       <a class="btn primary btn-m picton" id="opentlalert">Top left</a>
                                       <a class="btn primary btn-m picton" id="opentralert">Top right</a>
                                       <a class="btn primary btn-m picton" id="openblalert">Bottom left</a>
                                       <a class="btn primary btn-m picton" id="openbralert">Bottom right</a>
                                    </div>
                                 </section>
                                 <section id="related" class="tab-panel">
                                    <p>For a static version of an alert, use a <a href="banners.html">banner</a></p>
                                 </section>
                                 <section id="current" class="tab-panel">
                                    <h4>Current</h4>
                                    <img class="deleteme" src="../image/delete-alert/Screenshot 2021-11-30 at 16.15.28.png">
                                 </section>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div id="alertexample" class="alert lima evel-25">
         <h4>You've successfully submitted 442 results</h4>
      </div>

      <div id="alertdetailedexample" class="alert carnation evel-25 withcopy">
         <h4>We weren’t able to complete this action</h4>
         <p>There doesn't seem to be a price available for that selected day</p>
      </div>

      <div id="alertexample1" class="alert carnation evel-25 withcopy topleft">
         <h4>We weren’t able to complete this action</h4>
         <p>There doesn't seem to be a price available for that selected day</p>
      </div>

      <div id="alertexample2" class="alert carnation evel-25 withcopy topright">
         <h4>We weren’t able to complete this action</h4>
         <p>There doesn't seem to be a price available for that selected day</p>
      </div>

      <div id="alertexample3" class="alert carnation evel-25 withcopy bottomright">
         <h4>We weren’t able to complete this action</h4>
         <p>There doesn't seem to be a price available for that selected day</p>
      </div>

      <div id="alertexample4" class="alert carnation evel-25 withcopy bottomleft">
         <h4>We weren’t able to complete this action</h4>
         <p>There doesn't seem to be a price available for that selected day</p>
      </div>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script type="text/javascript">
         $( document ).ready(function() {

            $( "#opentlalert" ).click(function() {
              $( "#alertexample1" ).addClass( "animate--drop-in-fade-out" );
              setTimeout(function(){
                $( "#alertexample1" ).removeClass( "animate--drop-in-fade-out" );
              }, 3500);
            });

            $( "#opentralert" ).click(function() {
              $( "#alertexample2" ).addClass( "animate--drop-in-fade-out" );
              setTimeout(function(){
                $( "#alertexample2" ).removeClass( "animate--drop-in-fade-out" );
              }, 3500);
            });

            $( "#openbralert" ).click(function() {
              $( "#alertexample3" ).addClass( "animate--drop-in-fade-out" );
              setTimeout(function(){
                $( "#alertexample3" ).removeClass( "animate--drop-in-fade-out" );
              }, 3500);
            });

            $( "#openblalert" ).click(function() {
              $( "#alertexample4" ).addClass( "animate--drop-in-fade-out" );
              setTimeout(function(){
                $( "#alertexample4" ).removeClass( "animate--drop-in-fade-out" );
              }, 3500);
            });
         
             $( "#openalert" ).click(function() {
              $( "#alertexample" ).addClass( "animate--drop-in-fade-out" );
              setTimeout(function(){
                $( "#alertexample" ).removeClass( "animate--drop-in-fade-out" );
              }, 3500);
            });

             $( "#opendetailedalert" ).click(function() {
              $( "#alertdetailedexample" ).addClass( "animate--drop-in-fade-out" );
              setTimeout(function(){
                $( "#alertdetailedexample" ).removeClass( "animate--drop-in-fade-out" );
              }, 3500);
            });
         });
      </script>
   </body>
</html>