<!DOCTYPE html>
<html>
   <meta http-equiv="content-type" content="text/html;charset=utf-8" />
   <head>
      <link rel="stylesheet" href="../style.css">
      <meta charSet="utf-8" />
      <title>Move by AnyVan | Components | Autocomplete</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="icon" type="image/png" sizes="16x16" href="../image/favicon-16x16.png" />
      <link rel="icon" type="image/png" sizes="32x32" href="../image/favicon-32x32.png" />
   </head>
   <body>
      <div class="ub-w_100vw ub-dspl_flex ub-flx-drct_column ub-min-h_100vh ub-box-szg_border-box">
         <nav class="nav-main-system">
            <div class="logo-box-main"><img class="ub-w_100px ub-h_24px ub-crsr_pointer ub-box-szg_border-box" src="../image/AnyVan-move.svg" /></div>
            <div class="primary-nav-system"><a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box"
               href="../index.html" rel="noopener">Home</a><a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box"
               href="../foundations.html" rel="noopener">Foundations</a><a class="css-b61p4k    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_3366FF ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box"
               href="../components.html" rel="noopener">Components</a><a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box"
               href="../patterns.html" rel="noopener">Patterns</a><a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box"
               href="../resources.html" rel="noopener">Resources</a></div>
         </nav>
         <div class="ub-flx_1 ub-h_100prcnt ub-box-szg_border-box">
            <div class="ub-w_100prcnt ub-dspl_grid ub-grd-tmp-col_1c86bs ub-box-szg_border-box">
               <div class="sidebar-nav">
                  <h2>Components</h2>
                  <div role="tablist" class="ub-box-szg_border-box">
                     <a tabindex="0" href="alerts.html" rel="noopener">Alerts</a>
                     <a tabindex="0" href="app-bars.html" rel="noopener">App bars</a>
                     <a aria-current="page" tabindex="0" href="components/autocomplete.html" rel="noopener">Autocomplete</a>
                     <a tabindex="0" href="avatars.html" rel="noopener">Avatars</a>
                     <a tabindex="0" href="badges.html" rel="noopener">Badges</a>
                     <a tabindex="0" href="banners.html" rel="noopener">Banners</a>
                     <a tabindex="0" href="breadcrumbs.html" rel="noopener">Breadcrumbs</a>
                     <a tabindex="0" href="buttons.html" rel="noopener">Buttons</a>
                     <a tabindex="0" href="cards.html" rel="noopener">Cards</a>
                     <a tabindex="0" href="checkboxes.html" rel="noopener">Checkboxes</a>
                     <a tabindex="0" href="chips.html" rel="noopener">Chips</a>
                     <a tabindex="0" href="counters.html" rel="noopener">Counters</a>
                     <a tabindex="0" href="dialogues.html" rel="noopener">Dialogues</a>
                     <a tabindex="0" href="drawers.html" rel="noopener">Drawers</a>
                     <a tabindex="0" href="fab.html" rel="noopener">FAB</a>
                     <a tabindex="0" href="loaders.html" rel="noopener">Loaders</a>
                     <a tabindex="0" href="lozenges.html" rel="noopener">Lozenges</a>
                     <a tabindex="0" href="menus.html" rel="noopener">Menus</a>
                     <a tabindex="0" href="overlay.html" rel="noopener">Overlay</a>
                     <a tabindex="0" href="pills.html" rel="noopener">Pills</a>
                     <a tabindex="0" href="radio-buttons.html" rel="noopener">Radio buttons</a>
                     <a tabindex="0" href="search.html" rel="noopener">Search</a>
                     <a tabindex="0" href="side-sheets.html" rel="noopener">Side sheets</a>
                     <a tabindex="0" href="status-indicators.html" rel="noopener">Status indicators</a>
                     <a tabindex="0" href="swimlanes.html" rel="noopener">Swimlanes</a>
                     <a tabindex="0" href="switches.html" rel="noopener">Switches</a>
                     <a tabindex="0" href="tables.html" rel="noopener">Tables</a>
                     <a tabindex="0" href="tabs.html" rel="noopener">Tabs</a>
                     <a tabindex="0" href="textarea.html" rel="noopener">Text areas</a>
                     <a tabindex="0" href="text-inputs.html" rel="noopener">Text inputs</a>
                     <a tabindex="0" href="tiles.html" rel="noopener">Tiles</a>
                     <a tabindex="0" href="toggles.html" rel="noopener">Toggles</a>
                     <a tabindex="0" href="tooltips.html" rel="noopener">Tooltips</a>
                     <a tabindex="0" href="wells.html" rel="noopener">Wells</a>
                  </div>
               </div>
               <div class="ub-w_100prcnt ub-dspl_flex ub-flx-drct_column ub-just-cnt_flex-start ub-pb_40px ub-pl_40px ub-pr_40px ub-pt_40px ub-max-w_1200px ub-box-szg_border-box">
                  <div class="ub-dspl_flex ub-w_100prcnt ub-just-cnt_space-between ub-flx-drct_column ub-algn-itms_flex-start ub-box-szg_border-box">
                     <div class="ub-dspl_flex ub-w_100prcnt ub-just-cnt_space-between ub-mb_32px ub-box-szg_border-box">
                        <div class="ub-box-szg_border-box">
                           <div class="lozenge lozenge-s picton">Input</div>
                           <h1>Autocomplete</h1>
                           <p>The autocomplete component allow user to type and select from a list of options</p>
                        </div>
                     </div>
                  </div>
                  <div>
                     <div class="tabset glo">
                        
                        <input type="radio" name="tabset" id="tab1" aria-controls="overview" checked>
                        <label for="tab1">Overview</label>
                        <input type="radio" name="tabset" id="tab2" aria-controls="groups">
                        <label for="tab2">Groups</label>
                        <input type="radio" name="tabset" id="tab3" aria-controls="usage">
                        <label for="tab3">Usage</label>
                        <input type="radio" name="tabset" id="tab4" aria-controls="current">
                        <label for="tab4">Current</label>
                        <div class="tab-panels">
                           <section id="overview" class="tab-panel">
                              <h4>Default</h4>
                              <p>The autocomplete components renders a filterable list of options in a <a href="menus.html">menu</a> — it does not render in the input. If you need a combination with a text input and trigger button, take a look at the <a href="combobox.html">combobox</a></p>
                              <section>
                                 <figure>
                                    <div class="inner alabaster">
                                       <div class="uispacer">
                                          <input class="typeahead" type="text" placeholder="Search for an item to add, try sofa, end table, dining room chair">
                                       </div>
                                    </div>
                                 </figure>
                              </section>
                              <section>
                                 <h4>On focus</h4>
                                   <figure>
                                    <div class="inner alabaster">
                                       <div class="uispacer">
                                          <input class="typeaheadfocus" type="text" placeholder="Search for a living room item, try coffee table, occassional chair, console">
                                       </div>
                                    </div>
                                 </figure>
                              </section>
                           </section>
                           <section id="groups" class="tab-panel">
                           <div role="listbox" class="tt-menu" aria-expanded="false" style="display: inline-block; position: relative !important;">
                           <div role="presentation" class="tt-dataset tt-dataset-states">
                           <div class="gro">
                           <span class="meta">Customers</span>
                           <div role="option" class="tt-suggestion tt-selectable">
                           <span>John Travolta</span>
                           <span>john.travolta@example.com</span>
                           <span>+44 7423 330 533</span>
                           </div>
                           <div role="option" class="tt-suggestion tt-selectable">
                           <span>Jayne Mansfield</span>
                           <span>jayne.mansfield@example.com</span>
                           <span>+44 7423 330 533</span>
                           </div>
                           </div>
                           <div class="gro">
                           <span class="meta">Jobs</span>
                           <div role="option" class="tt-suggestion tt-selectable">
                           <span>john.travolta@example.com</span>
                           <span>CheekyTransport</span>
                           <span>House Move - One person required</span>
                           <span>16/03/2021</span>
                           </div>
                           </div>
                           <div class="gro">
                           <span class="meta">Quotes</span>
                           <div role="option" class="tt-suggestion tt-selectable">
                           <span>john.travolta@example.com</span>
                           <span>7000005</span>
                           <span>1 x bedside table (Est: 10 cubic metres) - One person requ...</span>
                           <span>Last activity: 16/03/2021 11:34</span>
                           </div>
                           <div role="option" class="tt-suggestion tt-selectable">
                           <span>john.travolta@example.com</span>
                           <span>7000005</span>
                           <span>1 x 4 seater dining table (Est: 10 cubic metres) - One pers...</span>
                           <span>Last activity: 20 minutes ago</span>
                           </div>
                           <div role="option" class="tt-suggestion tt-selectable">
                           <span>john.travolta@example.com</span>
                           <span>7000005</span>
                           <span>Furniture - one person required</span>
                           <span>Last activity: 2 hours ago</span>
                           </div>
                           </div>
                           </div>
                           </div>
                           </section>
                           <section id="usage" class="tab-panel">
                              <h4>Global search</h4>
                              <h4>Inventory search</h4>
                           </section>
                           <section id="current" class="tab-panel">
                              <h4>V4</h4>
                              <img class="deleteme" src="../image/delete-autocomplete/Screenshot 2021-11-30 at 12.11.54.png">

                              
                              <h4>V5</h4>
                              <img class="deleteme" src="../image/delete-autocomplete/Screenshot 2021-11-23 at 17.47.53.png">

                              <img class="deleteme" src="../image/delete-autocomplete/Screenshot 2021-11-23 at 14.23.01.png">
                           </section>
                           </div>
                           </div>
                        </div>
                     </div>
                  </div>
         </div>
      </div>
         
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.3.1/bloodhound.min.js" integrity="sha512-EvIw6kLsqQVDyosPz7YK2se/aTtTMs4q5LaG69ng7CukLR02uUp1CiyrL1Le/0jY6nqFAvCpjkOUPvIzTqv6UA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.3.1/typeahead.jquery.min.js" integrity="sha512-iXWyr4gbeMvV8ZGthbJmZL6DW6F/Fs4Y1xCh3HTMjbXkP7xmC4UEArzge3ZGSXjy9+Yp8mAAaZ39sAipqIJYGw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js" integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script type="text/javascript">
         $( document ).ready(function() {
         var substringMatcher = function(strs) {
         return function findMatches(q, cb) {
         var matches, substringRegex;
         
         // an array that will be populated with substring matches
         matches = [];
         
         // regex used to determine if a string contains the substring `q`
         substrRegex = new RegExp(q, 'i');
         
         // iterate through the pool of strings and for any string that
         // contains the substring `q`, add it to the `matches` array
         $.each(strs, function(i, str) {
          if (substrRegex.test(str)) {
            matches.push(str);
          }
         });
         
         cb(matches);
         };
         };
         
         var states = [{"value":"3 seater sofa","dimensions":"(W) 221cm, (D) 78.7cm, (H) 81.3 cm"},{"value":"2 seater sofa","dimensions":"(W) 241.3cm, (D) 92cm, (H) 76.2cm"},{"value":"Baguette table","dimensions":"(W) 71.1cm, (D) 157.5cm, (H)83.8cm"}
         ];
         
         $('.typeahead').typeahead({
         minLength: 1,
         },
         {
         name: 'states',
         display: 'value',
         source: substringMatcher(states),
          templates: {
            empty: [
              '<div class="empty-message">',
                'unable to find any Best Picture winners that match the current query',
              '</div>'
            ].join('\n'),
            suggestion: Handlebars.compile('<div><h4>{{value}}</h4><p class="infradata">{{dimensions}}</p></div>')
          }
         });
         
         $('.typeaheadfocus').typeahead({
         minLength: 0
         },
         {
         name: 'states',
         display: 'value',
         source: substringMatcher(states),
          templates: {
            empty: [
              '<div class="empty-message">',
                'unable to find any Best Picture winners that match the current query',
              '</div>'
            ].join('\n'),
            suggestion: Handlebars.compile('<div><h4>{{value}}</h4><p class="infradata">{{dimensions}}</p></div>')
          }
         });
         });
      </script>
   </body>
</html>