<!DOCTYPE html>
<html>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <head>
    <link rel="stylesheet" href="../style.css">
    <meta charSet="utf-8" />
    <title>Move by AnyVan | Components | Avatars</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="../image/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="../image/favicon-32x32.png" />
  </head>
  <body>
    <div class="ub-w_100vw ub-dspl_flex ub-flx-drct_column ub-min-h_100vh ub-box-szg_border-box">
      <nav class="nav-main-system">
        <div class="logo-box-main">
          <img class="ub-w_100px ub-h_24px ub-crsr_pointer ub-box-szg_border-box" src="../image/AnyVan-move.svg" />
        </div>
        <div class="primary-nav-system">
          <a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box" href="../index.html" rel="noopener">Home</a>
          <a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box" href="../foundations.html" rel="noopener">Foundations</a>
          <a class="css-b61p4k    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_3366FF ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box" href="../components.html" rel="noopener">Components</a>
          <a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box" href="../patterns.html" rel="noopener">Patterns</a>
          <a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box" href="../resources.html" rel="noopener">Resources</a>
        </div>
      </nav>
      <div class="ub-flx_1 ub-h_100prcnt ub-box-szg_border-box">
        <div class="ub-w_100prcnt ub-dspl_grid ub-grd-tmp-col_1c86bs ub-box-szg_border-box">
          <div class="sidebar-nav">
            <h2>Components</h2>
            <div role="tablist" class="ub-box-szg_border-box">
               <a tabindex="0" href="alerts.html" rel="noopener">Alerts</a>
               <a tabindex="0" href="app-bars.html" rel="noopener">App bars</a>
               <a tabindex="0" href="components/autocomplete.html" rel="noopener">Autocomplete</a>
               <a aria-current="page" tabindex="0" href="avatars.html" rel="noopener">Avatars</a>
               <a tabindex="0" href="badges.html" rel="noopener">Badges</a>
               <a tabindex="0" href="banners.html" rel="noopener">Banners</a>
               <a tabindex="0" href="breadcrumbs.html" rel="noopener">Breadcrumbs</a>
               <a tabindex="0" href="buttons.html" rel="noopener">Buttons</a>
               <a tabindex="0" href="cards.html" rel="noopener">Cards</a>
               <a tabindex="0" href="checkboxes.html" rel="noopener">Checkboxes</a>
               <a tabindex="0" href="chips.html" rel="noopener">Chips</a>
               <a tabindex="0" href="counters.html" rel="noopener">Counters</a>
               <a tabindex="0" href="dialogues.html" rel="noopener">Dialogues</a>
               <a tabindex="0" href="drawers.html" rel="noopener">Drawers</a>
               <a tabindex="0" href="fab.html" rel="noopener">FAB</a>
               <a tabindex="0" href="loaders.html" rel="noopener">Loaders</a>
               <a tabindex="0" href="lozenges.html" rel="noopener">Lozenges</a>
               <a tabindex="0" href="menus.html" rel="noopener">Menus</a>
               <a tabindex="0" href="overlay.html" rel="noopener">Overlay</a>
               <a tabindex="0" href="pills.html" rel="noopener">Pills</a>
               <a tabindex="0" href="radio-buttons.html" rel="noopener">Radio buttons</a>
               <a tabindex="0" href="search.html" rel="noopener">Search</a>
               <a tabindex="0" href="side-sheets.html" rel="noopener">Side sheets</a>
               <a tabindex="0" href="status-indicators.html" rel="noopener">Status indicators</a>
               <a tabindex="0" href="swimlanes.html" rel="noopener">Swimlanes</a>
               <a tabindex="0" href="switches.html" rel="noopener">Switches</a>
               <a tabindex="0" href="tables.html" rel="noopener">Tables</a>
               <a tabindex="0" href="tabs.html" rel="noopener">Tabs</a>
               <a tabindex="0" href="textarea.html" rel="noopener">Text areas</a>
               <a tabindex="0" href="text-inputs.html" rel="noopener">Text inputs</a>
               <a tabindex="0" href="tiles.html" rel="noopener">Tiles</a>
               <a tabindex="0" href="toggles.html" rel="noopener">Toggles</a>
               <a tabindex="0" href="tooltips.html" rel="noopener">Tooltips</a>
               <a tabindex="0" href="wells.html" rel="noopener">Wells</a>
            </div>
          </div>
          <div class="ub-w_100prcnt ub-dspl_flex ub-flx-drct_column ub-just-cnt_flex-start ub-pb_40px ub-pl_40px ub-pr_40px ub-pt_40px ub-max-w_1200px ub-box-szg_border-box">
            <div class="ub-dspl_flex ub-w_100prcnt ub-just-cnt_space-between ub-flx-drct_column ub-algn-itms_flex-start ub-box-szg_border-box">
              <div class="ub-dspl_flex ub-w_100prcnt ub-just-cnt_space-between ub-mb_32px ub-box-szg_border-box">
                <div class="ub-box-szg_border-box">
                  <div class="lozenge lozenge-s picton">Data</div>
                  <h1>Avatars</h1>
                  <p>An avatar is a visual representation of a user or entity</p>
                </div>
              </div>
            </div>
            <div>
              <div class="tabset glo">
                <input type="radio" name="tabset" id="tab1" aria-controls="overview" checked>
                <label for="tab1">Overview</label>
                <input type="radio" name="tabset" id="tab2" aria-controls="sizing">
                <label for="tab2">Sizing</label>
                <input type="radio" name="tabset" id="tab3" aria-controls="metadata">
                <label for="tab3">Metadata</label>
                <input type="radio" name="tabset" id="tab4" aria-controls="design">
                <label for="tab4">Design</label>
                <input type="radio" name="tabset" id="tab5" aria-controls="usage">
                <label for="tab5">Usage</label>
                <input type="radio" name="tabset" id="tab6" aria-controls="current">
                <label for="tab6">Current</label>
                <div class="tab-panels">
                  <section id="overview" class="tab-panel">
                    <section>
                      <h4>Default</h4>
                      <p>A default image is displayed for avatars when a chosen source is unavailable (for example, when there is a problem displaying the image due to an error), or simply unspecified.</p>
                      <figure>
                        <div class="inner alabaster">
                          <div class="uispacer">
                            <div title="Jeroen Ransijn" class="avatar avatar-m saffron two">
                              <span class="inner">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 57.74 67.89">
                                  <g id="Layer_2" data-name="Layer 2">
                                    <g id="Layer_1-2" data-name="Layer 1">
                                      <path class="cls-1" d="M50.62.05c-4.48,0-7.22,2.37-7.22,7.2V46.1h-.22L16.93,3.94A8.28,8.28,0,0,0,9.44,0C3.06,0,0,2.57,0,8.72v52c0,4.83,2.74,7.19,7.22,7.19s7.23-2.36,7.23-7.19V23h.16l26,41c1.9,3,3.48,4,8.23,4,6.33,0,8.86-3.36,8.86-9.29V7.19C57.84,2.42,55.1.05,50.62.05Z"></path>
                                    </g>
                                  </g>
                                </svg>
                              </span>
                            </div>
                          </div>
                        </div>
                      </figure>
                    </section>
                    <section>
                      <h4>Image</h4>
                      <p>Remember to include the <span class="lozenge lozenge-s white">Alto</span> border to avatars, that include images, to account for potential bleed from predominantly white or light images </p>
                      <figure>
                        <div class="inner alabaster">
                          <div class="uispacer">
                            <div title="Jeroen Ransijn" class="avatar avatar-m img-avatar">
                              <img src="https://picsum.photos/45/45" />
                            </div>
                          </div>
                        </div>
                      </figure>
                    </section>
                    <section>
                      <h4>With qualifier</h4>
                      <p>Primarily seen on administrative screens, qualifiers are a</p>
                      <figure>
                        <div class="inner alabaster">
                          <div class="uispacer">
                            <div title="Jeroen Ransijn" class="avatar avatar-m elf five">
                              <span class="inner">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 57.74 67.89">
                                  <g id="Layer_2" data-name="Layer 2">
                                    <g id="Layer_1-2" data-name="Layer 1">
                                      <path class="cls-1" d="M50.62.05c-4.48,0-7.22,2.37-7.22,7.2V46.1h-.22L16.93,3.94A8.28,8.28,0,0,0,9.44,0C3.06,0,0,2.57,0,8.72v52c0,4.83,2.74,7.19,7.22,7.19s7.23-2.36,7.23-7.19V23h.16l26,41c1.9,3,3.48,4,8.23,4,6.33,0,8.86-3.36,8.86-9.29V7.19C57.84,2.42,55.1.05,50.62.05Z" />
                                    </g>
                                  </g>
                                </svg>
                              </span>
                              <div class="qual picton">
                                <svg enable-background="new 0 0 70 70" version="1.1" viewBox="0 0 70 70" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                  <path class="st0" d="m56.1 61.8v-8.9c0-5.8-2-10.8-6.4-14.8-4.2-4.2-9.1-6.1-14.8-6.1s-10.7 2.1-14.9 6.4c-4.2 4.2-6.1 8.9-6.1 14.5v9.1" />
                                  <path class="st0" d="m46.7 19.9c0-6.5-5.3-11.9-12-11.9s-11.9 5.3-11.9 11.9 5.3 11.9 11.9 11.9 12-5.3 12-11.9z" />
                                </svg>
                              </div>
                            </div>
                          </div>
                        </div>
                      </figure>
                    </section>
                  </section>
                  <section id="sizing" class="tab-panel">
                    <h4>Large</h4>
                    <div class="ex ub-dspl_grid">
                      <div>
                        <figure>
                          <div class="inner alabaster">
                            <div class="uispacer">
                              <div title="Jeroen Ransijn" class="avatar avatar-l rose one three">
                                <span class="inner">
                                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 59.42 68">
                                    <g id="Layer_2" data-name="Layer 2">
                                      <g id="Layer_1-2" data-name="Layer 1">
                                        <g id="Layer_2-2" data-name="Layer 2">
                                          <g id="Layer_1-2-2" data-name="Layer 1-2">
                                            <path class="cls-1" d="M39.86,5.46C38.23.84,35.22,0,31.8,0H28.21c-3.64,0-6,1.21-7.33,4.57L1.48,55.66A21,21,0,0,0,0,61.38C0,65.37,2.85,68,7,68c3.59,0,5.64-1.21,6.7-4.1L17.65,53H41.76L45.61,63.9c1.11,2.89,3.48,4.1,6.75,4.1a6.83,6.83,0,0,0,7.06-6.57A19.52,19.52,0,0,0,58,55.66ZM20.93,42.53l8.86-26.3H30l8.49,26.3Z"></path>
                                          </g>
                                        </g>
                                      </g>
                                    </g>
                                  </svg>
                                </span>
                              </div>
                            </div>
                          </div>
                        </figure>
                      </div>
                      <div>
                        <table class="compact">
                          <tbody>
                            <tr>
                              <td>width</td>
                              <td>
                                <div class="lozenge lozenge-s white">Large</div>
                              </td>
                            </tr>
                            <tr>
                              <td>height</td>
                              <td>
                                <div class="lozenge lozenge-s white">Large</div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <h4>Medium</h4>
                    <div class="ex ub-dspl_grid">
                      <div>
                        <figure>
                          <div class="inner alabaster">
                            <div class="uispacer">
                              <div title="Jeroen Ransijn" class="avatar avatar-m saffron two">
                                <span class="inner">
                                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 59.42 68">
                                    <g id="Layer_2" data-name="Layer 2">
                                      <g id="Layer_1-2" data-name="Layer 1">
                                        <g id="Layer_2-2" data-name="Layer 2">
                                          <g id="Layer_1-2-2" data-name="Layer 1-2">
                                            <path class="cls-1" d="M39.86,5.46C38.23.84,35.22,0,31.8,0H28.21c-3.64,0-6,1.21-7.33,4.57L1.48,55.66A21,21,0,0,0,0,61.38C0,65.37,2.85,68,7,68c3.59,0,5.64-1.21,6.7-4.1L17.65,53H41.76L45.61,63.9c1.11,2.89,3.48,4.1,6.75,4.1a6.83,6.83,0,0,0,7.06-6.57A19.52,19.52,0,0,0,58,55.66ZM20.93,42.53l8.86-26.3H30l8.49,26.3Z"></path>
                                          </g>
                                        </g>
                                      </g>
                                    </g>
                                  </svg>
                                </span>
                              </div>
                            </div>
                          </div>
                        </figure>
                      </div>
                      <div>
                        <table class="compact">
                          <tbody>
                            <tr>
                              <td>width</td>
                              <td>
                                <div class="lozenge lozenge-s white">Medium</div>
                              </td>
                            </tr>
                            <tr>
                              <td>height</td>
                              <td>
                                <div class="lozenge lozenge-s white">Medium</div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <h4>Small</h4>
                    <div class="ex ub-dspl_grid">
                      <div>
                        <figure>
                          <div class="inner alabaster">
                            <div class="uispacer">
                              <div title="Jeroen Ransijn" class="avatar avatar-s opera three">
                                <span class="inner">
                                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 59.42 68">
                                    <g id="Layer_2" data-name="Layer 2">
                                      <g id="Layer_1-2" data-name="Layer 1">
                                        <g id="Layer_2-2" data-name="Layer 2">
                                          <g id="Layer_1-2-2" data-name="Layer 1-2">
                                            <path class="cls-1" d="M39.86,5.46C38.23.84,35.22,0,31.8,0H28.21c-3.64,0-6,1.21-7.33,4.57L1.48,55.66A21,21,0,0,0,0,61.38C0,65.37,2.85,68,7,68c3.59,0,5.64-1.21,6.7-4.1L17.65,53H41.76L45.61,63.9c1.11,2.89,3.48,4.1,6.75,4.1a6.83,6.83,0,0,0,7.06-6.57A19.52,19.52,0,0,0,58,55.66ZM20.93,42.53l8.86-26.3H30l8.49,26.3Z"></path>
                                          </g>
                                        </g>
                                      </g>
                                    </g>
                                  </svg>
                                </span>
                              </div>
                            </div>
                          </div>
                        </figure>
                      </div>
                      <div>
                        <table class="compact">
                          <tbody>
                            <tr>
                              <td>width</td>
                              <td>
                                <div class="lozenge lozenge-s white">Small</div>
                              </td>
                            </tr>
                            <tr>
                              <td>height</td>
                              <td>
                                <div class="lozenge lozenge-s white">Small</div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </section>
                  <section id="metadata" class="tab-panel">
                    <section>
                      <h4>Qualifiers</h4>
                      <section>
                        <h5>Transport partner</h5>
                        <figure>
                          <div class="inner alabaster">
                            <div class="uispacer">
                              <div title="Jeroen Ransijn" class="avatar avatar-l teal one">
                                <span class="inner">
                                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 57.74 67.89">
                                    <g id="Layer_2" data-name="Layer 2">
                                      <g id="Layer_1-2" data-name="Layer 1">
                                        <path class="cls-1" d="M50.62.05c-4.48,0-7.22,2.37-7.22,7.2V46.1h-.22L16.93,3.94A8.28,8.28,0,0,0,9.44,0C3.06,0,0,2.57,0,8.72v52c0,4.83,2.74,7.19,7.22,7.19s7.23-2.36,7.23-7.19V23h.16l26,41c1.9,3,3.48,4,8.23,4,6.33,0,8.86-3.36,8.86-9.29V7.19C57.84,2.42,55.1.05,50.62.05Z"></path>
                                      </g>
                                    </g>
                                  </svg>
                                </span>
                                <div class="qual whale">
                                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 70 70" style="enable-background:new 0 0 70 70;" xml:space="preserve">
                                    <path class="st0" d="M61.9,30.3l-4.2-7.9c-0.5-1-1.5-1.6-2.6-1.6h-8.5v20.5c0.3-0.1,0.6-0.1,1-0.1c3.2,0,5.8,2.6,5.8,5.8H59
            c1.7,0,3-1.3,3-3V30.8C62,30.6,62,30.5,61.9,30.3z" />
                                    <path class="st0" d="M46.6,41.3V20.9V20c0-1.6-1.3-3-3-3H11c-1.7,0-3,1.3-3,3v24.1c0,1.7,1.4,3,3,3h1.8c0-3.2,2.6-5.8,5.8-5.8
            s5.8,2.6,5.8,5.8h17.4C41.7,44.2,43.8,41.8,46.6,41.3z" />
                                    <path class="st0" d="M18.6,52.9c3.2,0,5.8-2.6,5.8-5.8s-2.6-5.8-5.8-5.8s-5.8,2.6-5.8,5.8C12.8,50.3,15.4,52.9,18.6,52.9z" />
                                    <path class="st0" d="M47.5,52.9c3.2,0,5.8-2.6,5.8-5.8s-2.6-5.8-5.8-5.8s-5.8,2.6-5.8,5.8C41.7,50.3,44.3,52.9,47.5,52.9z" />
                                  </svg>
                                </div>
                              </div>
                            </div>
                          </div>
                        </figure>
                      </section>
                      <section>
                        <h5>Customer</h5>
                        <figure>
                          <div class="inner alabaster">
                            <div class="uispacer">
                              <div title="Jeroen Ransijn" class="avatar avatar-l rose five">
                                <span class="inner">
                                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 59.42 68">
                                    <g id="Layer_2" data-name="Layer 2">
                                      <g id="Layer_1-2" data-name="Layer 1">
                                        <g id="Layer_2-2" data-name="Layer 2">
                                          <g id="Layer_1-2-2" data-name="Layer 1-2">
                                            <path class="cls-1" d="M39.86,5.46C38.23.84,35.22,0,31.8,0H28.21c-3.64,0-6,1.21-7.33,4.57L1.48,55.66A21,21,0,0,0,0,61.38C0,65.37,2.85,68,7,68c3.59,0,5.64-1.21,6.7-4.1L17.65,53H41.76L45.61,63.9c1.11,2.89,3.48,4.1,6.75,4.1a6.83,6.83,0,0,0,7.06-6.57A19.52,19.52,0,0,0,58,55.66ZM20.93,42.53l8.86-26.3H30l8.49,26.3Z"></path>
                                          </g>
                                        </g>
                                      </g>
                                    </g>
                                  </svg>
                                </span>
                                <div class="qual picton">
                                  <svg enable-background="new 0 0 70 70" version="1.1" viewBox="0 0 70 70" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                    <path class="st0" d="m56.1 61.8v-8.9c0-5.8-2-10.8-6.4-14.8-4.2-4.2-9.1-6.1-14.8-6.1s-10.7 2.1-14.9 6.4c-4.2 4.2-6.1 8.9-6.1 14.5v9.1" />
                                    <path class="st0" d="m46.7 19.9c0-6.5-5.3-11.9-12-11.9s-11.9 5.3-11.9 11.9 5.3 11.9 11.9 11.9 12-5.3 12-11.9z" />
                                  </svg>
                                </div>
                              </div>
                            </div>
                          </div>
                        </figure>
                      </section>
                      <section>
                        <h5>Primary driver</h5>
                        <figure>
                          <div class="inner alabaster">
                            <div class="uispacer">
                              <div title="Jeroen Ransijn" class="avatar avatar-l hibiscus five">
                                <span class="inner">
                                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 59.42 68">
                                    <g id="Layer_2" data-name="Layer 2">
                                      <g id="Layer_1-2" data-name="Layer 1">
                                        <g id="Layer_2-2" data-name="Layer 2">
                                          <g id="Layer_1-2-2" data-name="Layer 1-2">
                                            <path class="cls-1" d="M39.86,5.46C38.23.84,35.22,0,31.8,0H28.21c-3.64,0-6,1.21-7.33,4.57L1.48,55.66A21,21,0,0,0,0,61.38C0,65.37,2.85,68,7,68c3.59,0,5.64-1.21,6.7-4.1L17.65,53H41.76L45.61,63.9c1.11,2.89,3.48,4.1,6.75,4.1a6.83,6.83,0,0,0,7.06-6.57A19.52,19.52,0,0,0,58,55.66ZM20.93,42.53l8.86-26.3H30l8.49,26.3Z"></path>
                                          </g>
                                        </g>
                                      </g>
                                    </g>
                                  </svg>
                                </span>
                                <div class="qual picton">
                                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 70 70" style="enable-background:new 0 0 70 70;" xml:space="preserve">
                                    <path class="st0" d="M36.4,15.9l12-6.3c2.2-1.2,4.8,0.7,4.4,3.2l-2.3,13.4c-0.2,1,0.2,2,0.9,2.7l9.7,9.5c1.8,1.7,0.8,4.8-1.7,5.1
   l-13.4,1.9c-1,0.1-1.8,0.8-2.3,1.6l-6,12.2c-1.1,2.2-4.3,2.2-5.4,0l-6-12.2c-0.4-0.9-1.3-1.5-2.3-1.6l-13.4-1.9
   C8.2,43,7.2,40,9,38.2l9.7-9.5c0.7-0.7,1-1.7,0.9-2.7l-2.3-13.4c-0.4-2.5,2.2-4.3,4.4-3.2l12,6.3C34.5,16.3,35.5,16.3,36.4,15.9z" />
                                  </svg>
                                </div>
                              </div>
                            </div>
                          </div>
                        </figure>
                      </section>
                    </section>
                    <section>
                      <h4>Status indicators</h4>
                      <p>By default, status indicators has no positioning attached to it. Depending on your context, you can modify the activity indicator’s positioning using any combination of atomic classes. Since our activity indicator has no inherent semantic meaning, make sure to include visually-hidden, screenreader-only text</p>
                      <section>
                        <figure>
                          <div class="inner alabaster">
                            <div class="uispacer uispacer-even-space">
                              <div title="Jeroen Ransijn" class="avatar avatar-l hibiscus five">
                                <span class="inner">
                                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 59.42 68">
                                    <g id="Layer_2" data-name="Layer 2">
                                      <g id="Layer_1-2" data-name="Layer 1">
                                        <g id="Layer_2-2" data-name="Layer 2">
                                          <g id="Layer_1-2-2" data-name="Layer 1-2">
                                            <path class="cls-1" d="M39.86,5.46C38.23.84,35.22,0,31.8,0H28.21c-3.64,0-6,1.21-7.33,4.57L1.48,55.66A21,21,0,0,0,0,61.38C0,65.37,2.85,68,7,68c3.59,0,5.64-1.21,6.7-4.1L17.65,53H41.76L45.61,63.9c1.11,2.89,3.48,4.1,6.75,4.1a6.83,6.83,0,0,0,7.06-6.57A19.52,19.52,0,0,0,58,55.66ZM20.93,42.53l8.86-26.3H30l8.49,26.3Z"></path>
                                          </g>
                                        </g>
                                      </g>
                                    </g>
                                  </svg>
                                </span>
                                <div class="lima status status-l"></div>
                              </div>
                              <div title="Jeroen Ransijn" class="avatar avatar-m hibiscus five">
                                <span class="inner">
                                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 59.42 68">
                                    <g id="Layer_2" data-name="Layer 2">
                                      <g id="Layer_1-2" data-name="Layer 1">
                                        <g id="Layer_2-2" data-name="Layer 2">
                                          <g id="Layer_1-2-2" data-name="Layer 1-2">
                                            <path class="cls-1" d="M39.86,5.46C38.23.84,35.22,0,31.8,0H28.21c-3.64,0-6,1.21-7.33,4.57L1.48,55.66A21,21,0,0,0,0,61.38C0,65.37,2.85,68,7,68c3.59,0,5.64-1.21,6.7-4.1L17.65,53H41.76L45.61,63.9c1.11,2.89,3.48,4.1,6.75,4.1a6.83,6.83,0,0,0,7.06-6.57A19.52,19.52,0,0,0,58,55.66ZM20.93,42.53l8.86-26.3H30l8.49,26.3Z"></path>
                                          </g>
                                        </g>
                                      </g>
                                    </g>
                                  </svg>
                                </span>
                                <div class="lima status status-m"></div>
                              </div>
                              <div title="Jeroen Ransijn" class="avatar avatar-s hibiscus five">
                                <span class="inner">
                                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 59.42 68">
                                    <g id="Layer_2" data-name="Layer 2">
                                      <g id="Layer_1-2" data-name="Layer 1">
                                        <g id="Layer_2-2" data-name="Layer 2">
                                          <g id="Layer_1-2-2" data-name="Layer 1-2">
                                            <path class="cls-1" d="M39.86,5.46C38.23.84,35.22,0,31.8,0H28.21c-3.64,0-6,1.21-7.33,4.57L1.48,55.66A21,21,0,0,0,0,61.38C0,65.37,2.85,68,7,68c3.59,0,5.64-1.21,6.7-4.1L17.65,53H41.76L45.61,63.9c1.11,2.89,3.48,4.1,6.75,4.1a6.83,6.83,0,0,0,7.06-6.57A19.52,19.52,0,0,0,58,55.66ZM20.93,42.53l8.86-26.3H30l8.49,26.3Z"></path>
                                          </g>
                                        </g>
                                      </g>
                                    </g>
                                  </svg>
                                </span>
                                <div class="lima status status-s"></div>
                              </div>
                            </div>
                          </div>
                        </figure>
                      </section>
                      <section>
                        <h5>With qualifier</h5>
                        <figure>
                          <div class="inner alabaster">
                            <div class="uispacer uispacer-even-space">
                              <div title="Jeroen Ransijn" class="avatar avatar-m rose five">
                                <span class="inner">
                                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 59.42 68">
                                    <g id="Layer_2" data-name="Layer 2">
                                      <g id="Layer_1-2" data-name="Layer 1">
                                        <g id="Layer_2-2" data-name="Layer 2">
                                          <g id="Layer_1-2-2" data-name="Layer 1-2">
                                            <path class="cls-1" d="M39.86,5.46C38.23.84,35.22,0,31.8,0H28.21c-3.64,0-6,1.21-7.33,4.57L1.48,55.66A21,21,0,0,0,0,61.38C0,65.37,2.85,68,7,68c3.59,0,5.64-1.21,6.7-4.1L17.65,53H41.76L45.61,63.9c1.11,2.89,3.48,4.1,6.75,4.1a6.83,6.83,0,0,0,7.06-6.57A19.52,19.52,0,0,0,58,55.66ZM20.93,42.53l8.86-26.3H30l8.49,26.3Z"></path>
                                          </g>
                                        </g>
                                      </g>
                                    </g>
                                  </svg>
                                </span>
                                <div class="qual whale">
                                  <div class="lima status status-m"></div>
                                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 70 70" style="enable-background:new 0 0 70 70;" xml:space="preserve">
                                    <path class="st0" d="M61.9,30.3l-4.2-7.9c-0.5-1-1.5-1.6-2.6-1.6h-8.5v20.5c0.3-0.1,0.6-0.1,1-0.1c3.2,0,5.8,2.6,5.8,5.8H59
         c1.7,0,3-1.3,3-3V30.8C62,30.6,62,30.5,61.9,30.3z" />
                                    <path class="st0" d="M46.6,41.3V20.9V20c0-1.6-1.3-3-3-3H11c-1.7,0-3,1.3-3,3v24.1c0,1.7,1.4,3,3,3h1.8c0-3.2,2.6-5.8,5.8-5.8
         s5.8,2.6,5.8,5.8h17.4C41.7,44.2,43.8,41.8,46.6,41.3z" />
                                    <path class="st0" d="M18.6,52.9c3.2,0,5.8-2.6,5.8-5.8s-2.6-5.8-5.8-5.8s-5.8,2.6-5.8,5.8C12.8,50.3,15.4,52.9,18.6,52.9z" />
                                    <path class="st0" d="M47.5,52.9c3.2,0,5.8-2.6,5.8-5.8s-2.6-5.8-5.8-5.8s-5.8,2.6-5.8,5.8C41.7,50.3,44.3,52.9,47.5,52.9z" />
                                  </svg>
                                </div>
                              </div>
                              <div title="Jeroen Ransijn" class="avatar avatar-l saffron five">
                                <span class="inner">
                                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 59.42 68">
                                    <g id="Layer_2" data-name="Layer 2">
                                      <g id="Layer_1-2" data-name="Layer 1">
                                        <g id="Layer_2-2" data-name="Layer 2">
                                          <g id="Layer_1-2-2" data-name="Layer 1-2">
                                            <path class="cls-1" d="M39.86,5.46C38.23.84,35.22,0,31.8,0H28.21c-3.64,0-6,1.21-7.33,4.57L1.48,55.66A21,21,0,0,0,0,61.38C0,65.37,2.85,68,7,68c3.59,0,5.64-1.21,6.7-4.1L17.65,53H41.76L45.61,63.9c1.11,2.89,3.48,4.1,6.75,4.1a6.83,6.83,0,0,0,7.06-6.57A19.52,19.52,0,0,0,58,55.66ZM20.93,42.53l8.86-26.3H30l8.49,26.3Z"></path>
                                          </g>
                                        </g>
                                      </g>
                                    </g>
                                  </svg>
                                </span>
                                <div class="qual whale">
                                  <div class="lima status status-l"></div>
                                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 70 70" style="enable-background:new 0 0 70 70;" xml:space="preserve">
                                    <path class="st0" d="M61.9,30.3l-4.2-7.9c-0.5-1-1.5-1.6-2.6-1.6h-8.5v20.5c0.3-0.1,0.6-0.1,1-0.1c3.2,0,5.8,2.6,5.8,5.8H59
         c1.7,0,3-1.3,3-3V30.8C62,30.6,62,30.5,61.9,30.3z" />
                                    <path class="st0" d="M46.6,41.3V20.9V20c0-1.6-1.3-3-3-3H11c-1.7,0-3,1.3-3,3v24.1c0,1.7,1.4,3,3,3h1.8c0-3.2,2.6-5.8,5.8-5.8
         s5.8,2.6,5.8,5.8h17.4C41.7,44.2,43.8,41.8,46.6,41.3z" />
                                    <path class="st0" d="M18.6,52.9c3.2,0,5.8-2.6,5.8-5.8s-2.6-5.8-5.8-5.8s-5.8,2.6-5.8,5.8C12.8,50.3,15.4,52.9,18.6,52.9z" />
                                    <path class="st0" d="M47.5,52.9c3.2,0,5.8-2.6,5.8-5.8s-2.6-5.8-5.8-5.8s-5.8,2.6-5.8,5.8C41.7,50.3,44.3,52.9,47.5,52.9z" />
                                  </svg>
                                </div>
                              </div>
                            </div>
                          </div>
                        </figure>
                      </section>
                    </section>
                  </section>
                  <section id="design" class="tab-panel">
                    <section>
                      <blockquote cite="https://uxdesign.cc/design-avatars-that-make-sense-and-be-more-inclusive-in-the-process-d4dd6a486ea6">
                        <p>While this goal of humanizing online communities with human-like iconography is good, platforms have almost exclusively started off with very male and often white-typed imagery.</p>
                        <p>Making communities inclusive can be hard work. Even just deciding on an avatar style takes thoughtfulness, research, testing, and iteration, and is only a small step towards the larger goal. But these small changes are a part of what makes the work we do as designers meaningful, and has the potential to create delightful experiences that impact users in the virtual and real world. <a target="new" href="https://uxdesign.cc/design-avatars-that-make-sense-and-be-more-inclusive-in-the-process-d4dd6a486ea6" class="btn text btn-m picton">Read more on inclusive avatars</a>
                        </p>
                      </blockquote>
                      <p>AnyVan has chosen to to use generic, cropped variations of our logomark letters (A, N, Y and V) at different zoom levels and degrees of transparency. This creates a multitude of unique, colorful avatars that are abstracted from all genders, locales, and cultures.</p>
                    </section>
                    <section>
                      <h4>AnyVan Consumer</h4>
                      <div class="ex ub-dspl_grid">
                        <div>
                          <figure>
                            <div class="inner alabaster">
                              <div class="forgrid">
                                <div title="Jeroen Ransijn" class="avatar avatar-s governor">
                                  <span class="inner">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 57.74 67.89">
                                      <g id="Layer_2" data-name="Layer 2">
                                        <g id="Layer_1-2" data-name="Layer 1">
                                          <path class="cls-1" d="M50.62.05c-4.48,0-7.22,2.37-7.22,7.2V46.1h-.22L16.93,3.94A8.28,8.28,0,0,0,9.44,0C3.06,0,0,2.57,0,8.72v52c0,4.83,2.74,7.19,7.22,7.19s7.23-2.36,7.23-7.19V23h.16l26,41c1.9,3,3.48,4,8.23,4,6.33,0,8.86-3.36,8.86-9.29V7.19C57.84,2.42,55.1.05,50.62.05Z" />
                                        </g>
                                      </g>
                                    </svg>
                                  </span>
                                </div>
                                <div title="Jeroen Ransijn" class="avatar avatar-m conifer">
                                  <span class="inner">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54.2 67.95">
                                      <g id="Layer_2" data-name="Layer 2">
                                        <g id="Layer_1-2" data-name="Layer 1">
                                          <path class="cls-1" d="M46.88,0c-3.12,0-4.75,1.1-6.49,4.36l-13,23.94L14.34,4.36C12.81,1.47,11.13,0,7.59,0,4.69,0,0,1.73,0,6.83a7.69,7.69,0,0,0,1.27,3.93L19.61,41.17V60.49C19.61,65,22.51,68,27.1,68s7.49-3,7.49-7.46V41.17L52.94,10.76A7.67,7.67,0,0,0,54.2,6.83C54.26,1.73,49.62,0,46.88,0Z"></path>
                                        </g>
                                      </g>
                                    </svg>
                                  </span>
                                </div>
                                <div title="Jeroen Ransijn" class="avatar avatar-l rose one">
                                  <span class="inner">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 59.42 68">
                                      <g id="Layer_2" data-name="Layer 2">
                                        <g id="Layer_1-2" data-name="Layer 1">
                                          <g id="Layer_2-2" data-name="Layer 2">
                                            <g id="Layer_1-2-2" data-name="Layer 1-2">
                                              <path class="cls-1" d="M39.86,5.46C38.23.84,35.22,0,31.8,0H28.21c-3.64,0-6,1.21-7.33,4.57L1.48,55.66A21,21,0,0,0,0,61.38C0,65.37,2.85,68,7,68c3.59,0,5.64-1.21,6.7-4.1L17.65,53H41.76L45.61,63.9c1.11,2.89,3.48,4.1,6.75,4.1a6.83,6.83,0,0,0,7.06-6.57A19.52,19.52,0,0,0,58,55.66ZM20.93,42.53l8.86-26.3H30l8.49,26.3Z"></path>
                                            </g>
                                          </g>
                                        </g>
                                      </g>
                                    </svg>
                                  </span>
                                </div>
                                <div title="Jeroen Ransijn" class="avatar avatar-m elf">
                                  <span class="inner">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 57.58 67.95">
                                      <g id="Layer_2" data-name="Layer 2">
                                        <g id="Layer_1-2" data-name="Layer 1">
                                          <path class="cls-1" d="M57.58,6.67C57.58,1.68,53.73,0,50,0c-3.48,0-5.65,2.1-7,6.56L28.89,51.14h-.15L15.19,6.56C13.81,2.1,11.6,0,7.59,0,3.85,0,0,1.63,0,6.67A12.66,12.66,0,0,0,.9,11L19.35,62.75C20.88,67,23.83,68,28.47,68s7.6-.9,9.12-5.2L56.63,11A12,12,0,0,0,57.58,6.67Z" />
                                        </g>
                                      </g>
                                    </svg>
                                  </span>
                                </div>
                              </div>
                            </div>
                          </figure>
                        </div>
                        <div>
                          <table class="compact">
                            <tbody>
                              <tr>
                                <td>
                                  <span class="lozenge lozenge-s picton">Picton</span>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <span class="lozenge lozenge-s governor">Governor</span>
                                  <span class="lozenge lozenge-s rose">Rose</span>
                                  <span class="lozenge lozenge-s conifer">Conifer</span>
                                  <span class="lozenge lozenge-s elf">Elf</span>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                    </section>
                    <section>
                      <h4>Tranport partner</h4>
                      <div class="ex ub-dspl_grid">
                        <div>
                          <figure>
                            <div class="inner alabaster">
                              <div class="forgrid">
                                <div title="Jeroen Ransijn" class="avatar avatar-m brick">
                                  <span class="inner">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 59.42 68">
                                      <g id="Layer_2" data-name="Layer 2">
                                        <g id="Layer_1-2" data-name="Layer 1">
                                          <g id="Layer_2-2" data-name="Layer 2">
                                            <g id="Layer_1-2-2" data-name="Layer 1-2">
                                              <path class="cls-1" d="M39.86,5.46C38.23.84,35.22,0,31.8,0H28.21c-3.64,0-6,1.21-7.33,4.57L1.48,55.66A21,21,0,0,0,0,61.38C0,65.37,2.85,68,7,68c3.59,0,5.64-1.21,6.7-4.1L17.65,53H41.76L45.61,63.9c1.11,2.89,3.48,4.1,6.75,4.1a6.83,6.83,0,0,0,7.06-6.57A19.52,19.52,0,0,0,58,55.66ZM20.93,42.53l8.86-26.3H30l8.49,26.3Z" />
                                            </g>
                                          </g>
                                        </g>
                                      </g>
                                    </svg>
                                  </span>
                                </div>
                                <div title="Jeroen Ransijn" class="avatar avatar-l hibiscus">
                                  <span class="inner">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 57.74 67.89">
                                      <g id="Layer_2" data-name="Layer 2">
                                        <g id="Layer_1-2" data-name="Layer 1">
                                          <path class="cls-1" d="M50.62.05c-4.48,0-7.22,2.37-7.22,7.2V46.1h-.22L16.93,3.94A8.28,8.28,0,0,0,9.44,0C3.06,0,0,2.57,0,8.72v52c0,4.83,2.74,7.19,7.22,7.19s7.23-2.36,7.23-7.19V23h.16l26,41c1.9,3,3.48,4,8.23,4,6.33,0,8.86-3.36,8.86-9.29V7.19C57.84,2.42,55.1.05,50.62.05Z" />
                                        </g>
                                      </g>
                                    </svg>
                                  </span>
                                </div>
                                <div title="Jeroen Ransijn" class="avatar avatar-l victoria">
                                  <span class="inner">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54.2 67.95">
                                      <g id="Layer_2" data-name="Layer 2">
                                        <g id="Layer_1-2" data-name="Layer 1">
                                          <path class="cls-1" d="M46.88,0c-3.12,0-4.75,1.1-6.49,4.36l-13,23.94L14.34,4.36C12.81,1.47,11.13,0,7.59,0,4.69,0,0,1.73,0,6.83a7.69,7.69,0,0,0,1.27,3.93L19.61,41.17V60.49C19.61,65,22.51,68,27.1,68s7.49-3,7.49-7.46V41.17L52.94,10.76A7.67,7.67,0,0,0,54.2,6.83C54.26,1.73,49.62,0,46.88,0Z"></path>
                                        </g>
                                      </g>
                                    </svg>
                                  </span>
                                </div>
                                <div title="Jeroen Ransijn" class="avatar avatar-s teal">
                                  <span class="inner">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 57.58 67.95">
                                      <g id="Layer_2" data-name="Layer 2">
                                        <g id="Layer_1-2" data-name="Layer 1">
                                          <path class="cls-1" d="M57.58,6.67C57.58,1.68,53.73,0,50,0c-3.48,0-5.65,2.1-7,6.56L28.89,51.14h-.15L15.19,6.56C13.81,2.1,11.6,0,7.59,0,3.85,0,0,1.63,0,6.67A12.66,12.66,0,0,0,.9,11L19.35,62.75C20.88,67,23.83,68,28.47,68s7.6-.9,9.12-5.2L56.63,11A12,12,0,0,0,57.58,6.67Z" />
                                        </g>
                                      </g>
                                    </svg>
                                  </span>
                                </div>
                              </div>
                            </div>
                          </figure>
                        </div>
                        <div>
                          <table class="compact">
                            <tbody>
                              <tr>
                                <td>
                                  <span class="lozenge lozenge-s whale">Whale</span>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <span class="lozenge lozenge-s victoria">Victoria</span>
                                  <span class="lozenge lozenge-s teal">Teal</span>
                                  <span class="lozenge lozenge-s brick">Brick</span>
                                  <span class="lozenge lozenge-s hibiscus">Hibiscus</span>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </section>
                    <section>
                      <h4>AnyVan Business</h4>
                      <div class="ex ub-dspl_grid">
                        <div>
                          <figure>
                            <div class="inner alabaster">
                              <div class="forgrid">
                                <div title="Jeroen Ransijn" class="avatar avatar-l casablanca">
                                  <span class="inner">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54.2 67.95">
                                      <g id="Layer_2" data-name="Layer 2">
                                        <g id="Layer_1-2" data-name="Layer 1">
                                          <path class="cls-1" d="M46.88,0c-3.12,0-4.75,1.1-6.49,4.36l-13,23.94L14.34,4.36C12.81,1.47,11.13,0,7.59,0,4.69,0,0,1.73,0,6.83a7.69,7.69,0,0,0,1.27,3.93L19.61,41.17V60.49C19.61,65,22.51,68,27.1,68s7.49-3,7.49-7.46V41.17L52.94,10.76A7.67,7.67,0,0,0,54.2,6.83C54.26,1.73,49.62,0,46.88,0Z"></path>
                                        </g>
                                      </g>
                                    </svg>
                                  </span>
                                </div>
                                <div title="Jeroen Ransijn" class="avatar avatar-s opera">
                                  <span class="inner">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 59.42 68">
                                      <g id="Layer_2" data-name="Layer 2">
                                        <g id="Layer_1-2" data-name="Layer 1">
                                          <g id="Layer_2-2" data-name="Layer 2">
                                            <g id="Layer_1-2-2" data-name="Layer 1-2">
                                              <path class="cls-1" d="M39.86,5.46C38.23.84,35.22,0,31.8,0H28.21c-3.64,0-6,1.21-7.33,4.57L1.48,55.66A21,21,0,0,0,0,61.38C0,65.37,2.85,68,7,68c3.59,0,5.64-1.21,6.7-4.1L17.65,53H41.76L45.61,63.9c1.11,2.89,3.48,4.1,6.75,4.1a6.83,6.83,0,0,0,7.06-6.57A19.52,19.52,0,0,0,58,55.66ZM20.93,42.53l8.86-26.3H30l8.49,26.3Z" />
                                            </g>
                                          </g>
                                        </g>
                                      </g>
                                    </svg>
                                  </span>
                                </div>
                                <div title="Jeroen Ransijn" class="avatar avatar-m saffron">
                                  <span class="inner">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 57.74 67.89">
                                      <g id="Layer_2" data-name="Layer 2">
                                        <g id="Layer_1-2" data-name="Layer 1">
                                          <path class="cls-1" d="M50.62.05c-4.48,0-7.22,2.37-7.22,7.2V46.1h-.22L16.93,3.94A8.28,8.28,0,0,0,9.44,0C3.06,0,0,2.57,0,8.72v52c0,4.83,2.74,7.19,7.22,7.19s7.23-2.36,7.23-7.19V23h.16l26,41c1.9,3,3.48,4,8.23,4,6.33,0,8.86-3.36,8.86-9.29V7.19C57.84,2.42,55.1.05,50.62.05Z"></path>
                                        </g>
                                      </g>
                                    </svg>
                                  </span>
                                </div>
                                <div title="Jeroen Ransijn" class="avatar avatar-m cambridge">
                                  <span class="inner">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 57.58 67.95">
                                      <g id="Layer_2" data-name="Layer 2">
                                        <g id="Layer_1-2" data-name="Layer 1">
                                          <path class="cls-1" d="M57.58,6.67C57.58,1.68,53.73,0,50,0c-3.48,0-5.65,2.1-7,6.56L28.89,51.14h-.15L15.19,6.56C13.81,2.1,11.6,0,7.59,0,3.85,0,0,1.63,0,6.67A12.66,12.66,0,0,0,.9,11L19.35,62.75C20.88,67,23.83,68,28.47,68s7.6-.9,9.12-5.2L56.63,11A12,12,0,0,0,57.58,6.67Z"></path>
                                        </g>
                                      </g>
                                    </svg>
                                  </span>
                                </div>
                              </div>
                            </div>
                          </figure>
                        </div>
                        <div>
                          <table class="compact">
                            <tbody>
                              <tr>
                                <td>
                                  <span class="lozenge lozenge-s bluewood">Bluewood</span>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <span class="lozenge lozenge-s casablanca">Casablanca</span>
                                  <span class="lozenge lozenge-s cambridge">Cambridge</span>
                                  <span class="lozenge lozenge-s opera">Opera</span>
                                  <span class="lozenge lozenge-s saffron">Saffron</span>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </section>
                  </section>
                  <section id="usage" class="tab-panel">
                    <section>
                      <h4>Transport partner profile</h4>
                      <figure>
                        <div class="inner alabaster">
                          <div class="uispacer">
                            <div class="tpp">
                              <div class="first">
                                <div title="Jeroen Ransijn" class="avatar avatar-l saffron five">
                                  <span class="inner">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 59.42 68">
                                      <g id="Layer_2" data-name="Layer 2">
                                        <g id="Layer_1-2" data-name="Layer 1">
                                          <g id="Layer_2-2" data-name="Layer 2">
                                            <g id="Layer_1-2-2" data-name="Layer 1-2">
                                              <path class="cls-1" d="M39.86,5.46C38.23.84,35.22,0,31.8,0H28.21c-3.64,0-6,1.21-7.33,4.57L1.48,55.66A21,21,0,0,0,0,61.38C0,65.37,2.85,68,7,68c3.59,0,5.64-1.21,6.7-4.1L17.65,53H41.76L45.61,63.9c1.11,2.89,3.48,4.1,6.75,4.1a6.83,6.83,0,0,0,7.06-6.57A19.52,19.52,0,0,0,58,55.66ZM20.93,42.53l8.86-26.3H30l8.49,26.3Z"></path>
                                            </g>
                                          </g>
                                        </g>
                                      </g>
                                    </svg>
                                  </span>
                                  <div class="qual whale">
                                    <div class="lima status status-l"></div>
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 70 70" style="enable-background:new 0 0 70 70;" xml:space="preserve">
                                      <path class="st0" d="M61.9,30.3l-4.2-7.9c-0.5-1-1.5-1.6-2.6-1.6h-8.5v20.5c0.3-0.1,0.6-0.1,1-0.1c3.2,0,5.8,2.6,5.8,5.8H59
         c1.7,0,3-1.3,3-3V30.8C62,30.6,62,30.5,61.9,30.3z" />
                                      <path class="st0" d="M46.6,41.3V20.9V20c0-1.6-1.3-3-3-3H11c-1.7,0-3,1.3-3,3v24.1c0,1.7,1.4,3,3,3h1.8c0-3.2,2.6-5.8,5.8-5.8
         s5.8,2.6,5.8,5.8h17.4C41.7,44.2,43.8,41.8,46.6,41.3z" />
                                      <path class="st0" d="M18.6,52.9c3.2,0,5.8-2.6,5.8-5.8s-2.6-5.8-5.8-5.8s-5.8,2.6-5.8,5.8C12.8,50.3,15.4,52.9,18.6,52.9z" />
                                      <path class="st0" d="M47.5,52.9c3.2,0,5.8-2.6,5.8-5.8s-2.6-5.8-5.8-5.8s-5.8,2.6-5.8,5.8C41.7,50.3,44.3,52.9,47.5,52.9z" />
                                    </svg>
                                  </div>
                                </div>
                                <div class="colsa">
                                  <h1>Hce321</h1>
                                </div>
                              </div>
                              <div class="02">
                                <div class="btn btn-s picton">Log in as partner</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </figure>
                    </section>
                    <section>
                      <h4>Customer profile</h4>
                      <figure>
                        <div class="inner alabaster">
                          <div class="uispacer">
                            <div class="tpp">
                              <div class="first">
                                <div title="Jeroen Ransijn" class="avatar avatar-l">
                                  <span class="inner">
                                    <img src="https://picsum.photos/120/120" />
                                  </span>
                                  <div class="qual picton">
                                    <svg enable-background="new 0 0 70 70" version="1.1" viewBox="0 0 70 70" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                      <path class="st0" d="m56.1 61.8v-8.9c0-5.8-2-10.8-6.4-14.8-4.2-4.2-9.1-6.1-14.8-6.1s-10.7 2.1-14.9 6.4c-4.2 4.2-6.1 8.9-6.1 14.5v9.1" />
                                      <path class="st0" d="m46.7 19.9c0-6.5-5.3-11.9-12-11.9s-11.9 5.3-11.9 11.9 5.3 11.9 11.9 11.9 12-5.3 12-11.9z" />
                                    </svg>
                                  </div>
                                </div>
                                <div class="colsa">
                                  <h1>John Gusman</h1>
                                  <p>johndavidgusman@gmail.com</p>
                                </div>
                              </div>
                              <div class="02">
                                <div class="btn btn-s picton">Log in as customer</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </figure>
                    </section>
                  </section>
                  <section id="current" class="tab-panel">
                    <h4>V4</h4>
                    <img class="deleteme" src="../image/delete-avatar/Screenshot 2021-11-30 at 12.03.50.png">
                    
                    <h4>V5</h4>
                    <img class="deleteme" src="../image/delete-avatar/Screenshot-2021-11-23-at-15.19.31.png">
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        var classes = ["one", "two", "three", "four", "five", "six"];
        $(".forgrid .avatar").each(function() {
          $(this).addClass(classes[~~(Math.random() * classes.length)]);
        });
      });
    </script>
  </body>
</html>