<!DOCTYPE html>
<html>
   
   
   <meta http-equiv="content-type" content="text/html;charset=utf-8" />
   
   <head>
      <link rel="stylesheet" href="../style.css">
      <meta charSet="utf-8" />
      <title>Move by AnyVan | Components | Badges</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png" />
      <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png" />
   </head>
   <body>
      <div id="__next">
         <div>
            <div class="ub-w_100vw ub-dspl_flex ub-flx-drct_column ub-min-h_100vh ub-box-szg_border-box">
               <nav class="nav-main-system">
                  <div class="logo-box-main"><img class="ub-w_100px ub-h_24px ub-crsr_pointer ub-box-szg_border-box" src="../image/AnyVan-move.svg" /></div>
                  <div class="primary-nav-system"><a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box"
                     href="../index.html" rel="noopener">Home</a><a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box"
                     href="../foundations.html" rel="noopener">Foundations</a><a class="css-b61p4k    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_3366FF ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box"
                     href="../components.html" rel="noopener">Components</a><a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box"
                     href="../patterns.html" rel="noopener">Patterns</a><a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box"
                     href="../resources.html" rel="noopener">Resources</a></div>
               </nav>
               <div class="ub-flx_1 ub-h_100prcnt ub-box-szg_border-box">
                  <div class="ub-w_100prcnt ub-dspl_grid ub-grd-tmp-col_1c86bs ub-box-szg_border-box">
                     <div class="sidebar-nav">
                            <h2>Components</h2>
                            <div role="tablist" class="ub-box-szg_border-box">
                              <a tabindex="0" href="alerts.html" rel="noopener">Alerts</a>
                              <a tabindex="0" href="app-bars.html" rel="noopener">App bars</a>
                              <a tabindex="0" href="components/autocomplete.html" rel="noopener">Autocomplete</a>
                              <a tabindex="0" href="avatars.html" rel="noopener">Avatars</a>
                              <a aria-current="page" tabindex="0" href="badges.html" rel="noopener">Badges</a>
                              <a tabindex="0" href="banners.html" rel="noopener">Banners</a>
                              <a tabindex="0" href="breadcrumbs.html" rel="noopener">Breadcrumbs</a>
                              <a tabindex="0" href="buttons.html" rel="noopener">Buttons</a>
                              <a tabindex="0" href="cards.html" rel="noopener">Cards</a>
                              <a tabindex="0" href="checkboxes.html" rel="noopener">Checkboxes</a>
                              <a tabindex="0" href="chips.html" rel="noopener">Chips</a>
                              <a tabindex="0" href="counters.html" rel="noopener">Counters</a>
                              <a tabindex="0" href="dialogues.html" rel="noopener">Dialogues</a>
                              <a tabindex="0" href="drawers.html" rel="noopener">Drawers</a>
                              <a tabindex="0" href="fab.html" rel="noopener">FAB</a>
                              <a tabindex="0" href="loaders.html" rel="noopener">Loaders</a>
                              <a tabindex="0" href="lozenges.html" rel="noopener">Lozenges</a>
                              <a tabindex="0" href="menus.html" rel="noopener">Menus</a>
                              <a tabindex="0" href="overlay.html" rel="noopener">Overlay</a>
                              <a tabindex="0" href="pills.html" rel="noopener">Pills</a>
                              <a tabindex="0" href="radio-buttons.html" rel="noopener">Radio buttons</a>
                              <a tabindex="0" href="search.html" rel="noopener">Search</a>
                              <a tabindex="0" href="side-sheets.html" rel="noopener">Side sheets</a>
                              <a tabindex="0" href="status-indicators.html" rel="noopener">Status indicators</a>
                              <a tabindex="0" href="swimlanes.html" rel="noopener">Swimlanes</a>
                              <a tabindex="0" href="switches.html" rel="noopener">Switches</a>
                              <a tabindex="0" href="tables.html" rel="noopener">Tables</a>
                              <a tabindex="0" href="tabs.html" rel="noopener">Tabs</a>
                              <a tabindex="0" href="textarea.html" rel="noopener">Text areas</a>
                              <a tabindex="0" href="text-inputs.html" rel="noopener">Text inputs</a>
                              <a tabindex="0" href="tiles.html" rel="noopener">Tiles</a>
                              <a tabindex="0" href="toggles.html" rel="noopener">Toggles</a>
                              <a tabindex="0" href="tooltips.html" rel="noopener">Tooltips</a>
                              <a tabindex="0" href="wells.html" rel="noopener">Wells</a>
                           </div>
                        </div>
                     <div class="ub-w_100prcnt ub-dspl_flex ub-flx-drct_column ub-just-cnt_flex-start ub-pb_40px ub-pl_40px ub-pr_40px ub-pt_40px ub-max-w_1200px ub-box-szg_border-box">
                        <div class="ub-dspl_flex ub-w_100prcnt ub-just-cnt_space-between ub-flx-drct_column ub-algn-itms_flex-start ub-box-szg_border-box">
                           <div class="ub-dspl_flex ub-w_100prcnt ub-just-cnt_space-between ub-mb_32px ub-box-szg_border-box">
                              <div class="ub-box-szg_border-box">
                                 <div class="lozenge lozenge-s picton">Data</div>
                                 <h1>Badge</h1>
                                 <p>A badge is a visual indicator used to highlight an item's status for quick recognition</p>
                              </div>
                           </div>
                        </div>
                        <div>
                           <div class="tabset glo">
                              
                              <input type="radio" name="tabset" id="tab1" aria-controls="overview" checked>
                              <label for="tab1">Overview</label>
                              
                              <input type="radio" name="tabset" id="tab2" aria-controls="sizing">
                              <label for="tab2">Sizing</label>
                              
                              <input type="radio" name="tabset" id="tab3" aria-controls="system">
                              <label for="tab3">System</label>
                              
                              <input type="radio" name="tabset" id="tab4" aria-controls="usage">
                              <label for="tab4">Usage</label>

                              <input type="radio" name="tabset" id="tab5" aria-controls="related">
                              <label for="tab5">Related</label>

                              <input type="radio" name="tabset" id="tab6" aria-controls="related">
                              <label for="tab6">Current</label>

                              <div class="tab-panels">
                                 <section id="overview" class="tab-panel">
                                    <h4>Default</h4>
                                    <p>By default, badges should always include an icon as a quick visual cue. If you are looking for badges without an icon, use a <a href="lozenges.html">lozenges</a></p>
                                    
                                    <div class="ex"><div class="box"><div class="badge badge-m picton"><div class="icon"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 70 70" style="enable-background:new 0 0 70 70;" xml:space="preserve">
<style type="text/css">
   .st0{fill:none;stroke:#292929;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;}
</style>
<path class="st0" d="M55.4,37.6L55.4,37.6c3.6,0,6.6,2.9,6.6,6.6l0,0c0,3.6-2.9,6.6-6.6,6.6l0,0c-3.6,0-6.6-2.9-6.6-6.6l0,0
   C48.8,40.5,51.8,37.6,55.4,37.6z"/>
<path class="st0" d="M47.8,28.2c-1.8-1.8-6.4-5.8-17.9-5.8C9.2,22.5,8,36.1,8,36.1"/>
<path class="st0" d="M46.3,19.3l2,9.7l-9.7,2"/>
</svg></div>ALLOCATED</div></div>

                                    <h4>Truncation</h4>
                                    <p>By default, the maximum width of a badge is 200px regardless of the size. When the text in the badge exceeds the max width, it will be truncated with an ellipsis.</p>
                                	   <p>Avoid truncation wherever possible, by using shorter text, as truncated text is not focusable or accessible.</p>
                                    <div class="ex"><div class="box"><div class="badge badge-m picton"><div class="icon"><img src="../image/default-icon.svg"/></div>A badge with a very long label</div></div>

                                 </section>
                                 <section id="sizing" class="tab-panel">
                                    <h4>Medium</h4>
                                    <div class="ex"><div class="box"><div class="badge badge-m picton"><div class="icon">ICON</div>[REF. NUMBER]</div></div>
                                    <h4>Small</h4>
                                    <div class="ex"><div class="box"><div class="badge badge-s fern"><div class="icon">ICON</div>Co-ordinating move</div></div>
                                 </section>
                                 <section id="system" class="tab-panel">

                                    <div class="ex"><div class="box"><div class="badge badge-m picton"><div class="icon">ICON</div>[REF. NUMBER]</div></div>

                                    <div class="ex"><div class="box"><div class="badge badge-m picton"><div class="icon">ICON</div>IN REALISATION</div></div>

                                    <div class="ex"><div class="box"><div class="badge badge-m picton"><div class="icon">ICON</div>JOB BOOKED</div></div>

                                    <div class="ex"><div class="box"><div class="badge badge-m picton"><div class="icon"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 70 70" style="enable-background:new 0 0 70 70;" xml:space="preserve">
<g>
   <path class="st0" d="M35.6,32.6l25,10.6c1.9,0.8,1.9,3.4,0,4.2L52.2,51c-0.5,0.2-1,0.7-1.2,1.2l-3.7,8.4c-0.8,1.8-3.4,1.8-4.2,0
      l-10.6-25C31.8,33.7,33.7,31.8,35.6,32.6z"/>
   <line class="st0" x1="13" y1="13" x2="20.3" y2="20.3"/>
   <line class="st0" x1="27.1" y1="8" x2="27.1" y2="18.3"/>
   <line class="st0" x1="33.9" y1="22.2" x2="40.4" y2="15.8"/>
   <line class="st0" x1="8" y1="27.1" x2="18.3" y2="27.1"/>
   <line class="st0" x1="22.2" y1="33.9" x2="15.2" y2="40.9"/>
</g>
</svg>
</div>CLICK AND CLAIM</div></div>

                                    <div class="ex"><div class="box"><div class="badge badge-m picton"><div class="icon"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 70 70" style="enable-background:new 0 0 70 70;" xml:space="preserve">
<style type="text/css">
   .st0{fill:none;stroke:#292929;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;}
</style>
<path class="st0" d="M55.4,37.6L55.4,37.6c3.6,0,6.6,2.9,6.6,6.6l0,0c0,3.6-2.9,6.6-6.6,6.6l0,0c-3.6,0-6.6-2.9-6.6-6.6l0,0
   C48.8,40.5,51.8,37.6,55.4,37.6z"/>
<path class="st0" d="M47.8,28.2c-1.8-1.8-6.4-5.8-17.9-5.8C9.2,22.5,8,36.1,8,36.1"/>
<path class="st0" d="M46.3,19.3l2,9.7l-9.7,2"/>
</svg></div>ALLOCATED</div></div>

                                    <div class="ex"><div class="box"><div class="badge badge-m lima"><div class="icon">ICON</div>jOB COMPLETE</div></div>

                                    
                                 </section>
                                 <section id="usage" class="tab-panel">
                                    <h4>Job cards</h4>
								    		    <div class="ex-a">
						    					<div class="map"></div>	

							    				<div class="colsa">
						    						<h3>House move</h3>
						    						<p>One person required</p>
						    						<p>Bedford, MK42 7DS</p>
						    						<p>8:00am - 12:00pm</p>

						    						<div class="badge badge-m picton"><div class="icon"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 70 70" style="enable-background:new 0 0 70 70;" xml:space="preserve">
<style type="text/css">
   .st0{fill:none;stroke:#292929;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;}
</style>
<path class="st0" d="M55.4,37.6L55.4,37.6c3.6,0,6.6,2.9,6.6,6.6l0,0c0,3.6-2.9,6.6-6.6,6.6l0,0c-3.6,0-6.6-2.9-6.6-6.6l0,0
   C48.8,40.5,51.8,37.6,55.4,37.6z"/>
<path class="st0" d="M47.8,28.2c-1.8-1.8-6.4-5.8-17.9-5.8C9.2,22.5,8,36.1,8,36.1"/>
<path class="st0" d="M46.3,19.3l2,9.7l-9.7,2"/>
</svg></div>ALLOCATED</div>
						    					</div>
							    				
							    					login as partner
							    			    </div>
                                 </section>

                                 <section id="usage" class="tab-panel">
                                 	<p>For tallies or counts, use a  <a tabindex="0" href="counters.html" rel="noopener">counter</a></p>
                                 	<p>To visually illustrate a status, use a  <a tabindex="0" href="lozenges.html" rel="noopener">lozenge</a></p>
                             	   </section>

                                 <section id="current" class="tab-panel">
                                    <h4>V4</h4>
                                    <img class="deleteme" src="../image/delete-badge/Screenshot 2021-11-30 at 12.13.58.png">
                                 </section>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>