<!DOCTYPE html>
<html>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <head>
    <link rel="stylesheet" href="../style.css">
    <meta charSet="utf-8" />
    <title>Move by AnyVan | Components | Banners</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png" />
  </head>
  <body>
    <div class="ub-w_100vw ub-dspl_flex ub-flx-drct_column ub-min-h_100vh ub-box-szg_border-box">
      <nav class="nav-main-system">
        <div class="logo-box-main">
          <img class="ub-w_100px ub-h_24px ub-crsr_pointer ub-box-szg_border-box" src="../image/AnyVan-move.svg" />
        </div>
        <div class="primary-nav-system">
          <a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box" href="../index.html" rel="noopener">Home</a>
          <a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box" href="../foundations.html" rel="noopener">Foundations</a>
          <a class="css-b61p4k    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_3366FF ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box" href="../components.html" rel="noopener">Components</a>
          <a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box" href="../patterns.html" rel="noopener">Patterns</a>
          <a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box" href="../resources.html" rel="noopener">Resources</a>
        </div>
      </nav>
      <div class="ub-flx_1 ub-h_100prcnt ub-box-szg_border-box">
        <div class="ub-w_100prcnt ub-dspl_grid ub-grd-tmp-col_1c86bs ub-box-szg_border-box">
          <div class="sidebar-nav">
            <h2>Components</h2>
            <div role="tablist" class="ub-box-szg_border-box">
              <a tabindex="0" href="alerts.html" rel="noopener">Alerts</a>
              <a tabindex="0" href="app-bars.html" rel="noopener">App bars</a>
              <a tabindex="0" href="components/autocomplete.html" rel="noopener">Autocomplete</a>
              <a tabindex="0" href="avatars.html" rel="noopener">Avatars</a>
              <a tabindex="0" href="badges.html" rel="noopener">Badges</a>
              <a aria-current="page" tabindex="0" href="banners.html" rel="noopener">Banners</a>
              <a tabindex="0" href="breadcrumbs.html" rel="noopener">Breadcrumbs</a>
              <a tabindex="0" href="buttons.html" rel="noopener">Buttons</a>
              <a tabindex="0" href="cards.html" rel="noopener">Cards</a>
              <a tabindex="0" href="checkboxes.html" rel="noopener">Checkboxes</a>
              <a tabindex="0" href="chips.html" rel="noopener">Chips</a>
              <a tabindex="0" href="counters.html" rel="noopener">Counters</a>
              <a tabindex="0" href="dialogues.html" rel="noopener">Dialogues</a>
              <a tabindex="0" href="drawers.html" rel="noopener">Drawers</a>
              <a tabindex="0" href="fab.html" rel="noopener">FAB</a>
              <a tabindex="0" href="loaders.html" rel="noopener">Loaders</a>
              <a tabindex="0" href="lozenges.html" rel="noopener">Lozenges</a>
              <a tabindex="0" href="menus.html" rel="noopener">Menus</a>
              <a tabindex="0" href="overlay.html" rel="noopener">Overlay</a>
              <a tabindex="0" href="pills.html" rel="noopener">Pills</a>
              <a tabindex="0" href="radio-buttons.html" rel="noopener">Radio buttons</a>
              <a tabindex="0" href="search.html" rel="noopener">Search</a>
              <a tabindex="0" href="side-sheets.html" rel="noopener">Side sheets</a>
              <a tabindex="0" href="status-indicators.html" rel="noopener">Status indicators</a>
              <a tabindex="0" href="swimlanes.html" rel="noopener">Swimlanes</a>
              <a tabindex="0" href="switches.html" rel="noopener">Switches</a>
              <a tabindex="0" href="tables.html" rel="noopener">Tables</a>
              <a tabindex="0" href="tabs.html" rel="noopener">Tabs</a>
              <a tabindex="0" href="textarea.html" rel="noopener">Text areas</a>
              <a tabindex="0" href="text-inputs.html" rel="noopener">Text inputs</a>
              <a tabindex="0" href="tiles.html" rel="noopener">Tiles</a>
              <a tabindex="0" href="toggles.html" rel="noopener">Toggles</a>
              <a tabindex="0" href="tooltips.html" rel="noopener">Tooltips</a>
              <a tabindex="0" href="wells.html" rel="noopener">Wells</a>
           </div>
          </div>
          <div class="ub-w_100prcnt ub-dspl_flex ub-flx-drct_column ub-just-cnt_flex-start ub-pb_40px ub-pl_40px ub-pr_40px ub-pt_40px ub-max-w_1200px ub-box-szg_border-box">
            <div class="ub-dspl_flex ub-w_100prcnt ub-just-cnt_space-between ub-flx-drct_column ub-algn-itms_flex-start ub-box-szg_border-box">
              <div class="ub-dspl_flex ub-w_100prcnt ub-just-cnt_space-between ub-mb_32px ub-box-szg_border-box">
                <div class="ub-box-szg_border-box">
                  <div class="lozenge lozenge-s picton">Feedback</div>
                  <h1>Banners</h1>
                  <p>A banner is a persistent static container which is sometimes closable by user actions</p>
                </div>
              </div>
            </div>
            <div>
              <div class="tabset glo">
                <input type="radio" name="tabset" id="tab1" aria-controls="overview" checked>
                <label for="tab1">Overview</label>
                <input type="radio" name="tabset" id="tab2" aria-controls="usage">
                <label for="tab2">Intent</label>
                <input type="radio" name="tabset" id="tab3" aria-controls="design">
                <label for="tab3">Design</label>
                <input type="radio" name="tabset" id="tab4" aria-controls="usage">
                <label for="tab4">Usage</label>
                <input type="radio" name="tabset" id="tab5" aria-controls="related">
                <label for="tab5">Related</label>
                <input type="radio" name="tabset" id="tab6" aria-controls="current">
                <label for="tab6">Current</label>
                <div class="tab-panels">
                  <section id="overview" class="tab-panel">
                    <section>
                      <p>A banner is a one-line, full color, full width container that can be used to communicate short snippets of information to users. Banners are un-intrusive, non-dismissible, and only support link buttons</p>
                      <figure>
                        <div class="inner alabaster">
                          <div class="uispacer">
                            <div class="banner chalk banner-center">
                              <h4>We weren’t able to save your changes</h4>
                            </div>
                          </div>
                        </div>
                      </figure>
                    </section>
                    <section>
                      <h4>With icon</h4>
                      <figure>
                        <div class="inner alabaster">
                          <div class="uispacer">
                            <div class="banner willow banner-icon">
                              <div>
                                <div class="icon">ICON</div>
                                <h4>We weren’t able to save your changes</h4>
                              </div>
                            </div>
                          </div>
                        </div>
                      </figure>
                    </section>
                    <section>
                      <h4>Actions</h4>
                      <figure>
                        <div class="inner alabaster">
                          <div class="uispacer">
                            <div class="banner froly banner-action">
                              <div>
                                <h4>We weren’t able to save your changes</h4>
                              </div>
                              <div class="btn btn-s picton">Undo</div>
                            </div>
                          </div>
                        </div>
                      </figure>
                    </section>
                  </section>
                  <section id="intent" class="tab-panel">
                    <section>
                      <h4>Informational</h4>
                      <figure>
                          <div class="inner alabaster">
                            <div class="uispacer-page">
                              <div class="banner cornflower banner-center">
                                <h4>Rest assured we are continuing to operate throughout the current restrictions</h4>
                              </div>
                            </div>
                          </div>
                        </figure>
                      </section>
                      <section>
                        <h4>Success</h4>
                        <figure>
                            <div class="inner alabaster">
                              <div class="uispacer-page">
                                <div class="banner willow banner-center">
                                  <h4>We weren’t able to save your changes</h4>
                                </div>
                              </div>
                            </div>
                        </figure>
                      </section>
                      <section>
                        <h4>Error / failed</h4>
                        <figure>
                            <div class="inner alabaster">
                              <div class="uispacer-page">
                                <div class="banner froly banner-center">
                                  <h4>We weren’t able to save your changes</h4>
                                </div>
                              </div>
                            </div>
                          </figure>
                      </section>
                      <section>
                          <h4>Pending / warning</h4>
                          <figure>
                            <div class="inner alabaster">
                              <div class="uispacer-page">
                                <div class="banner chalk banner-center">
                                  <h4>Scheduled maintenance today @ 22:00 PST</h4>
                                </div>
                              </div>
                            </div>
                          </figure>
                        </section>
                  </section>
                  <section id="usage" class="tab-panel">
                    <section>
                      <h4>Global banners</h4>
                      <p>These are used for critical issues or messages that should be conveyed with prominence. Usually, they are placed on top of a page above everything else or above the global navigation bar.</p>
                      <figure>
                          <div class="inner alabaster">
                            <div class="uispacer-page">
                              <div class="banner cornflower banner-action">
                                <div>
                                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 70 70" style="enable-background:new 0 0 70 70;" xml:space="preserve">
                                    <path class="st0" d="M61,27.5c-0.5,0-1,0.4-1,1V33h-6.4c-0.4-4-2.2-7.7-4.8-10.6l4.9-4.9l3.3,3.3c0.4,0.4,1,0.4,1.4,0s0.4-1,0-1.4
                                         l-7.9-7.9c-0.4-0.4-1-0.4-1.4,0c-0.4,0.4-0.4,1,0,1.4l3.3,3.3l-4.9,4.9c-3.1-2.8-7.2-4.6-11.6-4.8V9.9h4.6c0.5,0,1-0.4,1-1
                                         s-0.4-1-1-1H29.4c-0.5,0-1,0.4-1,1s0.4,1,1,1H34v6.3c-4,0.2-7.7,1.7-10.7,4l-5-5l3.2-3.2c0.4-0.4,0.4-1,0-1.4c-0.4-0.4-1-0.4-1.4,0
                                         l-3.7,3.7c-0.1,0-0.1,0.1-0.2,0.2l-4,4c-0.4,0.4-0.4,1,0,1.4c0.4,0.4,1,0.4,1.4,0l3.3-3.3l4.9,4.9c-3.3,3.2-5.4,7.6-5.7,12.5H9.9
                                         v-4.6c0-0.5-0.4-1-1-1s-1,0.4-1,1v11.2c0,0.5,0.4,1,1,1s1-0.4,1-1V36h6.3c0.2,4.5,2,8.5,4.8,11.6l-4.9,4.9l-3.3-3.3
                                         c-0.4-0.4-1-0.4-1.4,0c-0.4,0.4-0.4,1,0,1.4l4,4c0,0,0,0,0,0l3.9,3.9c0.2,0.2,0.4,0.3,0.7,0.3c0.2,0,0.5-0.1,0.7-0.3
                                         c0.4-0.4,0.4-1,0-1.4l-3.3-3.3l4.9-4.9c3.1,2.8,7.2,4.6,11.6,4.8v6.3h-4.6c-0.5,0-1,0.4-1,1s0.4,1,1,1h11.2c0.5,0,1-0.4,1-1
                                         s-0.4-1-1-1H36v-6.3c4.7-0.2,8.9-2.2,12-5.2l4.5,4.5l-3.3,3.3c-0.4,0.4-0.4,1,0,1.4c0.2,0.2,0.4,0.3,0.7,0.3c0.2,0,0.5-0.1,0.7-0.3
                                         l3.9-3.9c0,0,0,0,0,0l4-4c0.4-0.4,0.4-1,0-1.4s-1-0.4-1.4,0l-3.3,3.3l-4.5-4.5c2.8-3.3,4.5-7.5,4.5-12.2c0,0,0-0.1,0-0.1h6.3v4.6
                                         c0,0.5,0.4,1,1,1s1-0.4,1-1V28.4C62,27.9,61.6,27.5,61,27.5z M35,51.9c-9.3,0-16.9-7.6-16.9-16.9S25.7,18.1,35,18.1
                                         S51.9,25.7,51.9,35S44.3,51.9,35,51.9z" />
                                  </svg>
                                  <h4>Rest assured we are continuing to operate throughout the current restrictions
                                  </h4>
                                </div>
                                <a href="">Read more</a>
                              </div>
                              <nav class="topnav picton">
                                <div class="logo">
                                  <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 401.16 68">
                                    <path class="cls-1" d="M1384.73,1025.48c-4.48,0-7.22,2.36-7.22,7.19v38.86h-.21L1351,1029.36a8.28,8.28,0,0,0-7.49-3.94c-6.38,0-9.44,2.58-9.44,8.72v52c0,4.84,2.74,7.2,7.23,7.2s7.22-2.36,7.22-7.2v-37.75h.16l26,41c1.89,3,3.48,4,8.22,4,6.33,0,8.86-3.36,8.86-9.3v-51.4C1392,1027.84,1389.21,1025.48,1384.73,1025.48Z" transform="translate(-1218.16 -1025.42)" />
                                    <path class="cls-1" d="M1442.68,1025.48c-3.11,0-4.75,1.1-6.49,4.35l-13,24-13.07-24c-1.53-2.88-3.22-4.35-6.75-4.35-2.9,0-7.6,1.73-7.6,6.82a7.72,7.72,0,0,0,1.27,3.94l18.35,30.4V1086c0,4.46,2.9,7.45,7.49,7.45s7.48-3,7.48-7.45v-19.33l18.35-30.4a7.72,7.72,0,0,0,1.27-3.94C1450.06,1027.21,1445.42,1025.48,1442.68,1025.48Z" transform="translate(-1218.16 -1025.42)" />
                                    <path class="cls-1" d="M1509.33,1032.14c0-5-3.85-6.66-7.59-6.66-3.49,0-5.65,2.1-7,6.56l-14.08,44.58h-.15L1466.93,1032c-1.37-4.46-3.58-6.56-7.59-6.56-3.74,0-7.59,1.62-7.59,6.66a12.81,12.81,0,0,0,.89,4.36l18.46,51.72c1.53,4.26,4.48,5.2,9.12,5.2s7.59-.89,9.12-5.2l19-51.72A12.16,12.16,0,0,0,1509.33,1032.14Z" transform="translate(-1218.16 -1025.42)" />
                                    <path class="cls-1" d="M1538.22,1030.94c-1.63-4.62-4.64-5.46-8.06-5.46h-3.59c-3.64,0-6,1.2-7.33,4.56l-19.4,51.1a21.14,21.14,0,0,0-1.48,5.72c0,4,2.85,6.56,7,6.56,3.59,0,5.64-1.2,6.7-4.09l4-10.92h24.15l3.85,10.92c1.11,2.89,3.48,4.09,6.75,4.09a6.82,6.82,0,0,0,7.06-6.56,19.44,19.44,0,0,0-1.47-5.72ZM1519.29,1068l8.86-26.31h.16l8.49,26.31Z" transform="translate(-1218.16 -1025.42)" />
                                    <path class="cls-1" d="M1612.15,1025.48c-4.49,0-7.23,2.36-7.23,7.19v38.86h-.15l-26.26-42.17a8.28,8.28,0,0,0-7.49-3.94c-6.38,0-9.44,2.58-9.44,8.72v52c0,4.84,2.74,7.2,7.23,7.2s7.22-2.36,7.22-7.2v-37.75h.16l26,41c1.9,3,3.48,4,8.23,4,6.33,0,8.86-3.36,8.86-9.3v-51.4C1619.37,1027.84,1616.63,1025.48,1612.15,1025.48Z" transform="translate(-1218.16 -1025.42)" />
                                    <path class="cls-2" d="M1250.59,1088.85a7.88,7.88,0,1,0-7.91-7.87A7.89,7.89,0,0,0,1250.59,1088.85Z" transform="translate(-1218.16 -1025.42)" />
                                    <path class="cls-1" d="M1312.6,1030.93c-1.64-4.62-4.64-5.46-8.07-5.46H1301a5,5,0,0,0-1,.06h-73.4a8.45,8.45,0,0,0-8.44,8.4V1085a8.45,8.45,0,0,0,8.44,8.4h53v-.05h.16c3.59,0,5.64-1.21,6.7-4.1l4-10.92h24.15l3.85,10.92c1.11,2.89,3.48,4.1,6.75,4.1a6.78,6.78,0,0,0,7-6.56,19.5,19.5,0,0,0-1.47-5.73Zm-62,59.71a9.67,9.67,0,1,1,9.7-9.66A9.69,9.69,0,0,1,1250.59,1090.64Zm20.51-8.93h-8.91c0-1.89-.79-12.39-11.86-12.39s-11.55,12.5-11.55,12.5h-2.37s-6.91-2.79-8.33-3.52-1.59-4.68-1.59-4.68v-3.41h1.22v-3.46c.58-7.36,18.66-14,18.66-14s15.19-14.91,17.56-17c5.12-4.47,25.84-3.47,25.84-3.47Zm22.57-13.7,8.86-26.31h.16l8.49,26.31Z" transform="translate(-1218.16 -1025.42)" />
                                    <path class="cls-2" d="M1250.59,1088.85a7.88,7.88,0,1,0-7.91-7.87A7.89,7.89,0,0,0,1250.59,1088.85Z" transform="translate(-1218.16 -1025.42)" />
                                    <path class="cls-1" d="M1312.6,1030.93c-1.64-4.62-4.64-5.46-8.07-5.46H1301a5,5,0,0,0-1,.06h-73.4a8.45,8.45,0,0,0-8.44,8.4V1085a8.45,8.45,0,0,0,8.44,8.4h53v-.05h.16c3.59,0,5.64-1.21,6.7-4.1l4-10.92h24.15l3.85,10.92c1.11,2.89,3.48,4.1,6.75,4.1a6.78,6.78,0,0,0,7-6.56,19.5,19.5,0,0,0-1.47-5.73Zm-62,59.71a9.67,9.67,0,1,1,9.7-9.66A9.69,9.69,0,0,1,1250.59,1090.64Zm20.51-8.93h-8.91c0-1.89-.79-12.39-11.86-12.39s-11.55,12.5-11.55,12.5h-2.37s-6.91-2.79-8.33-3.52-1.59-4.68-1.59-4.68v-3.41h1.22v-3.46c.58-7.36,18.66-14,18.66-14s15.19-14.91,17.56-17c5.12-4.47,25.84-3.47,25.84-3.47Zm22.57-13.7,8.86-26.31h.16l8.49,26.31Z" transform="translate(-1218.16 -1025.42)" />
                                    <path class="cls-1" d="M1239.94,1061.65c-.63-.15-3-.15-4-.21a1.21,1.21,0,0,0-.85.32,12.4,12.4,0,0,0-1.9,2,16.75,16.75,0,0,0-1.74,3.21c-.26.68.48.73.48.73l1.74.37a.6.6,0,0,0,.58-.16l5.8-5S1240.89,1061.86,1239.94,1061.65Z" transform="translate(-1218.16 -1025.42)" />
                                    <path class="cls-1" d="M1279.12,1036.71c-.79,0-8.12.79-9.55,1a11.63,11.63,0,0,0-3.53,1.89l-9,9.93v5.3l19.09-3.67a3.91,3.91,0,0,0,2.85-3.63l1.16-9.87S1279.91,1036.71,1279.12,1036.71Z" transform="translate(-1218.16 -1025.42)" />
                                  </svg>
                                </div>
                                <a href="">Item 1</a>
                                <a href="">Item 2</a>
                                <a href="" class="active">Item 3</a>
                                <a href="">Item 4</a>
                              </nav>
                            </div>
                          </div>
                      </figure>
                    </section>
                    <section>
                      <h4>Sectional banners</h4>
                      <p>These can be placed on a particular area of a page or top of a component they correspond to. These messages may contain a variety of content types including errors, information etc.</p>
                      <figure>
                          <div class="inner alabaster">
                            <div class="uispacer-page">
                              <div class="card">
                               <div class="body">
                                  <div class="banner banner-section chalk banner-action">
                                    <h4>Scheduled maintenance today @ 22:00 PST</h4>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                      </figure>
                    </section>
                  </section>
                  <section id="design" class="tab-panel">
                    <section>
                      <h4>Informational</h4>
                      <div class="main-grid">
                        <div>
                           <h6>Picton Blue</h6>
                           <div class="swatch picton"></div>
                        </div>
                        <div>
                           <h6>Cornflower</h6>
                           <div class="swatch cornflower"></div>
                        </div>
                      </div>
                    </section>
                    <section>
                      <h4>Success</h4>
                      <div class="main-grid">
                        <div>
                           <h6>Lima</h6>
                           <div class="swatch lima"></div>
                        </div>
                        <div>
                           <h6>Willow</h6>
                           <div class="swatch willow"></div>
                        </div>
                      </div>
                    </section>
                    <section>
                      <h4>Error</h4>
                      <div class="main-grid">
                        <div>
                           <h6>Lima</h6>
                           <div class="swatch carnation"></div>
                        </div>
                        <div>
                           <h6>Froly</h6>
                           <div class="swatch froly"></div>
                        </div>
                      </div>
                    </section>
                    <section>
                      <h4>Warning</h4>
                      <div class="main-grid">
                        <div>
                           <h6>Carrot</h6>
                           <div class="swatch carrot"></div>
                        </div>
                        <div>
                           <h6>Chalk</h6>
                           <div class="swatch chalk"></div>
                        </div>
                      </div>
                    </section>
                  </section>
                  <section id="related" class="tab-panel">
                    <p>For tallies or counts, use a counter</p>
                    <p>To visually illustrate a status, use a lozenge</p>
                  </section>
                  <section id="current" class="tab-panel">
                    <h4>V4</h4>

                    <h4>V5</h4>
                    <img class="deleteme" src="../image/delete-banner/Screenshot 2021-11-23 at 15.23.48.png">
                    <img class="deleteme" src="../image/delete-banner/Screenshot 2021-11-24 at 09.09.23.png">
                    <img class="deleteme" src="../image/delete-banner/Screenshot 2021-11-24 at 17.03.45.png">
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>