<!DOCTYPE html>
<html>
   
   
   <meta http-equiv="content-type" content="text/html;charset=utf-8" />
   
   <head>
      <link rel="stylesheet" href="../style.css">
      <meta charSet="utf-8" />
      <title>Move by AnyVan | Components | Buttons</title>
      
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
      
      
      
      
      <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png" />
      <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png" />
   </head>
   <body>
      <div id="__next">
         <div>
            <div class="ub-w_100vw ub-dspl_flex ub-flx-drct_column ub-min-h_100vh ub-box-szg_border-box">
               <nav class="nav-main-system">
                  <div class="logo-box-main"><img class="ub-w_100px ub-h_24px ub-crsr_pointer ub-box-szg_border-box" src="../image/AnyVan-move.svg" /></div>
                  <div class="primary-nav-system"><a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box"
                     href="../index.html" rel="noopener">Home</a><a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box"
                     href="../foundations.html" rel="noopener">Foundations</a><a class="css-b61p4k    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_3366FF ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box"
                     href="../components.html" rel="noopener">Components</a><a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box"
                     href="../patterns.html" rel="noopener">Patterns</a><a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box"
                     href="../resources.html" rel="noopener">Resources</a></div>
               </nav>
               <div class="ub-flx_1 ub-h_100prcnt ub-box-szg_border-box">
                  <div class="ub-w_100prcnt ub-dspl_grid ub-grd-tmp-col_1c86bs ub-box-szg_border-box">
                     <div class="sidebar-nav">
                            <h2>Components</h2>
                            <div role="tablist" class="ub-box-szg_border-box">
                                    <a tabindex="0" href="alerts.html" rel="noopener">Alerts</a>

                                    <a tabindex="0" href="autocomplete.html" rel="noopener">Autocomplete</a>

                                    <a tabindex="0" href="avatars.html" rel="noopener">Avatars</a>

                                    <a tabindex="0" href="badges.html" rel="noopener">Badges</a>

                                    <a tabindex="0" href="banners.html" rel="noopener">Banners</a>

                                    <a tabindex="0" aria-current="page" href="buttons.html" rel="noopener">Buttons</a>

                                    <a tabindex="0" href="checkboxes.html"rel="noopener">Checkboxes</a>

                                    <a tabindex="0" href="cards.html" rel="noopener">Cards</a>

                                    <a tabindex="0" href="counters.html" rel="noopener">Counters</a>

                                    <a tabindex="0" href="fab.html" rel="noopener">FAB</a>

                                    <a tabindex="0" href="lozenges.html" rel="noopener"> Lozenges</a>

                                    <a tabindex="0" href="pills.html" rel="noopener">Pills</a>

                                    <a href="overlay.html" rel="noopener">Overlay</a>

                                    <a tabindex="0" href="status-indicators.html" rel="noopener">Status indicators</a>

                                    <a tabindex="0" href="tabs.html" rel="noopener">Tabs</a>

                                    

                                </div>
                        </div>
                     <div class="ub-w_100prcnt ub-dspl_flex ub-flx-drct_column ub-just-cnt_flex-start ub-pb_40px ub-pl_40px ub-pr_40px ub-pt_40px ub-max-w_1200px ub-box-szg_border-box">
                        <div class="ub-dspl_flex ub-w_100prcnt ub-just-cnt_space-between ub-flx-drct_column ub-algn-itms_flex-start ub-box-szg_border-box">
                           <div class="ub-dspl_flex ub-w_100prcnt ub-just-cnt_space-between ub-mb_32px ub-box-szg_border-box">
                              <div class="ub-box-szg_border-box">
                                 <div class="lozenge lozenge-s picton">Input</div>
                                 <h1>Buttons</h1>
                                 <p>A button triggers an action or an event</p>
                              </div>
                           </div>
                        </div>
                        <div>
                           <div class="tabset glo">
                              
                              <input type="radio" name="tabset" id="tab1" aria-controls="overview" checked>
                              <label for="tab1">Overview</label>
                              
                              <input type="radio" name="tabset" id="tab2" aria-controls="sizing">
                              <label for="tab2">Sizing</label>
                              
                              <input type="radio" name="tabset" id="tab3" aria-controls="states">
                              <label for="tab3">States</label>

                              
                              <input type="radio" name="tabset" id="tab4" aria-controls="usage">
                              <label for="tab4">Intents</label>

                              
                              <input type="radio" name="tabset" id="tab5" aria-controls="usage">
                              <label for="tab5">Groups</label>

                              <!-- Tab 5 -->
                              <input type="radio" name="tabset" id="tab6" aria-controls="responsive">
                              <label for="tab6">Responsive</label>

                              <!-- Tab 5 -->
                              <input type="radio" name="tabset" id="tab6" aria-controls="content">
                              <label for="tab6">Content</label>

                              <div class="tab-panels">
                                 <section id="overview" class="tab-panel">
                                    <h4>Highlight</h4>
                                    <div class="ex">
                                       <div class="box">
                                          <a class="btn primary btn-m punch">Highlight</a>
                                       </div>
                                    </div>

                                    <h4>Primary</h4>
                                    <div class="ex">
                                       <div class="box">
                                          <a class="btn primary btn-m picton">Primary</a>
                                       </div>
                                    </div>

                                    <h4>Secondary</h4>
                                    <p>Outlined buttons are medium-emphasis buttons. They contain actions that are important, but aren’t the primary action. Outlined buttons pair well with filled buttons to indicate an alternative, secondary action</p>

                                    <div class="ex">
                                       <div class="box">
                                          <a class="btn secondary btn-m picton">Secondary</a>
                                       </div>
                                    </div>
                                    
                                    <h4>Minimal</h4>
                                    <p>Until the a minimal button is interacted with, its container isn’t visible</p>
                                    <div class="ex">
                                       <div class="box">
                                          <a class="btn minimal btn-m picton">Minimal</a>
                                       </div>
                                    </div>

                                    <h4>Text</h4>
                                    <p>Text buttons are used for the lowest priority actions, especially when presenting multiple options</p>
                                    <div class="ex">
                                       <div class="box">
                                          <a class="btn text btn-m picton">Text</a>
                                       </div>
                                    </div>

                                    <h4>Icon</h4>
                                    <div class="ex">
                                       <div class="box">

                                       <div class="btn icn-btn left btn-m picton">
                                          <div class="icon"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 70 70" style="enable-background:new 0 0 70 70;" xml:space="preserve"><path class="st0" d="M55.4,37.6L55.4,37.6c3.6,0,6.6,2.9,6.6,6.6l0,0c0,3.6-2.9,6.6-6.6,6.6l0,0c-3.6,0-6.6-2.9-6.6-6.6l0,0 C48.8,40.5,51.8,37.6,55.4,37.6z"></path><path class="st0" d="M47.8,28.2c-1.8-1.8-6.4-5.8-17.9-5.8C9.2,22.5,8,36.1,8,36.1"></path><path class="st0" d="M46.3,19.3l2,9.7l-9.7,2"></path></svg></div>Icon</div>

                                       <div class="btn icn-btn right btn-m picton">
                                          Icon
                                          <div class="icon"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 70 70" style="enable-background:new 0 0 70 70;" xml:space="preserve"><path class="st0" d="M55.4,37.6L55.4,37.6c3.6,0,6.6,2.9,6.6,6.6l0,0c0,3.6-2.9,6.6-6.6,6.6l0,0c-3.6,0-6.6-2.9-6.6-6.6l0,0 C48.8,40.5,51.8,37.6,55.4,37.6z"></path><path class="st0" d="M47.8,28.2c-1.8-1.8-6.4-5.8-17.9-5.8C9.2,22.5,8,36.1,8,36.1"></path><path class="st0" d="M46.3,19.3l2,9.7l-9.7,2"></path></svg></div></div>

                                       </div>
                                    </div>

                                    <h4>Split</h4>
                                    <div class="ex">
                                       <div class="box">
                                          <a class="btn split btn-m picton">Minimal</a>
                                       </div>
                                    </div>

                                 </section>

                                 <section id="sizing" class="tab-panel">
                                    <h4>Large</h4>
                                    <div class="ex">
                                       <div class="box">
                                          <div class="btn btn-l picton">Large</div>
                                       </div>
                                    </div>
                                    <h4>Medium</h4>
                                    <div class="ex">
                                       <div class="box">
                                          <div class="btn btn-m picton">Medium</div>
                                       </div>
                                    </div>
                                    <h4>Small</h4>
                                    <div class="ex">
                                       <div class="box">
                                          <div class="btn btn-s picton">Small</div>
                                       </div>
                                    </div>
                                 </section>

                                 <section id="states" class="tab-panel">

                                    <h4>Inactive</h4>
                                    <div class="ex"><div class="box"><div class="btn disabled btn-m picton">Inactive</div></div>

                                    <h4>Loading</h4>
                                    <div class="ex"><div class="box"><div class="btn btn-m picton">Loading<div class="icon"><div class="loader loader-s"><svg viewBox="0 0 40 40"><circle cx="50%" cy="50%" r="18"></circle></svg></div></div></div></div>

                                    
                                 </section>
                                 <section id="intents" class="tab-panel">

                                    <h4>Success</h4>
                                    <div class="ex"><div class="box"><div class="btn btn-m lima">Success</div></div>

                                    <h4>Error</h4>
                                    <div class="ex"><div class="box"><div class="btn btn-m carnation">Error</div></div>

                                    <h4>Pending</h4>
                                    <div class="ex"><div class="box"><div class="btn btn-m carrot">Pending</div></div>

                                 </section>

                                 <section id="groups" class="tab-panel">
                                    <div class="ex">
                                       <div class="box">
                                          <a class="btn primary btn-m picton">Primary</a>
                                          <a class="btn secondary btn-m picton">Secondary</a>
                                       </div>
                                    </div>
                                 </section>

                                 <section id="responsive" class="tab-panel">
                                 	<p>For tallies or counts, use a counter</p>
                                 	<p>To visually illustrate a status, use a lozenge</p>
                             	   </section>

                                 <section id="content" class="tab-panel">
                                    
                                    <div class="ub-w_100prcnt ub-dspl_grid ub-grd-col-gap_24px ub-grd-row-gap_32px ub-grd-tmp-col_18oc4xzsd ub-box-szg_border-box">

                                       <div>
                                          <div class="ex">
                                             <div class="box wrap">
                                                <div class="btn btn-m picton">Reset password</div>
                                                <p>Use concise, easy to scan, and clear button labels to indicate the next action to the user</p>
                                             </div>
                                          </div>
                                       </div>
                                       <div>
                                          <div class="ex">
                                             <div class="box wrap">
                                                <div class="btn btn-m picton">Click here to choose a password</div>
                                                <p>Use long, redundant button labels. Drop unnecessary articles, such as ‘a’ or ‘the’, for a more concise label</p>
                                             </div>
                                          </div>
                                       </div>

                                     </div>

                                     <div class="ub-w_100prcnt ub-dspl_grid ub-grd-col-gap_24px ub-grd-row-gap_32px ub-grd-tmp-col_18oc4xzsd ub-box-szg_border-box">

                                       <div>
                                          <div class="ex">
                                             <div class="box wrap">
                                                <div class="btn btn-m picton">Copy ticket</div>
                                                <p>Use sentence-case capitalization</p>
                                             </div>
                                          </div>
                                       </div>
                                       <div>
                                          <div class="ex">
                                             <div class="box wrap">
                                                <div class="btn btn-m picton">COPY TICKET</div>
                                                <p>Use title case captalization or all caps</p>
                                             </div>
                                          </div>
                                       </div>

                                     </div>  

                                     <div class="ub-w_100prcnt ub-dspl_grid ub-grd-col-gap_24px ub-grd-row-gap_32px ub-grd-tmp-col_18oc4xzsd ub-box-szg_border-box">

                                       <div>
                                          <div class="ex">
                                             <div class="box wrap">
                                                <div class="btn btn-m picton">Primary</div>
                                                <p>Use active verbs or phrases that clearly indicate action</p>
                                             </div>
                                          </div>
                                       </div>
                                       <div>
                                          <div class="ex">
                                             <div class="box wrap">
                                                <div class="btn btn-m picton">Primary</div>
                                                <p>Use vague and generic labels that make the user read the dialog before taking action</p>
                                             </div>
                                          </div>
                                       </div>

                                     </div>
                                     



                                 </section>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>