<!DOCTYPE html>
<html>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <head>
    <link rel="stylesheet" href="../style.css">
    <meta charSet="utf-8" />
    <title>Move by AnyVan | Components | Cards</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png" />
  </head>
  <body>
     <div class="ub-w_100vw ub-dspl_flex ub-flx-drct_column ub-min-h_100vh ub-box-szg_border-box">
       <nav class="nav-main-system">
         <div class="logo-box-main">
           <img class="ub-w_100px ub-h_24px ub-crsr_pointer ub-box-szg_border-box" src="../image/AnyVan-move.svg" />
         </div>
         <div class="primary-nav-system">
           <a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box" href="../index.html" rel="noopener">Home</a>
           <a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box" href="../foundations.html" rel="noopener">Foundations</a>
           <a class="css-b61p4k    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_3366FF ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box" href="../components.html" rel="noopener">Components</a>
           <a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box" href="../patterns.html" rel="noopener">Patterns</a>
           <a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box" href="../resources.html" rel="noopener">Resources</a>
         </div>
       </nav>
       <div class="ub-flx_1 ub-h_100prcnt ub-box-szg_border-box">
         <div class="ub-w_100prcnt ub-dspl_grid ub-grd-tmp-col_1c86bs ub-box-szg_border-box">
           <div class="sidebar-nav">
             <h2>Components</h2>
             <div role="tablist" class="ub-box-szg_border-box">
               <a tabindex="0" href="alerts.html" rel="noopener">Alerts</a>
               <a tabindex="0" href="autocomplete.html" rel="noopener">Autocomplete</a>
               <a tabindex="0" href="avatars.html" rel="noopener">Avatars</a>
               <a tabindex="0" href="badges.html" rel="noopener">Badges</a>
               <a tabindex="0" href="banners.html" rel="noopener">Banners</a>
               <a tabindex="0" href="buttons.html" rel="noopener">Buttons</a>
               <a tabindex="0" href="checkboxes.html" rel="noopener">Checkboxes</a>
               <a tabindex="0" aria-current="page" href="cards.html" rel="noopener">Cards</a>
               <a tabindex="0" href="counters.html" rel="noopener">Counters</a>
               <a tabindex="0" href="fab.html" rel="noopener">FAB</a>
               <a tabindex="0" href="lozenges.html" rel="noopener"> Lozenges</a>
               <a tabindex="0" href="pills.html" rel="noopener">Pills</a>
               <a href="overlay.html" rel="noopener">Overlay</a>
               <a tabindex="0" href="status-indicators.html" rel="noopener">Status indicators</a>
               <a tabindex="0" href="tabs.html" rel="noopener">Tabs</a>
             </div>
           </div>
           <div class="ub-w_100prcnt ub-dspl_flex ub-flx-drct_column ub-just-cnt_flex-start ub-pb_40px ub-pl_40px ub-pr_40px ub-pt_40px ub-max-w_1200px ub-box-szg_border-box">
             <div class="ub-dspl_flex ub-w_100prcnt ub-just-cnt_space-between ub-flx-drct_column ub-algn-itms_flex-start ub-box-szg_border-box">
               <div class="ub-dspl_flex ub-w_100prcnt ub-just-cnt_space-between ub-mb_32px ub-box-szg_border-box">
                 <div class="ub-box-szg_border-box">
                   <div class="lozenge lozenge-s picton">Surfaces</div>
                   <h1>Cards</h1>
                   <p>Cards contain content and actions that relate information about a subject</p>
                 </div>
               </div>
             </div>
             <div>
               <div class="tabset glo">
                 <input type="radio" name="tabset" id="tab1" aria-controls="overview" checked>
                 <label for="tab1">Overview</label>
                 <input type="radio" name="tabset" id="tab2" aria-controls="interactivity">
                 <label for="tab2">Interactivity</label>
                 <input type="radio" name="tabset" id="tab4" aria-controls="horizontal">
                 <label for="tab4">Horizontal</label>
                 <input type="radio" name="tabset" id="tab5" aria-controls="design">
                 <label for="tab5">Design</label>
                 <input type="radio" name="tabset" id="tab6" aria-controls="related">
                 <label for="tab6">Related</label>
                 <div class="tab-panels">
                   <section id="overview" class="tab-panel">
                     <section>
                       <p>There are two types of cards — elevated and filled. Cards should be filled by default. For outlined cards, use <a href="wells.html">wells</a>
                       </p>
                       <figure>
                         <div class="inner alabaster">
                           <div class="uispacer">
                             <div class="card">
                               <div class="body">
                                 <h5>Better together</h5>
                                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem atque minima itaque sint! Doloremque odio quia saepe.</p>
                               </div>
                             </div>
                           </div>
                         </div>
                       </figure>
                     </section>
                     <section>
                       <figure>
                         <div class="inner alabaster">
                           <div class="uispacer">
                             <div class="card evel-10">
                               <div class="body">
                                 <h5>Better together</h5>
                                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem atque minima itaque sint! Doloremque odio quia saepe.</p>
                               </div>
                             </div>
                           </div>
                         </div>
                       </figure>
                     </section>
                   </section>
                   <section id="interactivity" class="tab-panel">
                     <section>
                       <h4>Hover</h4>
                       <p>A filled card, can be used as an interactive element, if it does not contain any other interactive elements. In this case it has a shadow hover of <span class="lozenge lozenge-s white">10</span>
                       </p>
                       <figure>
                         <div class="inner alabaster">
                           <div class="uispacer mobile">
                             <a class="card">
                               <div class="body">
                                 <p>We collect, store and deliver making storing your items hassle free and low cost. With over 40 facilities, we cover the whole of the United Kingdom.</p>
                               </div>
                             </a>
                           </div>
                         </div>
                       </figure>
                     </section>
                     <section>
                       <h4>Actions</h4>
                       <p>In addition to text and images, cards can contain interactive elements such as buttons, icon buttons and text links. A hover effect across the entire card is omitted in this case.</p>
                       <figure>
                         <div class="inner alabaster">
                           <div class="uispacer mobile">
                             <div class="card">
                               <div class="body">
                                 <p>We collect, store and deliver making storing your items hassle free and low cost. With over 40 facilities, we cover the whole of the United Kingdom.</p>
                               </div>
                               <div class="footer">
                                 <div class="secondary btn btn-m picton">Action</div>
                                 <div class="primary btn btn-m picton">Action</div>
                               </div>
                             </div>
                           </div>
                         </div>
                       </figure>
                     </section>
                     <section>
                       <h4>Images</h4>
                       <p>Images span edge in cards - remember the guidelines around <a href="overlay.html">overlays</a> and readability when using background images and cards </p>
                       <figure>
                         <div class="inner alabaster">
                           <div class="uispacer mobile">
                             <div class="card image-card">
                               <div class="image">
                                 <img src="../image/card-test.png" />
                               </div>
                               <div class="body">
                                 <p>We collect, store and deliver making storing your items hassle free and low cost. With over 40 facilities, we cover the whole of the United Kingdom.</p>
                               </div>
                               <div class="footer">
                                 <div class="secondary btn btn-m picton">Action</div>
                                 <div class="primary btn btn-m picton">Action</div>
                               </div>
                             </div>
                             <div class="card bg-image-card " style="background: url(../image/swimlane-image.png) no-repeat center left;">
                               <div class="body">
                                 <h3>Not packing properly?</h3>
                                 <p>To prevent damage to yourself and your possessions during the move, you should avoid the following rookie packing mistakes</p>
                               </div>
                             </div>
                           </div>
                         </div>
                       </figure>
                     </section>
                   </section>
                   <section id="horizontal" class="tab-panel">
                     <section>
                       <h4>Actions</h4>
                       <p>In addition to text and images, cards can contain interactive elements such as buttons, icon buttons and text links. A hover effect across the entire card is omitted in this case.</p>
                       <figure>
                         <div class="inner alabaster">
                           <div class="uispacer">
                             <div class="card horizontal">
                               <div class="body">
                                 <p>We collect, store and deliver making storing your items hassle free and low cost. With over 40 facilities, we cover the whole of the United Kingdom.</p>
                                 <div class="footer">
                                   <div class="secondary btn btn-m picton">Action</div>
                                   <div class="primary btn btn-m picton">Action</div>
                                 </div>
                               </div>
                             </div>
                           </div>
                         </div>
                       </figure>
                     </section>
                     <section>
                       <h4>Images</h4>
                       <p>Images span edge in cards - remember the guidelines around <a href="overlay.html">overlays</a> and readability when using background images and cards </p>
                       <figure>
                         <div class="inner alabaster">
                           <div class="uispacer">
                             <div class="card horizontal image-card">
                               <div class="image">
                                 <img src="../image/card-test.png" />
                               </div>
                               <div class="body">
                                 <p>We collect, store and deliver making storing your items hassle free and low cost. With over 40 facilities, we cover the whole of the United Kingdom.</p>
                                 <div class="footer">
                                   <div class="secondary btn btn-m picton">Action</div>
                                   <div class="primary btn btn-m picton">Action</div>
                                 </div>
                               </div>
                             </div>
                           </div>
                         </div>
                       </figure>
                     </section>
                   </section>
                   <section id="responsive" class="tab-panel">
                     <h4>Padding</h4>
                     <section>
                       <h5>Desktop</h5>
                       <figure>
                         <div class="inner alabaster">
                           <div class="uispacer mobile">
                             <div class="card ex-desktop-padding">
                               <div class="body">
                                 <h5>Title</h5>
                                 <p>Test</p>
                               </div>
                             </div>
                           </div>
                         </div>
                       </figure>
                     </section>
                     <section>
                       <h5>Tablet</h5>
                       <figure>
                         <div class="inner alabaster">
                           <div class="uispacer mobile">
                             <div class="card tablet ex-tablet-padding">
                               <div class="body">
                                 <h5>Title</h5>
                                 <p>Test</p>
                               </div>
                             </div>
                           </div>
                         </div>
                       </figure>
                     </section>
                     <section>
                       <h5>Mobile</h5>
                       <figure>
                         <div class="inner alabaster">
                           <div class="uispacer mobile">
                             <div class="card mobile ex-mobile-padding">
                               <div class="body">
                                 <h5>Title</h5>
                                 <p>Test</p>
                               </div>
                             </div>
                           </div>
                         </div>
                       </figure>
                     </section>
                   </section>
                   <section id="related" class="tab-panel">
                     <ul>
                       <li>To expand and collapse content, use an a <a href="">drawer</a>
                       </li>
                       <li>For validation messages, use an <a href="">alert</a>
                       </li>
                     </ul>
                   </section>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
  </body>
</html>