<!DOCTYPE html>
<html>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <head>
    <link rel="stylesheet" href="../style.css">
    <meta charSet="utf-8" />
    <title>Move by AnyVan | Components | Chips</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png" />
  </head>
  <body>
    <div id="__next">
      <div>
        <div class="ub-w_100vw ub-dspl_flex ub-flx-drct_column ub-min-h_100vh ub-box-szg_border-box">
          <nav class="nav-main-system">
            <div class="logo-box-main">
              <img class="ub-w_100px ub-h_24px ub-crsr_pointer ub-box-szg_border-box" src="../image/AnyVan-move.svg" />
            </div>
            <div class="primary-nav-system">
              <a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box" href="../index.html" rel="noopener">Home</a>
              <a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box" href="../foundations.html" rel="noopener">Foundations</a>
              <a class="css-b61p4k    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_3366FF ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box" href="../components.html" rel="noopener">Components</a>
              <a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box" href="../patterns.html" rel="noopener">Patterns</a>
              <a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box" href="../resources.html" rel="noopener">Resources</a>
            </div>
          </nav>
          <div class="ub-flx_1 ub-h_100prcnt ub-box-szg_border-box">
            <div class="ub-w_100prcnt ub-dspl_grid ub-grd-tmp-col_1c86bs ub-box-szg_border-box">
              <div class="sidebar-nav">
                <h2>Components</h2>
                <div role="tablist" class="ub-box-szg_border-box">
                  <a tabindex="0" href="alerts.html" rel="noopener">Alerts</a>
                  <a tabindex="0" href="autocomplete.html" rel="noopener">Autocomplete</a>
                  <a tabindex="0" href="avatars.html" rel="noopener">Avatars</a>
                  <a tabindex="0" href="badges.html" rel="noopener">Badges</a>
                  <a tabindex="0" href="banners.html" rel="noopener">Banners</a>
                  <a tabindex="0" href="buttons.html" rel="noopener">Buttons</a>
                  <a tabindex="0" href="checkboxes.html" rel="noopener">Checkboxes</a>
                  <a tabindex="0" href="cards.html" rel="noopener">Cards</a>
                  <a tabindex="0" href="counters.html" rel="noopener">Counters</a>
                  <a tabindex="0" href="fab.html" rel="noopener">FAB</a>
                  <a tabindex="0" href="lozenges.html" rel="noopener"> Lozenges</a>
                  <a tabindex="0" aria-current="page" href="pills.html" rel="noopener">Pills</a>
                  <a href="overlay.html" rel="noopener">Overlay</a>
                  <a tabindex="0" href="status-indicators.html" rel="noopener">Status indicators</a>
                  <a tabindex="0" href="tabs.html" rel="noopener">Tabs</a>
                </div>
              </div>
              <div class="ub-w_100prcnt ub-dspl_flex ub-flx-drct_column ub-just-cnt_flex-start ub-pb_40px ub-pl_40px ub-pr_40px ub-pt_40px ub-max-w_1200px ub-box-szg_border-box">
                <div class="ub-dspl_flex ub-w_100prcnt ub-just-cnt_space-between ub-flx-drct_column ub-algn-itms_flex-start ub-box-szg_border-box">
                  <div class="ub-dspl_flex ub-w_100prcnt ub-just-cnt_space-between ub-mb_32px ub-box-szg_border-box">
                    <div class="ub-box-szg_border-box">
                      <div class="lozenge lozenge-s picton">Data</div>
                      <h1>Chips</h1>
                      <p>Chips are compact elements that represent users, inputs, attributes or actions</p>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="tabset glo">
                    <input type="radio" name="tabset" id="tab1" aria-controls="overview" checked>
                    <label for="tab1">Overview</label>
                    <div class="tab-panels">
                      <section id="overview" class="tab-panel">
                        <h4>Default</h4>
                        <figure>
                         <div class="inner alabaster">
                           <div class="uispacer mobile">
                            <div class="avatar-box">
                              <div title="Jeroen Ransijn" class="avatar avatar-s saffron three">
                                <span class="inner">
                                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 57.58 67.95">
                                    <g id="Layer_2" data-name="Layer 2">
                                      <g id="Layer_1-2" data-name="Layer 1">
                                        <path class="cls-1" d="M57.58,6.67C57.58,1.68,53.73,0,50,0c-3.48,0-5.65,2.1-7,6.56L28.89,51.14h-.15L15.19,6.56C13.81,2.1,11.6,0,7.59,0,3.85,0,0,1.63,0,6.67A12.66,12.66,0,0,0,.9,11L19.35,62.75C20.88,67,23.83,68,28.47,68s7.6-.9,9.12-5.2L56.63,11A12,12,0,0,0,57.58,6.67Z"></path>
                                      </g>
                                    </g>
                                  </svg>
                                </span>
                              </div>
                              <p>Benedict</p>
                              <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M51.7273 26.6364L35.3636 43L19 26.6364" stroke="#292929" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                              </svg>
                              <div class="pro-menu">
                                 <a href="">Profile</a>
                                 <a href="">Log out</a>
                              </div>

                            </div>
                          </div>
                        </div>
                      </figure>
                      </section>
                    </div>
                  </div>
                </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $(".avatar-box").click(function(e) {
          e.stopPropagation();
          $('.pro-menu').toggleClass("active");
        });
      });
    </script>
  </body>
</html>