<!DOCTYPE html>
<html>
   <meta http-equiv="content-type" content="text/html;charset=utf-8" />
   <head>
      <link rel="stylesheet" href="../style.css">
      <meta charSet="utf-8" />
      <title>Move by AnyVan | Components | Loaders</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png" />
      <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png" />
   </head>
   <body>
      <div id="__next">
         <div>
            <div class="ub-w_100vw ub-dspl_flex ub-flx-drct_column ub-min-h_100vh ub-box-szg_border-box">
               <nav class="nav-main-system">
                  <div class="logo-box-main"><img class="ub-w_100px ub-h_24px ub-crsr_pointer ub-box-szg_border-box" src="../image/AnyVan-move.svg" /></div>
                  <div class="primary-nav-system"><a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box"
                     href="../index.html" rel="noopener">Home</a><a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box"
                     href="../foundations.html" rel="noopener">Foundations</a><a class="css-b61p4k    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_3366FF ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box"
                     href="../components.html" rel="noopener">Components</a><a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box"
                     href="../patterns.html" rel="noopener">Patterns</a><a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box"
                     href="../resources.html" rel="noopener">Resources</a></div>
               </nav>
               <div class="ub-flx_1 ub-h_100prcnt ub-box-szg_border-box">
                  <div class="ub-w_100prcnt ub-dspl_grid ub-grd-tmp-col_1c86bs ub-box-szg_border-box">
                     <div class="sidebar-nav">
                        <h2>Components</h2>
                        <div role="tablist" class="ub-box-szg_border-box">
                           <a tabindex="0" href="alerts.html" rel="noopener">Alerts</a>
                           <a tabindex="0" href="app-bars.html" rel="noopener">App bars</a>
                           <a tabindex="0" href="components/autocomplete.html" rel="noopener">Autocomplete</a>
                           <a tabindex="0" href="avatars.html" rel="noopener">Avatars</a>
                           <a tabindex="0" href="badges.html" rel="noopener">Badges</a>
                           <a tabindex="0" href="banners.html" rel="noopener">Banners</a>
                           <a tabindex="0" href="breadcrumbs.html" rel="noopener">Breadcrumbs</a>
                           <a tabindex="0" href="buttons.html" rel="noopener">Buttons</a>
                           <a tabindex="0" href="cards.html" rel="noopener">Cards</a>
                           <a tabindex="0" href="checkboxes.html" rel="noopener">Checkboxes</a>
                           <a tabindex="0" href="chips.html" rel="noopener">Chips</a>
                           <a tabindex="0" href="counters.html" rel="noopener">Counters</a>
                           <a tabindex="0" href="dialogues.html" rel="noopener">Dialogues</a>
                           <a tabindex="0" href="drawers.html" rel="noopener">Drawers</a>
                           <a tabindex="0" href="fab.html" rel="noopener">FAB</a>
                           <a aria-current="page" tabindex="0" href="loaders.html" rel="noopener">Loaders</a>
                           <a tabindex="0" href="lozenges.html" rel="noopener">Lozenges</a>
                           <a tabindex="0" href="menus.html" rel="noopener">Menus</a>
                           <a tabindex="0" href="overlay.html" rel="noopener">Overlay</a>
                           <a tabindex="0" href="pills.html" rel="noopener">Pills</a>
                           <a tabindex="0" href="radio-buttons.html" rel="noopener">Radio buttons</a>
                           <a tabindex="0" href="search.html" rel="noopener">Search</a>
                           <a tabindex="0" href="side-sheets.html" rel="noopener">Side sheets</a>
                           <a tabindex="0" href="status-indicators.html" rel="noopener">Status indicators</a>
                           <a tabindex="0" href="swimlanes.html" rel="noopener">Swimlanes</a>
                           <a tabindex="0" href="switches.html" rel="noopener">Switches</a>
                           <a tabindex="0" href="tables.html" rel="noopener">Tables</a>
                           <a tabindex="0" href="tabs.html" rel="noopener">Tabs</a>
                           <a tabindex="0" href="textarea.html" rel="noopener">Text areas</a>
                           <a tabindex="0" href="text-inputs.html" rel="noopener">Text inputs</a>
                           <a tabindex="0" href="tiles.html" rel="noopener">Tiles</a>
                           <a tabindex="0" href="toggles.html" rel="noopener">Toggles</a>
                           <a tabindex="0" href="tooltips.html" rel="noopener">Tooltips</a>
                           <a tabindex="0" href="wells.html" rel="noopener">Wells</a>
                        </div>
                     </div>
                     <div class="ub-w_100prcnt ub-dspl_flex ub-flx-drct_column ub-just-cnt_flex-start ub-pb_40px ub-pl_40px ub-pr_40px ub-pt_40px ub-max-w_1200px ub-box-szg_border-box">
                        <div class="ub-dspl_flex ub-w_100prcnt ub-just-cnt_space-between ub-flx-drct_column ub-algn-itms_flex-start ub-box-szg_border-box">
                           <div class="ub-dspl_flex ub-w_100prcnt ub-just-cnt_space-between ub-mb_32px ub-box-szg_border-box">
                              <div class="ub-box-szg_border-box">
                                 <div class="lozenge lozenge-s picton">Feedback</div>
                                 <h1>Loaders</h1>
                                 <p>Lets users know that content is being loaded</p>
                              </div>
                           </div>
                        </div>
                        <div>
                           <div class="tabset glo">
                              <input type="radio" name="tabset" id="tab1" aria-controls="overview" checked>
                              <label for="tab1">Overview</label>
                              <input type="radio" name="tabset" id="tab2" aria-controls="sizing">
                              <label for="tab2">Sizing</label>
                              <input type="radio" name="tabset" id="tab3" aria-controls="variation">
                              <label for="tab3">Variations</label>
                              <div class="tab-panels">
                                 <section id="overview" class="tab-panel">
                                    <p>Loaders let users know progress on their action in the UI is being made. Loaders also prevent users from giving up on an experience, especially after user input, and prevent repeated actions</p>
                                    <figure>
                                       <div class="inner alabaster">
                                          <div class="uispacer">
                                             <div class="loader loader-m">
                                                <svg viewBox="0 0 40 40" class="Loading__StyledSpinner-sc-199xidk-2 iaXxoU">
                                                   <circle cx="50%" cy="50%" r="18"></circle>
                                                </svg>
                                             </div>
                                          </div>
                                       </div>
                                    </figure>
                                 </section>
                                 <section id="sizing" class="tab-panel">
                                    <section>
                                    <h4>Large</h4>
                                    <figure>
                                       <div class="inner alabaster">
                                          <div class="uispacer">
                                             <div class="loader loader-l">
                                                <svg viewBox="0 0 40 40">
                                                   <circle cx="50%" cy="50%" r="18"></circle>
                                                </svg>
                                             </div>
                                          </div>
                                       </div>
                                    </figure>
                                    </section>
                                    <section>
                                    <h4>Medium</h4>
                                    <figure>
                                       <div class="inner alabaster">
                                          <div class="uispacer">
                                             <div class="loader loader-m">
                                                <svg viewBox="0 0 40 40">
                                                   <circle cx="50%" cy="50%" r="18"></circle>
                                                </svg>
                                             </div>
                                          </div>
                                       </div>
                                    </figure>
                                    </section>
                                    <section>
                                    <h4>Small</h4>
                                    <figure>
                                       <div class="inner alabaster">
                                          <div class="uispacer">
                                             <div class="loader loader-s">
                                          <svg viewBox="0 0 40 40">
                                             <circle cx="50%" cy="50%" r="18"></circle>
                                          </svg>
                                             </div>
                                          </div>
                                       </div>
                                    </figure>
                                    </section>
                                 </section>
                                 <section id="variations" class="tab-panel">
                                    <section>
                                       <h4>Page</h4>
                                       <figure>
                                          <div class="inner alabaster">
                                             <div class="uispacer">
                                                <div class="loader loader-m">
                                                   <svg viewBox="0 0 40 40">
                                                      <circle cx="50%" cy="50%" r="18"></circle>
                                                   </svg>
                                                   <p>Hang tight while we find your perfect price...</p>
                                                </div>
                                             </div>
                                          </div>
                                       </figure>
                                    </section>
                                    <section>
                                       <h4>Button</h4>
                                       <figure>
                                          <div class="inner alabaster">
                                             <div class="uispacer">
                                                <div class="btn btn-m picton loading">
                                                   Getting prices
                                                   <div class="icon">
                                                      <div class="loader loader-s">
                                                         <svg viewBox="0 0 40 40">
                                                            <circle cx="50%" cy="50%" r="18"></circle>
                                                         </svg>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </figure>
                                    </section>
                                 </section>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>