<!DOCTYPE html>
<html>
   
   
   <meta http-equiv="content-type" content="text/html;charset=utf-8" />
   
   <head>
      <link rel="stylesheet" href="../style.css">
      <meta charSet="utf-8" />
      <title>Move by AnyVan | Components | Lozenges</title>
      
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
      
      
      
      
      <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png" />
      <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png" />
   </head>
   <body>
      <div id="__next">
         <div>
            <div class="ub-w_100vw ub-dspl_flex ub-flx-drct_column ub-min-h_100vh ub-box-szg_border-box">
               <nav class="nav-main-system">
                  <div class="logo-box-main"><img class="ub-w_100px ub-h_24px ub-crsr_pointer ub-box-szg_border-box" src="../image/AnyVan-move.svg" /></div>
                  <div class="primary-nav-system"><a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box"
                     href="../index.html" rel="noopener">Home</a><a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box"
                     href="../foundations.html" rel="noopener">Foundations</a><a class="css-b61p4k    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_3366FF ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box"
                     href="../components.html" rel="noopener">Components</a><a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box"
                     href="../patterns.html" rel="noopener">Patterns</a><a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box"
                     href="../resources.html" rel="noopener">Resources</a></div>
               </nav>
               <div class="ub-flx_1 ub-h_100prcnt ub-box-szg_border-box">
                  <div class="ub-w_100prcnt ub-dspl_grid ub-grd-tmp-col_1c86bs ub-box-szg_border-box">
                     <div class="sidebar-nav">
                            <h2>Components</h2>
                            <div role="tablist" class="ub-box-szg_border-box">
                                    <a tabindex="0" href="alerts.html" rel="noopener">Alerts</a>

                                    <a tabindex="0" href="autocomplete.html" rel="noopener">Autocomplete</a>

                                    <a tabindex="0" href="avatars.html" rel="noopener">Avatars</a>

                                    <a tabindex="0" href="badges.html" rel="noopener">Badges</a>

                                    <a tabindex="0" href="banners.html" rel="noopener">Banners</a>

                                    <a tabindex="0" href="buttons.html" rel="noopener">Buttons</a>

                                    <a tabindex="0" href="checkboxes.html"rel="noopener">Checkboxes</a>

                                    <a tabindex="0" href="cards.html" rel="noopener">Cards</a>

                                    <a tabindex="0" href="counters.html" rel="noopener">Counters</a>

                                    <a tabindex="0" href="fab.html" rel="noopener">FAB</a>

                                    <a tabindex="0" aria-current="page" href="lozenges.html" rel="noopener"> Lozenges</a>

                                    <a tabindex="0" href="pills.html" rel="noopener">Pills</a>

                                    <a href="overlay.html" rel="noopener">Overlay</a>

                                    <a tabindex="0" href="status-indicators.html" rel="noopener">Status indicators</a>

                                    <a tabindex="0" href="tabs.html" rel="noopener">Tabs</a>

                                    

                                </div>
                        </div>
                     <div class="ub-w_100prcnt ub-dspl_flex ub-flx-drct_column ub-just-cnt_flex-start ub-pb_40px ub-pl_40px ub-pr_40px ub-pt_40px ub-max-w_1200px ub-box-szg_border-box">
                        <div class="ub-dspl_flex ub-w_100prcnt ub-just-cnt_space-between ub-flx-drct_column ub-algn-itms_flex-start ub-box-szg_border-box">
                           <div class="ub-dspl_flex ub-w_100prcnt ub-just-cnt_space-between ub-mb_32px ub-box-szg_border-box">
                              <div class="ub-box-szg_border-box">
                                 <div class="lozenge lozenge-s picton">Data</div>
                                 <h1>Lozenges</h1>
                                 <p>A lozenge is a visual indicator used to highlight an item's status for quick recognition</p>
                              </div>
                           </div>
                        </div>
                        <div>
                           <div class="tabset glo">
                              
                              <input type="radio" name="tabset" id="tab1" aria-controls="overview" checked>
                              <label for="tab1">Overview</label>
                              
                              <input type="radio" name="tabset" id="tab2" aria-controls="sizing">
                              <label for="tab2">Sizing</label>
                              
                              <input type="radio" name="tabset" id="tab3" aria-controls="system">
                              <label for="tab3">System</label>
                              
                              <input type="radio" name="tabset" id="tab4" aria-controls="usage">
                              <label for="tab4">Usage</label>
                              <!-- Tab 5 -->
                              <input type="radio" name="tabset" id="tab5" aria-controls="related">
                              <label for="tab5">Related</label>

                              <div class="tab-panels">
                                 <section id="overview" class="tab-panel">
                                    <h4>Default</h4>
                                    <p>Lozenges are always bold and the use color to indicate meanings is very important as users learn and recognize these colours and meanings across products, platforms and executions</p>
                                    
                                    <div class="ex"><div class="box"><div class="lozenge lozenge-s celery">EARLY</div></div>

                                    <h4>Truncation</h4>
                                    <p>By default, the maximum width of a badge is 200px regardless of the size. When the text in the badge exceeds the max width, it will be truncated with an ellipsis.</p>
                                	   <p>Avoid truncation wherever possible by using shorter text in badges. The truncated text is not focusable or accessible.</p>

                                    <div class="ex"><div class="box"><div class="lozenge lozenge-s picton">A lozenge with a very long label</div></div>

                                 </section>
                                 <section id="sizing" class="tab-panel">
                                    <h4>Medium</h4>
                                    <div class="ex"><div class="box"><div class="lozenge lozenge-m carrot">DELAYED</div></div>
                                    <h4>Small</h4>
                                    <div class="ex"><div class="box"><div class="lozenge lozenge-s port">Severe delay</div></div>
                                 </section>
                                 <section id="system" class="tab-panel">
                                    <h4>Time</h4>
                                    <div class="ex"><div class="box"><div class="lozenge lozenge-s celery">EARLY</div></div>

                                    <div class="ex"><div class="box"><div class="lozenge lozenge-s lima">On time</div></div>

                                    <div class="ex"><div class="box"><div class="lozenge lozenge-s carrot">Delayed</div></div>

                                    <div class="ex"><div class="box"><div class="lozenge lozenge-s port">Severe delay</div></div>

                                    <h4>Status</h4>
                                    <div class="ex"><div class="box"><div class="lozenge lozenge-s picton">Completed</div></div>

                                    <div class="ex"><div class="box"><div class="lozenge lozenge-s lima">Open</div></div>

                                    <div class="ex"><div class="box"><div class="lozenge lozenge-s carnation">Closed</div></div>

                                    <h4>Confirmation</h4>
                                    <div class="ex"><div class="box"><div class="lozenge lozenge-s lima">Success</div></div>

                                    <div class="ex"><div class="box"><div class="lozenge lozenge-s carnation">Failed</div></div>

                                    <div class="ex"><div class="box"><div class="lozenge lozenge-s carrot">Pending</div></div>
                                 </section>
                                 <section id="usage" class="tab-panel">
                                    <h4>Operational, available, done, approved, added</h4>

                                    <div class="ex"><div class="box"><div class="lozenge lozenge-s lima">Success</div></div>

                                    <h4>Errors, declined, failed, removed, critical</h4>
                                    <div class="ex"><div class="box"><div class="lozenge lozenge-s carnation">Removed</div></div>

                                    <h4>In progress, open, modified</h4>
                                    <div class="ex"><div class="box"><div class="lozenge lozenge-s picton">In progress</div></div>
                                    
                                 </section>

                                 <section id="related" class="tab-panel">
                                 	<p>For tallies or counts, use a counter</p>
                                 	<p>To visually illustrate a status, use a lozenge</p>
                             	</section>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>