<!DOCTYPE html>
<html>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <head>
    <link rel="stylesheet" href="../style.css">
    <meta charSet="utf-8" />
    <title>Move by AnyVan | Components | Status indicators</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png" />
  </head>
  <body>
    <div id="__next">
      <div>
        <div class="ub-w_100vw ub-dspl_flex ub-flx-drct_column ub-min-h_100vh ub-box-szg_border-box">
          <nav class="nav-main-system">
            <div class="logo-box-main">
              <img class="ub-w_100px ub-h_24px ub-crsr_pointer ub-box-szg_border-box" src="../image/AnyVan-move.svg" />
            </div>
            <div class="primary-nav-system">
              <a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box" href="../index.html" rel="noopener">Home</a>
              <a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box" href="../foundations.html" rel="noopener">Foundations</a>
              <a class="css-b61p4k    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_3366FF ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box" href="../components.html" rel="noopener">Components</a>
              <a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box" href="../patterns.html" rel="noopener">Patterns</a>
              <a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box" href="../resources.html" rel="noopener">Resources</a>
            </div>
          </nav>
          <div class="ub-flx_1 ub-h_100prcnt ub-box-szg_border-box">
            <div class="ub-w_100prcnt ub-dspl_grid ub-grd-tmp-col_1c86bs ub-box-szg_border-box">
              <div class="sidebar-nav">
                <h2>Components</h2>
                <div role="tablist" class="ub-box-szg_border-box">
                  <a tabindex="0" href="alerts.html" rel="noopener">Alerts</a>
                  <a tabindex="0" href="autocomplete.html" rel="noopener">Autocomplete</a>
                  <a tabindex="0" href="avatars.html" rel="noopener">Avatars</a>
                  <a tabindex="0" href="badges.html" rel="noopener">Badges</a>
                  <a tabindex="0" href="banners.html" rel="noopener">Banners</a>
                  <a tabindex="0" href="buttons.html" rel="noopener">Buttons</a>
                  <a tabindex="0" href="checkboxes.html" rel="noopener">Checkboxes</a>
                  <a tabindex="0" href="cards.html" rel="noopener">Cards</a>
                  <a tabindex="0" href="counters.html" rel="noopener">Counters</a>
                  <a tabindex="0" href="fab.html" rel="noopener">FAB</a>
                  <a tabindex="0" href="lozenges.html" rel="noopener"> Lozenges</a>
                  <a tabindex="0" href="pills.html" rel="noopener">Pills</a>
                  <a tabindex="0" href="overlay.html" rel="noopener">Overlay</a>
                  <a tabindex="0" aria-current="page" href="status-indicators.html" rel="noopener">Status indicators</a>
                  <a tabindex="0" href="tabs.html" rel="noopener">Tabs</a>
                </div>
              </div>
              <div class="ub-w_100prcnt ub-dspl_flex ub-flx-drct_column ub-just-cnt_flex-start ub-pb_40px ub-pl_40px ub-pr_40px ub-pt_40px ub-max-w_1200px ub-box-szg_border-box">
                <div class="ub-dspl_flex ub-w_100prcnt ub-just-cnt_space-between ub-flx-drct_column ub-algn-itms_flex-start ub-box-szg_border-box">
                  <div class="ub-dspl_flex ub-w_100prcnt ub-just-cnt_space-between ub-mb_32px ub-box-szg_border-box">
                    <div class="ub-box-szg_border-box">
                      <div class="lozenge lozenge-s picton">Data</div>
                      <h1>Status indicators</h1>
                      <p>The status indicator is used to indicate the status of an item</p>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="tabset glo">
                    <input type="radio" name="tabset" id="tab1" aria-controls="overview" checked>
                    <label for="tab1">Overview</label>
                    <input type="radio" name="tabset" id="tab2" aria-controls="copy">
                    <label for="tab2">Copy</label>
                    <input type="radio" name="tabset" id="tab3" aria-controls="sizing">
                    <label for="tab3">Sizing</label>
                    <input type="radio" name="tabset" id="tab4" aria-controls="system">
                    <label for="tab4">System</label>
                    <input type="radio" name="tabset" id="tab5" aria-controls="usage">
                    <label for="tab5">Usage</label>
                    <div class="tab-panels">
                      <section id="overview" class="tab-panel">
                        <figure>
                           <div class="inner alabaster">
                              <div class="uispacer">
                                 <div class="fern status status-m"></div>
                            </div>
                          </div>
                        </figure>
                      </section>
                      <section id="copy" class="tab-panel">
                        <p>The status indicator subtly indicates the state of something to a user. It is a colored circle next to text. It is best used in a table to indicate the status of a particular item</p>

                        <figure>
                           <div class="inner alabaster">
                              <div class="uispacer">
                                 <div class="statusbox">
                                    <div class="fern status status-s"></div>
                                    <label>Completed</label>
                                  </div>
                            </div>
                          </div>
                        </figure>

                      </section>
                      <section id="sizing" class="tab-panel">
                        <h4>Large</h4>
                        <div class="ex">
                          <div class="box">
                            <div class="statusbox">
                              <div class="fern status status-l"></div>
                              <label>Completed</label>
                            </div>
                          </div>
                        </div>
                        <h4>Medium</h4>
                        <div class="ex">
                          <div class="box">
                            <div class="statusbox">
                              <div class="fern status status-m"></div>
                              <label>Completed</label>
                            </div>
                          </div>
                        </div>
                        <h4>Small</h4>
                        <div class="ex">
                          <div class="box">
                            <div class="statusbox">
                              <div class="fern status status-s"></div>
                              <label>Completed</label>
                            </div>
                          </div>
                        </div>
                        <h4>Micro</h4>
                        <div class="ex">
                          <div class="box">
                            <div class="statusbox">
                              <div class="fern status status-mi"></div>
                              <label>Completed</label>
                            </div>
                          </div>
                        </div>
                      </section>
                      <section id="system" class="tab-panel">
                        <div class="ex">
                          <div class="box">
                            <div class="statusbox">
                              <div class="fern status status-s"></div>
                              <label>Completed</label>
                            </div>
                          </div>
                        </div>
                        <div class="ex">
                          <div class="box">
                            <div class="statusbox">
                              <div class="carnation status status-s"></div>
                              <label>Suspended</label>
                            </div>
                          </div>
                        </div>
                        <div class="ex">
                          <div class="box">
                            <div class="statusbox">
                              <div class="picton status status-s"></div>
                              <label>In progress</label>
                            </div>
                          </div>
                        </div>
                        <div class="ex">
                          <div class="box">
                            <div class="statusbox">
                              <div class="biscay status status-s"></div>
                              <label>Allocated</label>
                            </div>
                          </div>
                        </div>
                        <div class="ex">
                          <div class="box">
                            <div class="statusbox">
                              <div class="lima status status-s"></div>
                              <label>Approved</label>
                            </div>
                          </div>
                        </div>
                        <div class="ex">
                          <div class="box">
                            <div class="statusbox">
                              <div class="carrot status status-s"></div>
                              <label>Pending</label>
                            </div>
                          </div>
                        </div>
                      </section>
                      <section id="usage" class="tab-panel">
                        <h4>Transport partner profile</h4>
                      </section>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>