<!DOCTYPE html>
<html>
   <meta http-equiv="content-type" content="text/html;charset=utf-8" />
   <head>
      <link rel="stylesheet" href="../style.css">
      <meta charSet="utf-8" />
      <title>Move by AnyVan | Components | Tabs</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png" />
      <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png" />
   </head>
   <body>
      <div class="ub-w_100vw ub-dspl_flex ub-flx-drct_column ub-min-h_100vh ub-box-szg_border-box">
         <nav class="nav-main-system">
            <div class="logo-box-main"><img class="ub-w_100px ub-h_24px ub-crsr_pointer ub-box-szg_border-box" src="../image/AnyVan-move.svg" /></div>
            <div class="primary-nav-system"><a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box"
               href="../index.html" rel="noopener">Home</a><a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box"
               href="../foundations.html" rel="noopener">Foundations</a><a class="css-b61p4k    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_3366FF ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box"
               href="../components.html" rel="noopener">Components</a><a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box"
               href="../patterns.html" rel="noopener">Patterns</a><a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box"
               href="../resources.html" rel="noopener">Resources</a></div>
         </nav>
         <div class="ub-flx_1 ub-h_100prcnt ub-box-szg_border-box">
            <div class="ub-w_100prcnt ub-dspl_grid ub-grd-tmp-col_1c86bs ub-box-szg_border-box">
               <div class="sidebar-nav">
                  <h2>Components</h2>
                  <div role="tablist" class="ub-box-szg_border-box">
                         <a tabindex="0" href="alerts.html" rel="noopener">Alerts</a>
                         <a tabindex="0" href="app-bars.html" rel="noopener">App bars</a>
                         <a tabindex="0" href="components/autocomplete.html" rel="noopener">Autocomplete</a>
                         <a tabindex="0" href="avatars.html" rel="noopener">Avatars</a>
                         <a tabindex="0" href="badges.html" rel="noopener">Badges</a>
                         <a tabindex="0" href="banners.html" rel="noopener">Banners</a>
                         <a tabindex="0" href="breadcrumbs.html" rel="noopener">Breadcrumbs</a>
                         <a tabindex="0" href="buttons.html" rel="noopener">Buttons</a>
                         <a tabindex="0" href="cards.html" rel="noopener">Cards</a>
                         <a tabindex="0" href="checkboxes.html" rel="noopener">Checkboxes</a>
                         <a tabindex="0" href="chips.html" rel="noopener">Chips</a>
                         <a tabindex="0" href="counters.html" rel="noopener">Counters</a>
                         <a tabindex="0" href="dialogues.html" rel="noopener">Dialogues</a>
                         <a tabindex="0" href="drawers.html" rel="noopener">Drawers</a>
                         <a tabindex="0" href="fab.html" rel="noopener">FAB</a>
                         <a tabindex="0" href="loaders.html" rel="noopener">Loaders</a>
                         <a tabindex="0" href="lozenges.html" rel="noopener">Lozenges</a>
                         <a tabindex="0" href="menus.html" rel="noopener">Menus</a>
                         <a tabindex="0" href="overlay.html" rel="noopener">Overlay</a>
                         <a tabindex="0" href="pills.html" rel="noopener">Pills</a>
                         <a tabindex="0" href="radio-buttons.html" rel="noopener">Radio buttons</a>
                         <a tabindex="0" href="search.html" rel="noopener">Search</a>
                         <a tabindex="0" href="side-sheets.html" rel="noopener">Side sheets</a>
                         <a tabindex="0" href="status-indicators.html" rel="noopener">Status indicators</a>
                         <a tabindex="0" href="swimlanes.html" rel="noopener">Swimlanes</a>
                         <a tabindex="0" href="switches.html" rel="noopener">Switches</a>
                         <a tabindex="0" href="tables.html" rel="noopener">Tables</a>
                         <a aria-current="page"tabindex="0" href="tabs.html" rel="noopener">Tabs</a>
                         <a tabindex="0" href="textarea.html" rel="noopener">Text areas</a>
                         <a tabindex="0" href="text-inputs.html" rel="noopener">Text inputs</a>
                         <a tabindex="0" href="tiles.html" rel="noopener">Tiles</a>
                         <a tabindex="0" href="toggles.html" rel="noopener">Toggles</a>
                         <a tabindex="0" href="tooltips.html" rel="noopener">Tooltips</a>
                         <a tabindex="0" href="wells.html" rel="noopener">Wells</a>
                      </div>
               </div>
               <div class="ub-w_100prcnt ub-dspl_flex ub-flx-drct_column ub-just-cnt_flex-start ub-pb_40px ub-pl_40px ub-pr_40px ub-pt_40px ub-max-w_1200px ub-box-szg_border-box">
                  <div class="ub-dspl_flex ub-w_100prcnt ub-just-cnt_space-between ub-flx-drct_column ub-algn-itms_flex-start ub-box-szg_border-box">
                     <div class="ub-dspl_flex ub-w_100prcnt ub-just-cnt_space-between ub-mb_32px ub-box-szg_border-box">
                        <div class="ub-box-szg_border-box">
                           <div class="lozenge lozenge-s picton">Navigation</div>
                           <h1>Tabs</h1>
                           <p>Tabs are used to organize content by grouping similar information or to switch between different views</p>
                        </div>
                     </div>
                  </div>
                  <div>
                     <div class="tabset glo">
                        <input type="radio" name="tabset" id="tab1" aria-controls="overview" checked>
                        <label for="tab1">Overview</label>
                        <input type="radio" name="tabset" id="tab2" aria-controls="text">
                        <label for="tab2">Sizing</label>
                        <input type="radio" name="tabset" id="tab3" aria-controls="icons">
                        <label for="tab3">Icons</label>
                        <input type="radio" name="tabset" id="tab4" aria-controls="responsive">
                        <label for="tab4">Responsive</label>
                        <input type="radio" name="tabset" id="tab5" aria-controls="specs">
                        <label for="tab5">Design</label>

                        <input type="radio" name="tabset" id="tab6" aria-controls="current">
                        <label for="tab6">Current</label>

                        <div class="tab-panels">
                           <section id="overview" class="tab-panel">
                              <figure>
                                 <div class="inner alabaster">
                                    <div class="uispacer">
                                       <div class="tabset">
                                       <input type="radio" checked>
                                       <label>Item 1</label>
                                       <input type="radio" name="tabset" id="tab2" aria-controls="usage">
                                       <label>Item 2</label>
                                       <input type="radio">
                                       <label for="tab3">Item 3</label>
                                       <input type="radio">
                                       <label for="tab4">Item 4</label>
                                       </div>
                                    </div>
                                 </div>
                              </figure>
                           </section>
                           <section id="text" class="tab-panel">
                              <section>
                                 <h4>Medium</h4>
                                 <figure>
                                    <div class="inner alabaster">
                                       <div class="uispacer">
                                          <div class="tabset">
                                          <input type="radio" checked>
                                          <label>Item 1</label>
                                          <input type="radio" name="tabset" id="tab2" aria-controls="usage">
                                          <label>Item 2</label>
                                          <input type="radio">
                                          <label for="tab3">Item 3</label>
                                          <input type="radio">
                                          <label for="tab4">Item 4</label>
                                          </div>
                                       </div>
                                    </div>
                                 </figure>
                              </section>
                              <section>
                                 <h4>Small</h4>
                                 <figure>
                                    <div class="inner alabaster">
                                       <div class="uispacer">
                                          <div class="tabset small">
                                             <input type="radio" checked>
                                             <label>Item 1</label>
                                             <input type="radio" name="tabset" id="tab2" aria-controls="usage">
                                             <label>Item 2</label>
                                             <input type="radio">
                                             <label for="tab3">Item 3</label>
                                             <input type="radio">
                                             <label for="tab4">Item 4</label>
                                          </div>
                                       </div>
                                    </div>
                                 </figure>
                              </section>
                           </section>
                           <section id="intent" class="tab-panel">
                              <section>
                                 <h4>Stacked</h4>
                                 <figure>
                                    <div class="inner alabaster">
                                       <div class="uispacer-page">
                                          <div class="tabset icons stacked">
                                             <input type="radio" checked>
                                             <label>
                                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                   viewBox="0 0 70 70" style="enable-background:new 0 0 70 70;" xml:space="preserve">
                                                   <g>
                                                      <path class="st0" d="M8.6,18.4c-1.4,1.4,1.7,4.8,1.9,6.5c0.6,5.2,0.8,15.9,0,21.1c-0.2,1.6-3.8,4.6-1.9,6.2
                                                         c2.2,1.8,4.9-2.6,6.7-2.4c10.1,1.2,24.7,3.2,38.7-0.2c1.9-0.5,5.7,4.2,7.3,2.6c2.5-2.4-2-5.4-2.4-7.3c-0.7-4.9-0.9-15,0.3-19.8
                                                         c0.4-1.8,3-5.1,1.7-7.1c-1.6-2.5-4.8,2.2-6.5,2c-26.8-2.9-29.1-0.4-38.6,0.2C14,20.4,10.8,16.2,8.6,18.4z"/>
                                                      <path class="st0" d="M52.2,27.1c-1.8,5.3-1.6,12.8,0,16.2"/>
                                                   </g>
                                                </svg>
                                                Bedroom
                                             </label>
                                             <input type="radio">
                                             <label>
                                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                   viewBox="0 0 70 70" style="enable-background:new 0 0 70 70;" xml:space="preserve">
                                                   <path class="st0" d="M14.3,51.1v3.5 M55.7,51.1v3.5 M52.7,15.4H35H17.3c-1.6,0-3,1.3-3,3v5.3h0.6c2.4,0,4.4,2,4.4,4.4v9.6
                                                      c0,0.9,0.7,1.5,1.5,1.5H35h14.3c0.7,0,1.5-0.6,1.5-1.5v-9.6c0-2.4,2-4.4,4.4-4.4h0.6v-5.3C55.7,16.8,54.4,15.4,52.7,15.4z
                                                      M57.6,23.8h-1.9h-0.6c-2.5,0-4.4,1.9-4.4,4.4v9.6c0,0.9-0.7,1.5-1.5,1.5H20.7c-0.7,0-1.5-0.6-1.5-1.5v-9.6c0-2.5-1.9-4.4-4.4-4.4
                                                      h-0.6h-1.9c-2.5,0-4.4,1.9-4.4,4.4v18c0,2.5,1.9,4.4,4.4,4.4h1.9h41.4h1.9c2.5,0,4.4-1.9,4.4-4.4v-18C62,25.7,60.1,23.8,57.6,23.8z"
                                                      />
                                                </svg>
                                                Living
                                             </label>
                                             <input type="radio">
                                             <label>
                                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                   viewBox="0 0 70 70" style="enable-background:new 0 0 70 70;" xml:space="preserve">
                                                   <path class="st0" d="M16.1,29.4h37.8 M53.9,62V14.2c0-3.4-2.7-6.2-6-6.2H22.1c-3.3,0-6,2.8-6,6.2V62 M22.1,37.7v16 M22.1,23.4v-6.2"
                                                      />
                                                   <g>
                                                      <path class="st1" d="M42.2,43.6c0.2,0,0.4-0.1,0.6-0.2c0.2-0.2,0.4-0.4,0.4-0.7l0.6-4.1c0.1-0.5-0.3-1.1-0.8-1.1l-4.1-0.6
                                                         c-0.5-0.1-1.1,0.3-1.1,0.8l-0.6,4.1c-0.1,0.5,0.3,1.1,0.8,1.1l4.1,0.6C42.1,43.6,42.1,43.6,42.2,43.6z"/>
                                                      <circle class="st1" cx="32.7" cy="46.8" r="3"/>
                                                      <path class="st1" d="M44.8,49.4l-2.6-3.9c-0.2-0.3-0.5-0.5-0.9-0.4c-0.4,0-0.7,0.3-0.8,0.6l-1.9,4.2c-0.1,0.3-0.1,0.7,0.1,1
                                                         c0.2,0.3,0.5,0.4,0.8,0.4c0,0,0,0,0.1,0l4.5-0.3c0.4,0,0.7-0.2,0.8-0.6C45.1,50.1,45,49.7,44.8,49.4z"/>
                                                   </g>
                                                </svg>
                                                Kitchen
                                             </label>
                                             <input type="radio">
                                             <label>
                                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                   viewBox="0 0 70 70" style="enable-background:new 0 0 70 70;" xml:space="preserve">
                                                   <path class="st0" d="M27.5,36.8h-4.7c-1.7,0-3-1.3-3-3V25c0-1.7,1.3-3,3-3h4.4c1.7,0,3,1.3,3,3v9.2C30.2,35.7,29,36.8,27.5,36.8z
                                                      M20.1,45v3.5 M49.8,45v3.5 M11.1,25.2V36c0,5,4,9,9,9h29.8c5,0,9-4,9-9V25.2 M62,25.2h-3.2 M11.1,25.2H8 M11.1,25.2h8.6 M30.2,25.2
                                                      h28.6 M30.2,25.2v8.7c0,1.7-1.3,3-3,3h-4.7c-1.5,0-2.7-1.2-2.7-2.7v-9 M19.8,31.3h10.4"/>
                                                </svg>
                                                Bathroom
                                             </label>
                                             <input type="radio">
                                             <label>
                                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                   viewBox="0 0 70 70" style="enable-background:new 0 0 70 70;" xml:space="preserve">
                                                   <path class="st0" d="M8,14.7h7.6l13,24 M25.6,33.2H40c0.8,0,1.5,0.3,2,0.8l4.6,4.6 M24.7,38.8h28.7c3.1,0,5.7,2.5,5.7,5.7v0.1
                                                      M30.4,49.6h20.1 M24.7,38.8v5 M24.7,38.8L15,34.1c-1.9-0.9-4.1,0.5-4.1,2.6v10c0,1.6,1.3,2.8,2.8,2.8h5.2 M24.7,43.9
                                                      c3.1,0,5.7,2.6,5.7,5.7s-2.6,5.7-5.7,5.7S19,52.7,19,49.6S21.6,43.9,24.7,43.9z M56.3,43.9c3.1,0,5.7,2.6,5.7,5.7s-2.6,5.7-5.7,5.7
                                                      s-5.7-2.6-5.7-5.7S53.2,43.9,56.3,43.9z"/>
                                                </svg>
                                                Garden
                                             </label>
                                             <input type="radio">
                                             <label>
                                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                   viewBox="0 0 70 70" style="enable-background:new 0 0 70 70;" xml:space="preserve">
                                                   <path class="st0" d="M35,39.3L35,39.3c0-0.5-0.1-0.9-0.3-1.3 M35,53.2c0,1.7-1.3,3-3,3H11c-1.7,0-3-1.3-3-3V39.3
                                                      c0-0.4,0.1-0.9,0.3-1.3 M21.5,32h-6.1c-0.8,0-1.5,0.3-2.1,0.9l-4.4,4.3c-0.2,0.2-0.4,0.5-0.6,0.8 M24.5,38H8.3 M35,39.3
                                                      c0-0.4,0.1-0.9,0.3-1.3 M35.3,38L35.3,38 M48.5,32.1h6.1c0.8,0,1.5,0.3,2.1,0.8l4.4,4.3c0.2,0.2,0.4,0.5,0.6,0.9 M35,53.2L35,53.2
                                                      c0,1.7,1.4,3,3,3h21c1.7,0,3-1.4,3-3V39.3c0-0.4-0.1-0.9-0.3-1.3 M35,53.2V39.3 M35.3,38h1.5 M35.3,38H35 M61.7,38H36.8 M35.3,38H35
                                                      M24.5,38c-1.6,0-3-1.3-3-3v-3 M21.8,19.8c0.2-0.3,0.3-0.6,0.6-0.8l4.3-4.3c0.6-0.5,1.3-0.8,2.1-0.8H35 M35,13.8h6.1
                                                      c0.8,0,1.5,0.3,2.1,0.8l4.4,4.3c0.2,0.2,0.4,0.5,0.6,0.8 M21.5,32V21.1c0-0.4,0.1-0.9,0.3-1.3 M48.5,32.1v-11c0-0.4-0.1-0.9-0.3-1.3
                                                      M48.5,32.1V35c0,1.7-1.3,3-3,3H35.3 M34.7,38h-1.5 M34.7,38H35 M24.5,38h8.7 M46.7,19.8h1.5 M35,19.8v-6 M35,13.8L35,13.8
                                                      M48.2,19.8H35 M21.8,19.8H35 M55.2,48.7v-5.3 M53,45.6l2.2-2.2l2.2,2.2 M47.5,48.7v-5.3 M45.3,45.6l2.2-2.2l2.2,2.2 M11.6,46.6
                                                      l8.7-1l0.6,5.6l-8.7,1L11.6,46.6z"/>
                                                </svg>
                                                Other
                                             </label>
                                          </div>
                                       </div>
                                    </div>
                                 </figure>
                              </section>
                              <section>
                                 <h4>Horizontal</h4>
                                 <figure>
                                    <div class="inner alabaster">
                                       <div class="uispacer-page">
                                          <div class="tabset icons horizontal">
                                             <input type="radio" checked>
                                             <label>
                                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                   viewBox="0 0 70 70" style="enable-background:new 0 0 70 70;" xml:space="preserve">
                                                   <g>
                                                      <path class="st0" d="M8.6,18.4c-1.4,1.4,1.7,4.8,1.9,6.5c0.6,5.2,0.8,15.9,0,21.1c-0.2,1.6-3.8,4.6-1.9,6.2
                                                         c2.2,1.8,4.9-2.6,6.7-2.4c10.1,1.2,24.7,3.2,38.7-0.2c1.9-0.5,5.7,4.2,7.3,2.6c2.5-2.4-2-5.4-2.4-7.3c-0.7-4.9-0.9-15,0.3-19.8
                                                         c0.4-1.8,3-5.1,1.7-7.1c-1.6-2.5-4.8,2.2-6.5,2c-26.8-2.9-29.1-0.4-38.6,0.2C14,20.4,10.8,16.2,8.6,18.4z"/>
                                                      <path class="st0" d="M52.2,27.1c-1.8,5.3-1.6,12.8,0,16.2"/>
                                                   </g>
                                                </svg>
                                                Bedroom
                                             </label>
                                             <input type="radio">
                                             <label>
                                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                   viewBox="0 0 70 70" style="enable-background:new 0 0 70 70;" xml:space="preserve">
                                                   <path class="st0" d="M14.3,51.1v3.5 M55.7,51.1v3.5 M52.7,15.4H35H17.3c-1.6,0-3,1.3-3,3v5.3h0.6c2.4,0,4.4,2,4.4,4.4v9.6
                                                      c0,0.9,0.7,1.5,1.5,1.5H35h14.3c0.7,0,1.5-0.6,1.5-1.5v-9.6c0-2.4,2-4.4,4.4-4.4h0.6v-5.3C55.7,16.8,54.4,15.4,52.7,15.4z
                                                      M57.6,23.8h-1.9h-0.6c-2.5,0-4.4,1.9-4.4,4.4v9.6c0,0.9-0.7,1.5-1.5,1.5H20.7c-0.7,0-1.5-0.6-1.5-1.5v-9.6c0-2.5-1.9-4.4-4.4-4.4
                                                      h-0.6h-1.9c-2.5,0-4.4,1.9-4.4,4.4v18c0,2.5,1.9,4.4,4.4,4.4h1.9h41.4h1.9c2.5,0,4.4-1.9,4.4-4.4v-18C62,25.7,60.1,23.8,57.6,23.8z"
                                                      />
                                                </svg>
                                                Living
                                             </label>
                                             <input type="radio">
                                             <label>
                                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                   viewBox="0 0 70 70" style="enable-background:new 0 0 70 70;" xml:space="preserve">
                                                   <path class="st0" d="M16.1,29.4h37.8 M53.9,62V14.2c0-3.4-2.7-6.2-6-6.2H22.1c-3.3,0-6,2.8-6,6.2V62 M22.1,37.7v16 M22.1,23.4v-6.2"
                                                      />
                                                   <g>
                                                      <path class="st1" d="M42.2,43.6c0.2,0,0.4-0.1,0.6-0.2c0.2-0.2,0.4-0.4,0.4-0.7l0.6-4.1c0.1-0.5-0.3-1.1-0.8-1.1l-4.1-0.6
                                                         c-0.5-0.1-1.1,0.3-1.1,0.8l-0.6,4.1c-0.1,0.5,0.3,1.1,0.8,1.1l4.1,0.6C42.1,43.6,42.1,43.6,42.2,43.6z"/>
                                                      <circle class="st1" cx="32.7" cy="46.8" r="3"/>
                                                      <path class="st1" d="M44.8,49.4l-2.6-3.9c-0.2-0.3-0.5-0.5-0.9-0.4c-0.4,0-0.7,0.3-0.8,0.6l-1.9,4.2c-0.1,0.3-0.1,0.7,0.1,1
                                                         c0.2,0.3,0.5,0.4,0.8,0.4c0,0,0,0,0.1,0l4.5-0.3c0.4,0,0.7-0.2,0.8-0.6C45.1,50.1,45,49.7,44.8,49.4z"/>
                                                   </g>
                                                </svg>
                                                Kitchen
                                             </label>
                                             <input type="radio">
                                             <label>
                                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                   viewBox="0 0 70 70" style="enable-background:new 0 0 70 70;" xml:space="preserve">
                                                   <path class="st0" d="M27.5,36.8h-4.7c-1.7,0-3-1.3-3-3V25c0-1.7,1.3-3,3-3h4.4c1.7,0,3,1.3,3,3v9.2C30.2,35.7,29,36.8,27.5,36.8z
                                                      M20.1,45v3.5 M49.8,45v3.5 M11.1,25.2V36c0,5,4,9,9,9h29.8c5,0,9-4,9-9V25.2 M62,25.2h-3.2 M11.1,25.2H8 M11.1,25.2h8.6 M30.2,25.2
                                                      h28.6 M30.2,25.2v8.7c0,1.7-1.3,3-3,3h-4.7c-1.5,0-2.7-1.2-2.7-2.7v-9 M19.8,31.3h10.4"/>
                                                </svg>
                                                Bathroom
                                             </label>
                                             <input type="radio">
                                             <label>
                                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                   viewBox="0 0 70 70" style="enable-background:new 0 0 70 70;" xml:space="preserve">
                                                   <path class="st0" d="M8,14.7h7.6l13,24 M25.6,33.2H40c0.8,0,1.5,0.3,2,0.8l4.6,4.6 M24.7,38.8h28.7c3.1,0,5.7,2.5,5.7,5.7v0.1
                                                      M30.4,49.6h20.1 M24.7,38.8v5 M24.7,38.8L15,34.1c-1.9-0.9-4.1,0.5-4.1,2.6v10c0,1.6,1.3,2.8,2.8,2.8h5.2 M24.7,43.9
                                                      c3.1,0,5.7,2.6,5.7,5.7s-2.6,5.7-5.7,5.7S19,52.7,19,49.6S21.6,43.9,24.7,43.9z M56.3,43.9c3.1,0,5.7,2.6,5.7,5.7s-2.6,5.7-5.7,5.7
                                                      s-5.7-2.6-5.7-5.7S53.2,43.9,56.3,43.9z"/>
                                                </svg>
                                                Garden
                                             </label>
                                             <input type="radio">
                                             <label>
                                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                   viewBox="0 0 70 70" style="enable-background:new 0 0 70 70;" xml:space="preserve">
                                                   <path class="st0" d="M35,39.3L35,39.3c0-0.5-0.1-0.9-0.3-1.3 M35,53.2c0,1.7-1.3,3-3,3H11c-1.7,0-3-1.3-3-3V39.3
                                                      c0-0.4,0.1-0.9,0.3-1.3 M21.5,32h-6.1c-0.8,0-1.5,0.3-2.1,0.9l-4.4,4.3c-0.2,0.2-0.4,0.5-0.6,0.8 M24.5,38H8.3 M35,39.3
                                                      c0-0.4,0.1-0.9,0.3-1.3 M35.3,38L35.3,38 M48.5,32.1h6.1c0.8,0,1.5,0.3,2.1,0.8l4.4,4.3c0.2,0.2,0.4,0.5,0.6,0.9 M35,53.2L35,53.2
                                                      c0,1.7,1.4,3,3,3h21c1.7,0,3-1.4,3-3V39.3c0-0.4-0.1-0.9-0.3-1.3 M35,53.2V39.3 M35.3,38h1.5 M35.3,38H35 M61.7,38H36.8 M35.3,38H35
                                                      M24.5,38c-1.6,0-3-1.3-3-3v-3 M21.8,19.8c0.2-0.3,0.3-0.6,0.6-0.8l4.3-4.3c0.6-0.5,1.3-0.8,2.1-0.8H35 M35,13.8h6.1
                                                      c0.8,0,1.5,0.3,2.1,0.8l4.4,4.3c0.2,0.2,0.4,0.5,0.6,0.8 M21.5,32V21.1c0-0.4,0.1-0.9,0.3-1.3 M48.5,32.1v-11c0-0.4-0.1-0.9-0.3-1.3
                                                      M48.5,32.1V35c0,1.7-1.3,3-3,3H35.3 M34.7,38h-1.5 M34.7,38H35 M24.5,38h8.7 M46.7,19.8h1.5 M35,19.8v-6 M35,13.8L35,13.8
                                                      M48.2,19.8H35 M21.8,19.8H35 M55.2,48.7v-5.3 M53,45.6l2.2-2.2l2.2,2.2 M47.5,48.7v-5.3 M45.3,45.6l2.2-2.2l2.2,2.2 M11.6,46.6
                                                      l8.7-1l0.6,5.6l-8.7,1L11.6,46.6z"/>
                                                </svg>
                                                Other
                                             </label>
                                          </div>
                                       </div>
                                    </div>
                                 </figure>
                              </section>
                           </section>
                           <section id="responsive" class="tab-panel">
                           </section>
                           <section id="specs" class="tab-panel">
                              <h4>Default</h4>
                              <figure>
                                 <img src="../image/tabs/text.png">
                              </figure>
                              <table>
                                 <thead>
                                    <tr>
                                       <th scope="col">Element</th>
                                       <th scope="col">Font size</th>
                                       <th scope="col">Notes</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <td>1</td>
                                       <td>0.79rem</td>
                                    </tr>
                                    <tr>
                                       <td>2</td>
                                       <td>0.79rem</td>
                                    </tr>
                                 </tbody>
                              </table>
                              <h4>Icons</h4>
                              <figure>
                                 <img src="../image/tabs/icons.png">
                              </figure>
                              <table>
                                 <thead>
                                    <tr>
                                       <th scope="col">Element</th>
                                       <th scope="col">Font size</th>
                                       <th scope="col">Notes</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <td>1</td>
                                       <td>0.79rem</td>
                                       <td>
                                          <p>No gap between the icon and the label as the bounding box of the icon provides enough of a gap</p>
                                    </tr>
                                    <tr>
                                       <td>2</td>
                                       <td>0.79rem</td>
                                    </tr>
                                 </tbody>
                              </table>
                           </section>
                           <section id="current" class="tab-panel">
                            <img class="deleteme" src="../image/delete-tabs/Screenshot 2021-11-23 at 14.24.08.png">

                            <img class="deleteme" src="../image/delete-tabs/Screenshot 2021-11-23 at 15.25.35.png">

                            <img class="deleteme" src="../image/delete-tabs/Screenshot 2021-11-23 at 15.28.52.png">

                            <img class="deleteme" src="../image/delete-tabs/Screenshot 2021-11-23 at 17.47.18.png">

                            <img class="deleteme" src="../image/delete-tabs/Screenshot 2021-11-23 at 17.57.32.png">

                            <img class="deleteme" src="../image/delete-tabs/Screenshot 2021-11-29 at 16.24.31.png">
                           </section>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>