<!DOCTYPE html>
<html>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <head>
    <link rel="stylesheet" href="../style.css">
    <meta charSet="utf-8" />
    <title>Move by AnyVan | Components | Text inputs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png" />
  </head>
  <body>
    <div class="ub-w_100vw ub-dspl_flex ub-flx-drct_column ub-min-h_100vh ub-box-szg_border-box">
      <nav class="nav-main-system">
        <div class="logo-box-main">
          <img class="ub-w_100px ub-h_24px ub-crsr_pointer ub-box-szg_border-box" src="../image/AnyVan-move.svg" />
        </div>
        <div class="primary-nav-system">
          <a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box" href="../index.html" rel="noopener">Home</a>
          <a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box" href="../foundations.html" rel="noopener">Foundations</a>
          <a class="css-b61p4k    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_3366FF ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box" href="../components.html" rel="noopener">Components</a>
          <a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box" href="../patterns.html" rel="noopener">Patterns</a>
          <a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box" href="../resources.html" rel="noopener">Resources</a>
        </div>
      </nav>
      <div class="ub-flx_1 ub-h_100prcnt ub-box-szg_border-box">
        <div class="ub-w_100prcnt ub-dspl_grid ub-grd-tmp-col_1c86bs ub-box-szg_border-box">
          <div class="sidebar-nav">
            <h2>Components</h2>
            <div role="tablist" class="ub-box-szg_border-box">
                         <a tabindex="0" href="alerts.html" rel="noopener">Alerts</a>
                         <a tabindex="0" href="app-bars.html" rel="noopener">App bars</a>
                         <a tabindex="0" href="components/autocomplete.html" rel="noopener">Autocomplete</a>
                         <a tabindex="0" href="avatars.html" rel="noopener">Avatars</a>
                         <a tabindex="0" href="badges.html" rel="noopener">Badges</a>
                         <a tabindex="0" href="banners.html" rel="noopener">Banners</a>
                         <a tabindex="0" href="breadcrumbs.html" rel="noopener">Breadcrumbs</a>
                         <a tabindex="0" href="buttons.html" rel="noopener">Buttons</a>
                         <a tabindex="0" href="cards.html" rel="noopener">Cards</a>
                         <a tabindex="0" href="checkboxes.html" rel="noopener">Checkboxes</a>
                         <a tabindex="0" href="chips.html" rel="noopener">Chips</a>
                         <a tabindex="0" href="counters.html" rel="noopener">Counters</a>
                         <a tabindex="0" href="dialogues.html" rel="noopener">Dialogues</a>
                         <a tabindex="0" href="drawers.html" rel="noopener">Drawers</a>
                         <a tabindex="0" href="fab.html" rel="noopener">FAB</a>
                         <a tabindex="0" href="loaders.html" rel="noopener">Loaders</a>
                         <a tabindex="0" href="lozenges.html" rel="noopener">Lozenges</a>
                         <a tabindex="0" href="menus.html" rel="noopener">Menus</a>
                         <a tabindex="0" href="overlay.html" rel="noopener">Overlay</a>
                         <a tabindex="0" href="pills.html" rel="noopener">Pills</a>
                         <a tabindex="0" href="radio-buttons.html" rel="noopener">Radio buttons</a>
                         <a tabindex="0" href="search.html" rel="noopener">Search</a>
                         <a tabindex="0" href="side-sheets.html" rel="noopener">Side sheets</a>
                         <a tabindex="0" href="status-indicators.html" rel="noopener">Status indicators</a>
                         <a tabindex="0" href="swimlanes.html" rel="noopener">Swimlanes</a>
                         <a tabindex="0" href="switches.html" rel="noopener">Switches</a>
                         <a tabindex="0" href="tables.html" rel="noopener">Tables</a>
                         <a tabindex="0" href="tabs.html" rel="noopener">Tabs</a>
                         <a tabindex="0" href="textarea.html" rel="noopener">Text areas</a>
                         <a aria-current="page" tabindex="0" href="text-inputs.html" rel="noopener">Text inputs</a>
                         <a tabindex="0" href="tiles.html" rel="noopener">Tiles</a>
                         <a tabindex="0" href="toggles.html" rel="noopener">Toggles</a>
                         <a tabindex="0" href="tooltips.html" rel="noopener">Tooltips</a>
                         <a tabindex="0" href="wells.html" rel="noopener">Wells</a>
                      </div>
          </div>
          <div class="ub-w_100prcnt ub-dspl_flex ub-flx-drct_column ub-just-cnt_flex-start ub-pb_40px ub-pl_40px ub-pr_40px ub-pt_40px ub-max-w_1200px ub-box-szg_border-box">
            <div class="ub-dspl_flex ub-w_100prcnt ub-just-cnt_space-between ub-flx-drct_column ub-algn-itms_flex-start ub-box-szg_border-box">
              <div class="ub-dspl_flex ub-w_100prcnt ub-just-cnt_space-between ub-mb_32px ub-box-szg_border-box">
                <div class="ub-box-szg_border-box">
                  <div class="lozenge lozenge-s picton">Data</div>
                  <h1>Text inputs</h1>
                  <p>The text input component allows user to type in text</p>
                </div>
              </div>
            </div>
            <div>
              <div class="tabset glo">
                <input type="radio" name="tabset" id="tab1" aria-controls="overview" checked>
                <label for="tab1">Overview</label>

                <input type="radio" name="tabset" id="tab2" aria-controls="variations">
                <label for="tab2">Variations</label>

                <input type="radio" name="tabset" id="tab3" aria-controls="current">
                <label for="tab3">Current</label>

                <div class="tab-panels">

                  <section id="overview" class="tab-panel">
                    <p>The default width of an input is 100%</p>
                  </section>

                  <section id="variations" class="tab-panel">
                  	
                    <section>
                      <h4>Date</h4>
                      <figure>
                        <div class="inner alabaster">
                          <div class="uispacer-page">
                          	<input type="date" placeholder="Date">
                          </div>
                        </div>
                      </figure>
                    </section>

                    <section>
                      <h4>Date</h4>
                      <figure>
                        <div class="inner alabaster">
                          <div class="uispacer-page">
                          	<input type="datetime-local" placeholder="Datetime Local">
                          </div>
                        </div>
                      </figure>
                    </section>

                    <section>
                      <h4>Date</h4>
                      <figure>
                        <div class="inner alabaster">
                          <div class="uispacer-page">
                          	<input type="month" placeholder="Month">
                          </div>
                        </div>
                      </figure>
                    </section>

                    <section>
                      <h4>Week</h4>
                      <figure>
                        <div class="inner alabaster">
                          <div class="uispacer-page">
                          	<input type="week" placeholder="Week">
                          </div>
                        </div>
                      </figure>
                    </section>

                    <section>
                      <h4>Time</h4>
                      <p>The time input defines a control for entering a time, without a time zone</p>
                      <figure>
                        <div class="inner alabaster">
                          <div class="uispacer-page">
                          	<input type="time" placeholder="Time">
                          </div>
                        </div>
                      </figure>
                    </section>

                    <section>
                      <h4>Text</h4>
                      <p>Text inputs are basic, single-line inputs</p>
                      <figure>
                        <div class="inner alabaster">
                          <div class="uispacer-page">
                          	<input type="time" placeholder="Time">
                          </div>
                        </div>
                      </figure>
                    </section>

                    <section>
                      <h4>Email</h4>
                      <p>The email input defines a field for an e-mail address. The input value is automatically validated to ensure it is a properly formatted e-mail address. To define an e-mail field that allows multiple e-mail addresses, add the "multiple" attribute</p>
                      <figure>
                        <div class="inner alabaster">
                          <div class="uispacer-page">
                          	<input type="email" placeholder="Email">
                          </div>
                        </div>
                      </figure>
                    </section>

                    <section>
                      <h4>Number</h4>
                      <p>The number input defines a field for entering a number. Use the following attributes to specify restrictions:</p>
                      <ul>
                      	<li>max - specifies the maximum value allowed</li>
                      	<li>min - specifies the minimum value allowed</li>
                      	<li>step - specifies the legal number intervals</li>
                      	<li>value - Specifies the default value</li>
                      </ul>

                      <figure>
                        <div class="inner alabaster">
                          <div class="uispacer-page">
                          	<input type="number" placeholder="Number">
                          </div>
                        </div>
                      </figure>
                    </section>

                    <section>
                      <h4>Password</h4>
                      <p>The password input defines a password field (characters are masked)</p>
                      
                      <figure>
                        <div class="inner alabaster">
                          <div class="uispacer-page">
                          	<input type="password" placeholder="Password">
                          </div>
                        </div>
                      </figure>
                    </section>

                  </section>
                  <section id="current" class="tab-panel">
                    <h4>V4</h4>
                    <img class="deleteme" src="../image/delete-textinput/Screenshot 2021-11-30 at 12.11.17.png">

                    <img class="deleteme" src="../image/delete-textinput/Screenshot 2021-11-30 at 12.16.45.png">

                    <h4>V5</h4>
                  	<img class="deleteme" src="../image/delete-textinput/Screenshot 2021-11-23 at 14.15.28.png">

                  	<img class="deleteme" src="../image/delete-textinput/Screenshot 2021-11-23 at 14.18.03.png">

                  	<img class="deleteme" src="../image/delete-textinput/Screenshot 2021-11-23 at 14.25.25.png">

                  	<img class="deleteme" src="../image/delete-textinput/Screenshot 2021-11-23 at 14.30.24.png">

                  	<img class="deleteme" src="../image/delete-textinput/Screenshot 2021-11-23 at 14.31.35.png">

                  	<img class="deleteme" src="../image/delete-textinput/Screenshot 2021-11-23 at 14.39.39.png">

                    <img class="deleteme" src="../image/delete-textinput/Screenshot 2021-11-23 at 15.19.23.png">

                    <img class="deleteme" src="../image/delete-textinput/Screenshot 2021-11-23 at 15.27.48.png">

                    <img class="deleteme" src="../image/delete-textinput/Screenshot 2021-11-23 at 17.56.20.png">

                    <img class="deleteme" src="../image/delete-textinput/Screenshot 2021-11-29 at 15.59.06.png">

                    <img class="deleteme" src="../image/delete-textinput/Screenshot 2021-11-29 at 17.23.57.png">

                    <img class="deleteme" src="../image/delete-textinput/Screenshot 2021-11-29 at 17.25.46.png">
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $(".grouped .drawer .handle").on("click", function() {
          $(".grouped .drawer").removeClass("active");
          $(this).parent().toggleClass("active");
        });
        $(".isolated .drawer .handle").on("click", function() {
          $(this).parent().toggleClass("active");
        });
      });
    </script>
  </body>
</html>