<!DOCTYPE html>
<html>
   <meta http-equiv="content-type" content="text/html;charset=utf-8" />
   <head>
      <link rel="stylesheet" href="../style.css">
      <meta charSet="utf-8" />
      <title>Move by AnyVan | Components | Video</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png" />
      <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png" />
   </head>
   <body>
      <div id="__next">
         <div>
            <div class="ub-w_100vw ub-dspl_flex ub-flx-drct_column ub-min-h_100vh ub-box-szg_border-box">
               <nav class="nav-main-system">
                  <div class="logo-box-main"><img class="ub-w_100px ub-h_24px ub-crsr_pointer ub-box-szg_border-box" src="../image/AnyVan-move.svg" /></div>
                  <div class="primary-nav-system"><a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box"
                     href="../index.html" rel="noopener">Home</a><a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box"
                     href="../foundations.html" rel="noopener">Foundations</a><a class="css-b61p4k    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_3366FF ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box"
                     href="../components.html" rel="noopener">Components</a><a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box"
                     href="../patterns.html" rel="noopener">Patterns</a><a class="css-12f72a9    ub-ltr-spc_-0-05px ub-fnt-fam_b77syt ub-color_696f8c ub-txt-deco_none ub-bblr_4px ub-bbrr_4px ub-btlr_4px ub-btrr_4px ub-tstn_jgs65e ub-mr_24px ub-box-szg_border-box"
                     href="../resources.html" rel="noopener">Resources</a></div>
               </nav>
               <div class="ub-flx_1 ub-h_100prcnt ub-box-szg_border-box">
                  <div class="ub-w_100prcnt ub-dspl_grid ub-grd-tmp-col_1c86bs ub-box-szg_border-box">
                     <div class="sidebar-nav">
                        <h2>Components</h2>
                        <div role="tablist" class="ub-box-szg_border-box">
                           <a tabindex="0" href="alerts.html" rel="noopener">Alerts</a>
                           <a tabindex="0" href="autocomplete.html" rel="noopener">Autocomplete</a>
                           <a tabindex="0" href="avatars.html" rel="noopener">Avatars</a>
                           <a tabindex="0" href="badges.html" rel="noopener">Badges</a>
                           <a tabindex="0" href="banners.html" rel="noopener">Banners</a>
                           <a tabindex="0" href="buttons.html" rel="noopener">Buttons</a>
                           <a tabindex="0" href="checkboxes.html"rel="noopener">Checkboxes</a>
                           <a tabindex="0" href="cards.html" rel="noopener">Cards</a>
                           <a tabindex="0" href="counters.html" rel="noopener">Counters</a>
                           <a tabindex="0" href="fab.html" rel="noopener">FAB</a>
                           <a tabindex="0" href="lozenges.html" rel="noopener">Loaders</a>
                           <a tabindex="0" href="lozenges.html" rel="noopener"> Lozenges</a>
                           <a tabindex="0" href="pills.html" rel="noopener">Pills</a>
                           <a tabindex="0" href="overlay.html" rel="noopener">Overlay</a>
                           <a tabindex="0" href="status-indicators.html" rel="noopener">Status indicators</a>
                           <a tabindex="0" href="tabs.html" rel="noopener">Tabs</a>
                           <a tabindex="0" aria-current="page"  href="tiles.html" rel="noopener">Tiles</a>
                           <a tabindex="0" href="tooltips.html" rel="noopener">Tooltips</a>
                        </div>
                     </div>
                     <div class="ub-w_100prcnt ub-dspl_flex ub-flx-drct_column ub-just-cnt_flex-start ub-pb_40px ub-pl_40px ub-pr_40px ub-pt_40px ub-max-w_1200px ub-box-szg_border-box">
                        <div class="ub-dspl_flex ub-w_100prcnt ub-just-cnt_space-between ub-flx-drct_column ub-algn-itms_flex-start ub-box-szg_border-box">
                           <div class="ub-dspl_flex ub-w_100prcnt ub-just-cnt_space-between ub-mb_32px ub-box-szg_border-box">
                              <div class="ub-box-szg_border-box">
                                 <div class="lozenge lozenge-s picton">Surface</div>
                                 <h1>Video</h1>
                                 <p>Tiles are radio buttons styled with icons or images</p>
                              </div>
                           </div>
                        </div>
                        <div>
                           <div class="tabset glo">
                              <input type="radio" name="tabset" id="tab1" aria-controls="overview" checked>
                              <label for="tab1">Overview</label>
                              <input type="radio" name="tabset" id="tab2" aria-controls="variations">
                              <label for="tab2">Variations</label>
                              <input type="radio" name="tabset" id="tab3" aria-controls="responsive">
                              <label for="tab3">Responsive</label>
                              <div class="tab-panels">
                                 <section id="overview" class="tab-panel">
                                    <figure>
                                       <div class="inner alabaster">
                                          <div class="uispacer-page">
                                             
                                          </div>
                                       </div>
                                    </figure>
                                 </section>
                                 <section id="variations" class="tab-panel">
                                    <h4>With descriptors</h4>
                                    <figure>
                                       <div class="inner alabaster">
                                          <div class="uispacer-page">
                                             <div class="radio-tile-group">
                                                <div class="input-container">
                                                   <input id="standard" class="radio-button" type="radio" name="radio" />
                                                   <div class="radio-tile">
                                                      <div class="icon standard-icon">
                                                         <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M0 0h24v24H0z" fill="none"/>
                                                            <path d="M13.5 5.5c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zM9.8 8.9L7 23h2.1l1.8-8 2.1 2v6h2v-7.5l-2.1-2 .6-3C14.8 12 16.8 13 19 13v-2c-1.9 0-3.5-1-4.3-2.4l-1-1.6c-.4-.6-1-1-1.7-1-.3 0-.5.1-.8.1L6 8.3V13h2V9.6l1.8-.7"/>
                                                         </svg>
                                                      </div>
                                                      <label for="standard" class="radio-tile-label">Standard</label>
                                                      <p>sds</p>
                                                   </div>
                                                </div>
                                                <div class="input-container">
                                                   <input id="premium" class="radio-button" type="radio" name="radio" />
                                                   <div class="radio-tile">
                                                      <div class="icon premium-icon">
                                                         <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M0 0h24v24H0z" fill="none"/>
                                                            <path d="M15.5 5.5c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zM5 12c-2.8 0-5 2.2-5 5s2.2 5 5 5 5-2.2 5-5-2.2-5-5-5zm0 8.5c-1.9 0-3.5-1.6-3.5-3.5s1.6-3.5 3.5-3.5 3.5 1.6 3.5 3.5-1.6 3.5-3.5 3.5zm5.8-10l2.4-2.4.8.8c1.3 1.3 3 2.1 5.1 2.1V9c-1.5 0-2.7-.6-3.6-1.5l-1.9-1.9c-.5-.4-1-.6-1.6-.6s-1.1.2-1.4.6L7.8 8.4c-.4.4-.6.9-.6 1.4 0 .6.2 1.1.6 1.4L11 14v5h2v-6.2l-2.2-2.3zM19 12c-2.8 0-5 2.2-5 5s2.2 5 5 5 5-2.2 5-5-2.2-5-5-5zm0 8.5c-1.9 0-3.5-1.6-3.5-3.5s1.6-3.5 3.5-3.5 3.5 1.6 3.5 3.5-1.6 3.5-3.5 3.5z"/>
                                                         </svg>
                                                      </div>
                                                      <label for="premium" class="radio-tile-label">Premium</label>
                                                   </div>
                                                </div>
                                                <div class="input-container">
                                                   <input id="custom" class="radio-button" type="radio" name="radio" />
                                                   <div class="radio-tile">
                                                      <div class="icon car-icon">
                                                         <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M18.92 6.01C18.72 5.42 18.16 5 17.5 5h-11c-.66 0-1.21.42-1.42 1.01L3 12v8c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-1h12v1c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-8l-2.08-5.99zM6.5 16c-.83 0-1.5-.67-1.5-1.5S5.67 13 6.5 13s1.5.67 1.5 1.5S7.33 16 6.5 16zm11 0c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zM5 11l1.5-4.5h11L19 11H5z"/>
                                                            <path d="M0 0h24v24H0z" fill="none"/>
                                                         </svg>
                                                      </div>
                                                      <label for="custom" class="radio-tile-label">Custom</label>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </figure>

                                    <h4>Inactive</h4>
                                    <figure>
                                       <div class="inner alabaster">
                                          <div class="uispacer-page">
                                             <div class="radio-tile-group">
                                                <div class="input-container disabled">
                                                   <input id="standard" class="radio-button" type="radio" name="radio" />
                                                   <div class="radio-tile">
                                                      <div class="icon standard-icon">
                                                         <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 70 70" style="enable-background:new 0 0 70 70;" xml:space="preserve">
<g>
   <path class="st0" d="M59.4,23.6L49.2,14c-0.6-0.5-1.4-0.8-2.1-0.8H23c-0.8,0-1.6,0.3-2.1,0.8l-10.3,9.6"/>
   <path class="st0" d="M10.5,34.9v15.7c0,3.5,2.8,6.3,6.3,6.3h36.4c3.5,0,6.3-2.8,6.3-6.3V34.9"/>
   <line class="st0" x1="22.9" y1="23.6" x2="22.9" y2="13.1"/>
   <path class="st0" d="M27.2,34.9v6.6c0,0.7,0.7,1.3,1.5,1l6.1-1.8c0.2-0.1,0.4-0.1,0.6,0l6.1,1.8c0.7,0.2,1.5-0.3,1.5-1v-6.6"/>
   <g>
      <path class="st0" d="M59.4,23.6l2.4,7.2c0.6,2-0.8,4.1-2.9,4.1H11.1c-2.1,0-3.7-2.1-2.9-4.1l2.4-7.2
         C10.6,23.6,59.4,23.6,59.4,23.6z"/>
   </g>
</g>
</svg>
                                                      </div>
                                                      <label for="standard" class="radio-tile-label">Standard</label>
                                                   </div>
                                                </div>
                                                <div class="input-container">
                                                   <input id="premium" class="radio-button" type="radio" name="radio" />
                                                   <div class="radio-tile">
                                                      <div class="icon premium-icon">
                                                         <svg enable-background="new 0 0 70 70" version="1.1" viewBox="0 0 70 70" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><path class="st0" d="m49.6 33.7 3.4 6.9c0.1 0.2 0.3 0.4 0.7 0.5l7.6 1.1c0.7 0.1 1 1 0.5 1.4l-5.5 5.4c-0.2 0.2-0.3 0.5-0.2 0.7l1.3 7.5c0.1 0.7-0.6 1.2-1.2 0.9l-6.8-3.6c-0.2-0.2-0.6-0.2-0.8 0l-6.8 3.6c-0.7 0.3-1.3-0.2-1.2-0.9l1.3-7.5c0.1-0.2-0.1-0.6-0.2-0.7l-5.5-5.4c-0.5-0.5-0.2-1.3 0.5-1.4l7.6-1.1c0.2 0 0.5-0.2 0.7-0.5l3.4-6.9c0.1-0.6 0.9-0.6 1.2 0zm-23.4 8.1-10.7-0.8c-0.7-0.1-1.2-0.7-1.2-1.5l0.3-4.8c0.1-0.8 0.7-1.4 1.3-1.3l10.7 0.7c0.7 0.1 1.2 0.7 1.2 1.5l-0.3 4.8c0 0.9-0.6 1.5-1.3 1.4zm-17.7-20.2c-0.3 0.7-0.5 1.4-0.5 2.2v23c0 2.7 2.2 5 5 5h28.5m10.6-30.2c-0.3-0.5-0.6-1-1-1.4l-7.3-7c-0.9-0.9-2.1-1.4-3.5-1.4h-10m22.3 28.2v-16.2c0-0.7-0.2-1.5-0.5-2.1m-21.8-9.9h-10.2c-1.3 0-2.6 0.5-3.5 1.4l-7.2 7c-0.4 0.4-0.7 0.9-1 1.4m0.1 0h21.8m21.8 0h-21.8m0-9.8v9.8"/></svg>
                                                      </div>
                                                      <label for="premium" class="radio-tile-label">Premium</label>
                                                   </div>
                                                </div>
                                                <div class="input-container">
                                                   <input id="custom" class="radio-button" type="radio" name="radio" />
                                                   <div class="radio-tile">
                                                      <div class="icon car-icon">
                                                         <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M18.92 6.01C18.72 5.42 18.16 5 17.5 5h-11c-.66 0-1.21.42-1.42 1.01L3 12v8c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-1h12v1c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-8l-2.08-5.99zM6.5 16c-.83 0-1.5-.67-1.5-1.5S5.67 13 6.5 13s1.5.67 1.5 1.5S7.33 16 6.5 16zm11 0c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zM5 11l1.5-4.5h11L19 11H5z"/>
                                                            <path d="M0 0h24v24H0z" fill="none"/>
                                                         </svg>
                                                      </div>
                                                      <label for="custom" class="radio-tile-label">Custom</label>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </figure>
                                 </section>
                                 <section id="responsive" class="tab-panel">
                                    d
                                 </section>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>